
<div id="dialog-chaufferDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Cares.Web.Resources.Shared.Common.Close</span></button>
            </div>
            <div class="modal-body">
                <div class="addToBtn">
                    <button class="btn btn-default" id="saveBtn" data-dismiss="modal">@Cares.Web.Resources.Shared.Common.Cancel</button>
                </div>
                <br />
                <br />
                <br />
                <div>
                    <form class="form-horizontal">
                        <div>
                            <div class="well">
                                <table id="chaufferTable" class="table table-condensed ">
                                    <thead>
                                        <tr>
                                            <th> <span><span></span></span></th>
                                            <th> <span><span>@Cares.Web.Resources.NonRevenueTicket.Nrt.ChauffeurCode</span></span></th>
                                            <th> <span><span>@Cares.Web.Resources.NonRevenueTicket.Nrt.ChauffeurName</span></span></th>
                                            <th> <span>@Cares.Web.Resources.NonRevenueTicket.Nrt.Category<span></span></span></th>
                                            <th> <span>@Cares.Web.Resources.NonRevenueTicket.Nrt.LicenseNumber<span></span></span></th>
                                            <th> <span>@Cares.Web.Resources.NonRevenueTicket.Nrt.LicenseExpiry<span></span></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- ko template: { name: 'itemChaufferTemplate' , foreach: $root.chauffers } -->
                                        <!-- /ko -->
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <script id="itemChaufferTemplate" type="text/html">
                            <tr data-bind="click: $root.selectChauffer, css: { selectedRow: $data === $root.selectedChauffer() }">
                                <td><input type="checkbox" data-bind="checked:$root.isChaufferChecked" /></td>
                                <td data-bind="text: code"></td>
                                <td data-bind="text: name"></td>
                                <td data-bind="text: category"></td>
                                <td data-bind="text: licenseNum"></td>
                                <td data-bind="text: formattedLicenseExpiryDt"></td>
                            </tr>
                        </script>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
