
<div id="dialog-vehicleDetailDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Cares.Web.Resources.Shared.Common.Close</span></button>
            </div>
            <div class="modal-body">
                <div class="addToBtn">
                    <button class="btn btn-default" id="saveBtn" data-dismiss="modal">@Cares.Web.Resources.Shared.Common.Cancel</button>
                </div>
                <br />
                <br />
                <br />
                <div>
                    <form class="form-horizontal">
                        <div>
                            <div class="well">
                                <table id="tariffTypeTable" class="table table-condensed ">
                                    <thead>
                                        <tr>
                                            <th> <span><span></span></span></th>
                                            <th> <span><span>@Cares.Web.Resources.NonRevenueTicket.Nrt.PlateNumber</span></span></th>
                                            <th> <span><span>@Cares.Web.Resources.NonRevenueTicket.Nrt.CurrentOdemetor</span></span></th>
                                            <th class="make"> <span>@Cares.Web.Resources.NonRevenueTicket.Nrt.VehicleMake<span></span></span></th>
                                            <th class="model"> <span>@Cares.Web.Resources.NonRevenueTicket.Nrt.VehicleModel<span></span></span></th>
                                            <th class="model"> <span>@Cares.Web.Resources.NonRevenueTicket.Nrt.VehicleCategory<span></span></span></th>
                                            <th class="model"> <span>@Cares.Web.Resources.NonRevenueTicket.Nrt.VehicleStatus<span></span></span></th>
                                            <th class="model"> <span>@Cares.Web.Resources.NonRevenueTicket.Nrt.ModelYear<span></span></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- ko template: { name: 'itemVehicleTemplate', foreach: $root.clientPagerRecords } -->
                                        <!-- /ko -->
                                    </tbody>
                                </table>
                                <div class="well">
                                    <!-- ko with: clientPager -->
                                    @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                        <script id="itemVehicleTemplate" type="text/html">
                            <tr data-bind="click: $root.selectVehicle, css: { selectedRow: $data === $root.selectedVehicle() }">
                                <td><input type="checkbox" data-bind="checked:$root.isVhicleChecked" /></td>
                                <td data-bind="text: plateNumber"></td>
                                <td data-bind="text: currentOdometer"></td>
                                <td data-bind="text: vehicleMakeCodeName"></td>
                                <td data-bind="text: vehicleModelCodeName"></td>
                                <td data-bind="text: vehicleCategoryCodeName"></td>
                                <td data-bind="text: vehicleStatusCodeName"></td>
                                <td data-bind="text: modelYear"></td>
                            </tr>
                        </script>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" id="dialog-confirm-no" class="btn btn-default" data-bind="click: $root.cancel">No</button>
                    <button type="button" id="dialog-confirm-yes" class="btn btn-primary" data-bind="click: $root.proceed">Yes</button>*@
            </div>
        </div>
    </div>
</div>
