@{
    ViewBag.Title = @Cares.Web.Resources.NonRevenueTicket.NrtQueue.NRTQueueLabel;
}
<div class="row" id="nRTQueueBinding">
    <div class="row">
        <h3 class="page-header float-left pageHeaderSection">@Cares.Web.Resources.NonRevenueTicket.NrtQueue.NRTQueueLabel</h3>
        <div class="header-toolsSection">
            <a href="#" class="glyphicon glyphicon-filter " data-bind="visible: !filterSectionVisilble(), click: showFilterSection" title='@Cares.Web.Resources.Shared.Common.ShowFilter' style="display: none"></a>
        </div>
    </div>
    <div class="row searchFilterSection" data-bind="visible: filterSectionVisilble()" style="display: none">
        <div class="well">
            <form class="form-horizontal" data-bind="submit: search">
                <div class="col-xs-2 txtBox">
                    <input type="text" class="form-control" placeholder='@("<"+Cares.Web.Resources.NonRevenueTicket.NrtQueue.NRTQueueLabel+">") #' data-bind="value:nrtNumberFilter" />
                </div>
                <div class="col-xs-2">
                    <select class="form-control" data-bind="options: $root.nrtTypes, optionsText: 'NrtTypeCodeName', optionsValue: 'NrtTypeId', optionsCaption: '&lt;' +'@Cares.Web.Resources.NonRevenueTicket.NrtQueue.TicketType'+ '&gt;', value: nrtTypeFilter"></select>
                </div>
                <div class="col-xs-2 txtBox">
                    <input type="text" class="form-control" placeholder='@("<"+Cares.Web.Resources.NonRevenueTicket.NrtQueue.StartDate+">")' data-bind="datepicker:startDt" />
                </div>
                <div class="col-xs-2 txtBox">
                    <input type="text" class="form-control" placeholder='@("<"+Cares.Web.Resources.NonRevenueTicket.NrtQueue.EndDate+">")' data-bind="datepicker:endDt" />
                </div>
                <div class="col-xs-2">
                    <select class="form-control" data-bind="options: $root.raStatuses, optionsText: 'RaStatusCodeName', optionsValue: 'RaStatusId', optionsCaption: '<RA Status>', value: raStatusFilter"></select>
                </div>
                <div class="col-xs-2">
                    <select class="form-control" data-bind="options: $root.operationWorkPlaces, optionsText: 'OperationsWorkPlaceCodeName', optionsValue: 'OperationsWorkPlaceId', optionsCaption: '&lt;' +'@Cares.Web.Resources.NonRevenueTicket.NrtQueue.OpenLocation'+ '&gt;', value: openLocFilter"></select>
                </div>
                <div class="col-xs-2">
                    <select class="form-control" data-bind="options: $root.operationWorkPlaces, optionsText: 'OperationsWorkPlaceCodeName', optionsValue: 'OperationsWorkPlaceId', optionsCaption: '&lt;' +'@Cares.Web.Resources.NonRevenueTicket.NrtQueue.CloseLocation'+ '&gt;', value: closeLocFilter"></select>
                </div>
                <button type="submit" class="btn btn-success" data-bind="click: search">@Cares.Web.Resources.Shared.Common.Search</button>
                <button type="submit" class="btn btn-default" data-bind="click: reset">@Cares.Web.Resources.Shared.Common.Reset</button>
                <a href="#" class="glyphicon glyphicon-resize-small float-right collapse-filter" data-bind="click: collapseFilterSection" title='@Cares.Web.Resources.Shared.Common.HideSection'></a>
            </form>
        </div>
    </div>
    <div class="row searchFilterResultSection">
        <div class="well">
            <table id="nRTQueueTable" class="table table-condensed ">
                <thead>
                    <tr>
                        <th> <span id="1">@Cares.Web.Resources.NonRevenueTicket.NrtQueue.NRTQueueLabel #<span class="icon-up"></span></span></th>
                        <th> <span id="2">@Cares.Web.Resources.NonRevenueTicket.NrtQueue.StartDate<span></span></span></th>
                        <th> <span id="3">@Cares.Web.Resources.NonRevenueTicket.NrtQueue.EndDate<span></span></span></th>
                        <th> <span id="4">@Cares.Web.Resources.NonRevenueTicket.NrtQueue.OpenLocation<span></span></span></th>
                        <th> <span id="5">@Cares.Web.Resources.NonRevenueTicket.NrtQueue.CloseLocation<span></span></span></th>
                        <th> <span id="6">@Cares.Web.Resources.NonRevenueTicket.NrtQueue.TicketType<span></span></span></th>
                        <th> <span id="7">@Cares.Web.Resources.NonRevenueTicket.NrtQueue.Status<span></span></span></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko template: { name: 'itemNrtMainTemplate' , foreach: nrtMains } -->
                    <!-- /ko -->
                </tbody>
            </table>
            <!-- ko with: pager -->
            @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
            <!-- /ko -->
        </div>
    </div>
    <script id="editActionNrtMainTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onEditNrtMain" title=@Cares.Web.Resources.Shared.Common.Edit><span class="glyphicon glyphicon-edit"></span></a>
    </script>
    <script id="itemNrtMainTemplate" type="text/html">
        <tr>
            <td data-bind="text: nRtMainId"></td>
            <td data-bind="text: formattedStartDate"></td>
            <td data-bind="text: formattedEndDate"></td>
            <td data-bind="text: openLocCode"></td>
            <td data-bind="text: closeLocCode"></td>
            <td data-bind="text: nrtTypeCode"></td>
            <td data-bind="text: statusCode"></td>
            <td>
                <!-- ko template: { name: 'editActionNrtMainTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>
</div>

@section inlinescripts
{
    <script type="text/javascript">
        require(["nRTQueue/nRTQueue.view"]);
    </script>
}
