<div id="discountsDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="discountsDialogModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Cares.Web.Resources.Shared.Common.Close</span></button>
                <h2 class="modal-title" id="myModalLabel">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Discounts</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="well">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>@Cares.Web.Resources.RentalAgreement.RentalAgreement.PlateNo</th>
                                    <th>@Cares.Web.Resources.RentalAgreement.RentalAgreement.HireGroup</th>
                                    <th>@Cares.Web.Resources.RentalAgreement.RentalAgreement.VehicleMake</th>
                                    <th>@Cares.Web.Resources.RentalAgreement.RentalAgreement.VehicleModel</th>
                                    <th>@Cares.Web.Resources.RentalAgreement.RentalAgreement.VehicleCategory</th>
                                    <th>@Cares.Web.Resources.RentalAgreement.RentalAgreement.ModelYear</th>
                                    <th>@Cares.Web.Resources.RentalAgreement.RentalAgreement.DiscountCode</th>
                                    <th>@Cares.Web.Resources.RentalAgreement.RentalAgreement.TariffType</th>
                                    <th>@Cares.Web.Resources.RentalAgreement.RentalAgreement.DisountPercentage</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko foreach: chauffers -->
                                <tr>
                                    <td colspan="9">&nbsp;</td>
                                </tr>
                                <!-- /ko -->
                                
                                <!-- ko if: raDiscounts().length === 0 -->
                                <tr><td colspan="9">@Cares.Web.Resources.RentalAgreement.RentalAgreement.NoRecordToDisplayYet </td></tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary"
                        data-bind="click: addDiscountsToRentalAgreement.bind($data, $data, 'collapseFour')">
                    @Cares.Web.Resources.RentalAgreement.RentalAgreement.Add
                </button>
                <button type="button" class="btn" data-dismiss="modal">@Cares.Web.Resources.Shared.Common.Close</button>
            </div>
        </div>
    </div>
</div>
