<div id="raVehicleCheckListOutDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="raVehicleCheckListOutDialogModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">@Cares.Web.Resources.RentalAgreement.RentalAgreement.CheckListOut</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="well">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@Cares.Web.Resources.RentalAgreement.RentalAgreement.Name</th>
                                    <th>@Cares.Web.Resources.RentalAgreement.RentalAgreement.IsInterior</th>
                                    <th>@Cares.Web.Resources.RentalAgreement.RentalAgreement.Comments</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko foreach: $root.selectedRaHireGroup().raVehicleCheckListsOut -->
                                <tr>
                                    <td>
                                        <input type="checkbox" data-bind="checked: isSelected" />
                                    </td>
                                    <td data-bind="text: vehicleCheckListCodeName"></td>
                                    <td data-bind="text: isInterior">
                                    <td data-bind="text: comments"></td>
                                </tr>
                                <!-- /ko -->
                                <!-- ko if: $root.selectedRaHireGroup().raVehicleCheckListsOut().length === 0 -->
                                <tr>
                                    <td>&nbsp;</td>
                                    <td colspan="3">@Cares.Web.Resources.RentalAgreement.RentalAgreement.NoRecordToDisplayYet </td>
                                </tr>
                                <!-- /ko -->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">@Cares.Web.Resources.Shared.Common.Close</button>
            </div>
        </div>
    </div>
</div>
