<div id="serviceItemDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="serviceItemDialogModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">@Cares.Web.Resources.RentalAgreement.RentalAgreement.SelectInsurances</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="well">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@Cares.Web.Resources.RentalAgreement.RentalAgreement.ServiceItemCode</th>
                                    <th>@Cares.Web.Resources.RentalAgreement.RentalAgreement.ServiceItem</th>
                                    <th>@Cares.Web.Resources.RentalAgreement.RentalAgreement.ServiceType</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko foreach: serviceItems -->
                                <tr>
                                    <td>
                                        <input type="checkbox" class="addExtrasTemplate_popoverContent_isSelected" data-bind="checked: isSelected" />
                                    </td>
                                    <td data-bind="text: code"></td>
                                    <td data-bind="text: name"></td>
                                    <td data-bind="text: serviceTypeCodeName"></td>
                                </tr>
                                <!-- /ko -->
                                <!-- ko if: serviceItems().length === 0 -->
                                <tr>
                                    <td>&nbsp;</td>
                                    <td colspan="3">@Cares.Web.Resources.RentalAgreement.RentalAgreement.NoRecordToDisplayYet </td>
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bind="click: addExtrasToRentalAgreement.bind($data, $data, 'collapseOne')">
                    @Cares.Web.Resources.RentalAgreement.RentalAgreement.Add
                </button>
                <button type="button" class="btn" data-dismiss="modal">@Cares.Web.Resources.Shared.Common.Close</button>
            </div>
        </div>
    </div>
</div>
