<div id="vehicleMovementDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vehicleMovementDialogModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">@Cares.Web.Resources.RentalAgreement.RentalAgreement.VehicleMovements</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="well">
                        <form class="form-horizontal" data-bind="with: $root.selectedRaHireGroup">
                            <div class="form-group" data-bind="with: vehicle">
                                <label class="control-label col-sm-2 margin-top-10">@Cares.Web.Resources.RentalAgreement.RentalAgreement.PlateNo</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control margin-top-10 vehicleMovementTemplate_popoverContent_plateNo" data-bind="value: plateNumber" />
                                </div>
                                <label class="control-label col-sm-2 margin-top-10">@Cares.Web.Resources.RentalAgreement.RentalAgreement.TankSize</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control margin-top-10 vehicleMovementTemplate_popoverContent_tankSize" data-bind="value: tankSize" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.OutDateTime</label>
                                <div class="col-md-3" data-bind="with: vehicleMovementOut">
                                    <input type="text" class="form-control vehicleMovementTemplate_popoverContent_outDtTime" data-bind="datetimepicker: start, enable: false" />
                                </div>
                                <label class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.InDateTime</label>
                                <div class="col-md-3" data-bind="with: vehicleMovementIn">
                                    <input type="text" class="form-control vehicleMovementTemplate_popoverContent_inDtTime" data-bind="datetimepicker: start" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.OutLocation</label>
                                <div class="col-md-3" data-bind="with: vehicleMovementOut">
                                    <select class="form-control vehicleMovementTemplate_popoverContent_outLocation" data-bind="options: $root.availableLocations, optionsCaption: '<Operation>', optionsText: 'code', optionsValue: 'id', value: operationsWorkPlaceId, enable: false"></select>
                                </div>
                                <label class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.InLocation</label>
                                <div class="col-md-3" data-bind="with: vehicleMovementIn">
                                    <select class="form-control vehicleMovementTemplate_popoverContent_inLocation" data-bind="options: $root.availableLocations, optionsCaption: '<Operation>', optionsText: 'code', optionsValue: 'id', value: operationsWorkPlaceId"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.OdometerOut</label>
                                <div class="col-md-3" data-bind="with: vehicleMovementOut">
                                    <input type="text" class="form-control vehicleMovementTemplate_popoverContent_odometerOut" data-bind="value: odometer, enable: false" />
                                </div>
                                <label class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.OdometerIn</label>
                                <div class="col-md-3" data-bind="with: vehicleMovementIn">
                                    <input type="text" class="form-control vehicleMovementTemplate_popoverContent_odometerIn" data-bind="value: odometer" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.FuelOut</label>
                                <div class="col-md-3" data-bind="with: vehicleMovementOut">
                                    <input type="text" class="form-control vehicleMovementTemplate_popoverContent_fuelOut" data-bind="value: fuelLevel, enable: false" />
                                </div>
                                <label class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.FuelIn</label>
                                <div class="col-md-3" data-bind="with: vehicleMovementIn">
                                    <input type="text" class="form-control vehicleMovementTemplate_popoverContent_fuelIn" data-bind="value: fuelLevel" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.VehicleStatus</label>
                                <div class="col-md-3" data-bind="with: vehicleMovementOut">
                                    <select class="form-control vehicleMovementTemplate_popoverContent_vehicleStatusOut" data-bind="options: $root.vehicleStatuses, optionsCaption: '<Status>', optionsText: 'codeName', optionsValue: 'id', value: vehicleStatusId, enable: false"></select>
                                </div>
                                <label class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.VehicleStatus</label>
                                <div class="col-md-3" data-bind="with: vehicleMovementIn">
                                    <select class="form-control vehicleMovementTemplate_popoverContent_vehicleStatusIn" data-bind="options: $root.vehicleStatuses, optionsCaption: '<Status>', optionsText: 'codeName', optionsValue: 'id', value: vehicleStatusId"></select>
                                </div>
                            </div>
                        </form>
                    </div>
                    

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">@Cares.Web.Resources.Shared.Common.Close</button>
            </div>
        </div>
    </div>
</div>
