@{
    ViewBag.Title = Cares.Web.Resources.RentalAgreement.RentalAgreement.RentalAgreementTitle;
    ViewBag.FluidLayout = true;
    ViewBag.HideMenu = true;
    ViewBag.HideFooter = true;
}

<div id="rentalAgreementBinding">
    <div class="row">
        <button class="btn btn-primary float-left" data-bind="click: openRentalAgreement, visible: canOpen">@Cares.Web.Resources.RentalAgreement.RentalAgreement.OpenAgreement</button>
        <button class="btn btn-primary float-left" data-bind="click: updateRentalAgreement, visible: canUpdate" style="display: none">@Cares.Web.Resources.RentalAgreement.RentalAgreement.UpdateAgreement</button>
        <button class="btn float-left" data-bind="click: closeRentalAgreement, visible: canClose" style="display: none">@Cares.Web.Resources.RentalAgreement.RentalAgreement.CloseAgreement</button>

        <div class="float-left margin-left">
            <button class="btn float-left margin-button" id="extraPopoverButton" data-bind="bootstrapPopover:{elementNode: 'extraPopover', html: true, popoverId: 'extraPopoverContents'} ">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Extras <span class="badge" data-bind="text: $root.rentalAgreement().rentalAgreementServiceItems().length,visible: $root.rentalAgreement().rentalAgreementServiceItems().length > 0"></span></button>
            <button class="btn btn-info float-left margin-button" id="driverPopoverButton" data-bind="bootstrapPopover:{elementNode: 'driverPopover', html: true, popoverId: 'driverPopoverContents'} ">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Drivers <span class="badge" data-bind="visible: $root.rentalAgreement().raDrivers().length > 0, text:$root.rentalAgreement().raDrivers().length"></span></button>
            <button type="button" class="btn btn-warning float-left margin-button" id="chaufferPopoverButton" data-bind="bootstrapPopover:{elementNode: 'chaufferPopover', html: true, popoverId: 'chaufferPopoverContents'} ">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Chauffers <span class="badge" data-bind="visible: $root.rentalAgreement().raChauffers().length > 0 ,text: $root.rentalAgreement().raChauffers().length"></span></button>
            <button type="button" class="btn btn-success float-left margin-button" id="discountPopoverButton" data-bind="bootstrapPopover:{elementNode: 'discountPopover', html: true, popoverId: 'discountPopoverContents'} ">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Discounts <span class="badge" data-bind="visible: false"></span></button>
            <button type="button" class="btn btn-danger float-left margin-button" id="damagePopoverButton" data-bind="bootstrapPopover:{elementNode: 'damagePopover', html: true, popoverId: 'damagePopoverContents'} ">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Damages <span class="badge" data-bind="visible: $root.rentalAgreement().rentalAgreementAdditionalCharges().length > 0, text: $root.rentalAgreement().rentalAgreementAdditionalCharges().length"></span></button>
            <button type="button" class="btn btn-custom float-left margin-button" id="paymentPopoverButton" data-bind="bootstrapPopover:{elementNode: 'paymentPopover', html: true, popoverId: 'paymentPopoverContents'} ">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Payments <span class="badge" data-bind="visible: $root.rentalAgreement().raPayments().length > 0, text: $root.rentalAgreement().raPayments().length"></span></button>
            <button type="button" class="btn btn-billing float-left margin-button" id="billingPopoverButton" data-bind="bootstrapPopover:{elementNode: 'billingPopover', html: true, popoverId: 'billingPopoverContents'} ">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Billing <span class="badge" data-bind="visible: $root.rentalAgreement().billing().balance > 0 ,text: $root.rentalAgreement().billing().balance"></span></button>

        </div>

    </div>
    <br />

    <div id="raBilling">
        <div class="panel-group" id="accordion4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion4" href="#collapseEight">
                            @ViewBag.Title
                        </a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse in">
                    <div class="panel-body customPanel">
                        <form id="ra" class="form-horizontal" data-bind="with: rentalAgreement">
                            <div class="form-group">
                                <label for="rentalAgreementNumber" class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.RANo </label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHRANo" id="rentalAgreementNumber" data-bind="enable: false, value: id" />
                                </div>
                                <label for="rentalAgreementBookingNumber" class="control-label col-sm-2 notFirstColumn">@Cares.Web.Resources.RentalAgreement.RentalAgreement.BookingNo </label>
                                <div class="col-md-3" id="bookingNumberControl">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHBookingNo" id="rentalAgreementBookingNumber" data-bind="enable: $root.canEditBooking, value: raBookingId" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rentalAgreementDuration" class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Duration</label>
                                <div class="col-md-2 input-small">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHDays" id="rentalAgreementDuration" data-bind="value: days, enable: !id()" />
                                </div>
                                <div class="col-md-2 input-small">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHHours" id="rentalAgreementHours" data-bind="value: hours, enable: !id()" />
                                </div>
                                <div class="col-md-2 input-small">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHMins" id="rentalAgreementMins" data-bind="value: minutes, enable: !id()" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rentalAgreementStartDate" class="control-label col-sm-2"></label>
                                <div class="col-md-4 dateTimeControl">
                                    <input type="text" class="form-control dateControl" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHStartDate" id="rentalAgreementStartDate" data-bind="datetimepicker: start, enable: !id(), css:{ 'errorFill': isInvalidPeriod() }" />
                                </div>
                                <div class="col-md-4 dateTimeControl">
                                    <input type="text" class="form-control dateControl" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHEndDate" id="rentalAgreementEndDate" data-bind="datetimepicker: end, enable: !id(), css:{ 'errorFill': isInvalidPeriod() }" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rentalAgreementOperation" class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Operation</label>
                                <div class="col-md-4">
                                    <select class="form-control" id="rentalAgreementOperation" data-bind="options: $root.operations, optionsCaption: '<Operation>', optionsText: 'codeName', optionsValue: 'id', value: operationId, enable: !id(), validationTooltip: operationId"></select>
                                </div>
                                <label for="rentalAgreementOperation" id="rentalPaymentTermLabel" class="control-label col-sm-2 notFirstColumn">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Payment</label>
                                <div class="col-md-4" id="rentalPaymentTermControl">
                                    <select class="form-control" id="rentalAgreementPaymentTerm" data-bind="options: $root.paymentTerms, optionsCaption: '<Payment Term>', optionsText: 'codeName', optionsValue: 'id', value: paymentTermId, enable: !id(), validationTooltip: paymentTermId"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rentalAgreementOutLocation" class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Location</label>
                                <div class="col-md-5">
                                    <select class="form-control" id="rentalAgreementOutLocation" data-bind="options: $root.availableLocations, optionsCaption: '<Out Location>', optionsText: 'code', optionsValue: 'id', value: openLocation, enable: !id(), validationDependsOn: internalOpenLocation"></select>
                                </div>
                                <div class="col-md-4" id="returnLocationControl">
                                    <select class="form-control" id="rentalAgreementReturnLocation" data-bind="options: $root.availableLocations, optionsCaption: '<Return Location>', optionsText: 'code', optionsValue: 'id', value: closeLocation, enable: !id()"></select>
                                </div>
                            </div>
                            <div class="form-group" data-bind="with: $parent">
                                <label for="rentalAgreementHireGroup" class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.HireGroup</label>
                                <div class="col-md-9 rentalHireGroupControl">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHHireGroup" id="rentalAgreementHireGroup" data-bind="enable: canLookForHireGroups, value: hireGroupText" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title display-block">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                            @Cares.Web.Resources.RentalAgreement.RentalAgreement.Customer
                        </a>
                    </h4>
                    <div class="float-right display-block margin-right">
                        <input type="checkbox" class="float-right" data-bind="bootstrapSwitchOn: $root.isExistingBusinessPartner, switchOptions: { onText: '@Cares.Web.Resources.RentalAgreement.RentalAgreement.Existing', offText: '@Cares.Web.Resources.RentalAgreement.RentalAgreement.New', size: 'mini',offColor: 'info', state: $root.isExistingBusinessPartner()}" />
                    </div>
                    <div class="float-right display-block margin-right">
                        <input type="checkbox" class="float-right" data-bind="bootstrapSwitchOn: $root.rentalAgreement().businessPartner().isIndividual, switchOptions: { onText: '@Cares.Web.Resources.RentalAgreement.RentalAgreement.Individual', offText: '@Cares.Web.Resources.RentalAgreement.RentalAgreement.Company', size: 'mini', offColor:'info',state: $root.rentalAgreement().businessPartner().isIndividual()}" />
                    </div>

                </div>

                <div id="collapseSix" class="panel-collapse collapse in">
                    <div class="panel-body customPanel">
                        <form id="customer" class="form-horizontal" data-bind="with: rentalAgreement().businessPartner">
                            <div class="form-group">
                                <label for="customerNumber" class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.CustomerNo</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHCustomerNo" id="customerNumber" data-bind="value: customerNo, enable: !$root.rentalAgreement().id()" />
                                </div>

                                <div class="col-md-7">
                                    <select class="form-control" id="customerPaymentTerm" data-bind="options: $root.paymentTerms, optionsCaption: '<Payment Term>', optionsText: 'codeName', optionsValue: 'id', value: paymentTermId, enable: !$root.rentalAgreement().id(), validationTooltip: paymentTermId"></select>
                                </div>
                            </div>
                            <!-- ko if: isIndividual -->
                            <!-- ko with: businessPartnerIndividual -->
                            <div class="form-group">
                                <label for="customerFirstName" class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Name</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHFirstName" id="customerFirstName" data-bind="value: firstName, enable: !$root.rentalAgreement().id(), validationTooltip: firstName" />
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHLastName" id="customerLastName" data-bind="value: lastName, enable: !$root.rentalAgreement().id(), validationTooltip: lastName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerNic" class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.NIC</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHNIC" id="customerNic" data-bind="value: nicNo, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHNICExpiry" id="customerNicExpiry" data-bind="datepicker: nicExpiry, datepickerOptions: { changeMonth: true, changeYear: true }, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHNICExpiryHG" id="customerNicExpiryHijri" data-bind="calendarspicker: nicExpiryHijri, calendarspickerOptions: { instance: 'islamic' }" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerPassport" class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Passport</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHPassportNo" id="customerPassport" data-bind="value: passportNo, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHPassportExpiry" id="customerPassportExpiry" data-bind="datepicker: passportExpiry, datepickerOptions: { changeMonth: true, changeYear: true }, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHPassportExpiryHG" id="customerPassportExpiryHijri" data-bind="calendarspicker: passportExpiryHijri, calendarspickerOptions: { instance: 'islamic' }" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerLicense" class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.License</label>

                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHLicenseNo" id="customerLicense" data-bind="value: licenseNo, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHLicenseExpiry" id="customerLicenseExpiry" data-bind="datepicker: licenseExpiry, datepickerOptions: { changeMonth: true, changeYear: true }, enable: !$root.rentalAgreement().id(), css: { 'errorFill': isLicenseExpired() }" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHLicenseExpiryHG" id="customerLicenseExpiryHijri" data-bind="calendarspicker: licenseExpiryHijri, calendarspickerOptions: { instance: 'islamic' }" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerDOB" class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.DOBSponsor</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHDOB" id="customerDOB" data-bind="datepicker: dateOfBirth, enable: !$root.rentalAgreement().id(), validationTooltip: dateOfBirth, css: { 'errorFillWithValidation': !isAgeValid() }" />
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHSponsorKafeel" id="customerSponsor" />
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                            <div class="form-group" data-bind="with: businessPartnerCompany, visible: !isIndividual()" style="display: none">
                                <label for="customerCompanyCode" class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Company</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHCompanyCode" id="customerCompanyCode" data-bind="value: code, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHCompanyName" id="customerCompanyName" data-bind="value: name, enable: !$root.rentalAgreement().id()" />
                                </div>
                            </div>
                            <div class="form-group" data-bind="with: $root.rentalAgreement, visible: !isIndividual()" style="display: none">
                                <label for="renterName" class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Renter</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHName" id="renterName" data-bind="value: rentersName, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHLicenseNo" id="renterLicenseNo" data-bind="value: rentersLicenseNo, enable: !$root.rentalAgreement().id()" />
                                </div>
                                
                            </div>
                            <div class="form-group" data-bind="with: $root.rentalAgreement, visible: !isIndividual()" style="display: none">
                                <label for="renterName" class="control-label col-sm-2"></label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHLicenseExpiry" id="renterLicenseExpiry" data-bind="datepicker: rentersLicenseExpiry, datepickerOptions: { changeMonth: true, changeYear: true }, enable: !$root.rentalAgreement().id(), css: { 'errorFill': isLicenseExpired() }" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHLicenseExpiryHG" id="renterLicenseExpiryHijri" data-bind="calendarspicker: rentersLicenseExpiryHijri, calendarspickerOptions: { instance: 'islamic' }" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerPhone" class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.PhoneMobile</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHPhone" id="customerPhone" data-bind="value: homePhone, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHMobile" id="customerMobile" data-bind="value: mobile, enable: !$root.rentalAgreement().id()" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerPhone" class="control-label col-sm-2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Email</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHEmail" id="customerEmail" data-bind="value: email, enable: !$root.rentalAgreement().id(), validationTooltip: email" />
                                </div>
                            </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="raMain">

        <div class="panel-group" id="accordion3">
            <div class="panel panel-default">
                <div id="addVehiclesHeading" class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion3" href="#collapseSeven">
                            @Cares.Web.Resources.RentalAgreement.RentalAgreement.Vehicles
                        </a>
                        <a id="addVehiclesPopoverLink" class="glyphicon glyphicon-chevron-right float-right" data-bind="click: openVehicleDialog, attr:{ title: 'Add Vehicles' }"></a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse in">
                    <div class="panel-body customPanel">
                        <form id="vehicle" class="form-horizontal" data-bind="with: rentalAgreement">
                            <!-- ko foreach: rentalAgreementHireGroups -->
                            <div class="panel panel-default panelCustom" data-bind="click: $root.selectRaHireGroup, visible: $root.isLoaded" style="display: none">
                                <div class="panel-heading">
                                    <!-- ko with: vehicle -->
                                    <span class="font-em-1-3" data-bind="text: plateNumber"></span>
                                    <span class="font-em-1-3 margin-left" data-bind="text: vehicleMakeModel"></span>
                                    <!-- /ko -->
                                    <a class="float-right" data-bind="click: $parent.removeRaHireGroup, visible: canRemove"><span class="glyphicon glyphicon-remove"></span></a>
                                </div>
                                <div class="panel-collapse">
                                    <div class="form-group formGroupCustom">
                                        <br />
                                        <!-- ko with: vehicle -->
                                        <div class="clearBoth">
                                            <div class="col-md-4">
                                                <img id="vehicleImage" src="#" alt="" data-bind="attr:{ src: image }" />
                                            </div>
                                            <div class="col-md-8">
                                                <div>
                                                    <h3 data-bind="text: vehicleCategory" class="display-block"></h3>
                                                    <div class="float-right">
                                                        <div class="display-block col-sm-2">
                                                            <a id="vehicleMovementPopoverLink" data-bind="click: $root.openVehicleMovementDialog, attr: { title: 'Movement Details' }">
                                                                <img src="~/Content/Images/vehicle_movment.png" />
                                                            </a>
                                                        </div>
                                                        <div class="display-block col-sm-2">
                                                            <a id="insurancePopoverLink" data-bind="click: $root.openRaHireGroupInsuranceDialog, attr: { title: 'Insurances' }">
                                                                <img src="~/Content/Images/insurance_checklist.png" />
                                                            </a>
                                                        </div>
                                                        <div class="display-block col-sm-2">
                                                            <a data-bind="click: function(data, e){ $root.addVehicleCheckListsOutToRa($parent, e); }, attr: { title: 'CheckList Out' }">
                                                                <img src="~/Content/Images/checklist_out.png" />
                                                            </a>
                                                        </div>
                                                        <div class="display-block col-sm-2">
                                                            <a data-bind="click: function(data, e){ $root.addVehicleCheckListsInToRa($parent, e); }, attr: { title: 'CheckList In' }">
                                                                <img src="~/Content/Images/checklist_in.png" />
                                                            </a>
                                                        </div>

                                                    </div>

                                                    <hr />
                                                </div>
                                                <div class="float-left bold col-md-3">
                                                    @Cares.Web.Resources.RentalAgreement.RentalAgreement.HireGroupVehicle
                                                </div>
                                                <div class="float-left  col-md-4" data-bind="text: $parent.hireGroup"></div>
                                                <div class="float-left clearBoth bold  col-md-3">
                                                    @Cares.Web.Resources.RentalAgreement.RentalAgreement.Transmission
                                                </div>
                                                <div class="float-left  col-md-4" data-bind="text: transmissionType"></div>
                                                <div class="float-left clearBoth bold  col-md-3">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Fuel </div>
                                                <div class="float-left  col-md-4" data-bind="text: fuelType"></div>
                                                <div class="float-left clearBoth bold  col-md-3">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Model </div>
                                                <div class="float-left  col-md-4" data-bind="text: vehicleModelName"></div>
                                                <div class="float-left clearBoth bold  col-md-3">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Year</div>
                                                <div class="float-left  col-md-4" data-bind="text: modelYear"></div>
                                            </div>

                                        </div>
                                        <!-- /ko -->
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="popover" id="extraPopover">
        <div id="extraPopoverContents" class="popoverContents">
            <div id="extrasHeading">
                <button id="closeExtrasPopoverLink" type="button" class="btn btn-link float-right " data-bind="click: function(){ hidePopover('extraPopoverButton')}">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Close</button>
                <button id="addExtrasPopoverLink" type="button" class="btn btn-link float-right" data-bind="click: openExtrasDialog">@Cares.Web.Resources.RentalAgreement.RentalAgreement.AddExtras</button>
            </div>
            <div data-bind="visible: $root.rentalAgreement().rentalAgreementServiceItems().length > 0" class="clearBoth">
                <!-- ko foreach: $root.rentalAgreement().rentalAgreementServiceItems -->
                <div class="margin-top-20 clearBoth popover-panel">
                    <div class="popover-panel-heading">
                        <span data-bind="text: serviceItemCodeName"></span>
                        <a class="float-right margin-right" data-bind="click: $root.rentalAgreement().removeRaServiceItem"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                    <div class="margin-top-10">
                        <form class="form-horizontal">
                            <div class="form-group formGroupCustom">
                                <div>
                                    <label class="control-label col-md-4">
                                        @Cares.Web.Resources.RentalAgreement.RentalAgreement.StartDate
                                    </label>
                                    <label class="control-label col-md-4">
                                        @Cares.Web.Resources.RentalAgreement.RentalAgreement.EndDate
                                    </label>
                                    <label class="control-label col-md-2">
                                        @Cares.Web.Resources.RentalAgreement.RentalAgreement.Qty
                                    </label>
                                </div>
                                <br />
                                <hr />
                                <div class="clearBoth">
                                    <div class="col-md-4"><input id="startDt" type="text" class="form-control" data-bind="datetimepicker: start, validationDependsOn: internalStartDateTime, css:{ 'errorFillWithValidation': isInvalidPeriod }" /></div>
                                    <div class="col-md-4"><input id="endDt" type="text" class="form-control" data-bind="datetimepicker: end, validationDependsOn: internalEndDateTime, css:{ 'errorFillWithValidation': isInvalidPeriod }" /></div>
                                    <div class="col-sm-2"><input type="text" id="qty" class="form-control" data-bind="value: quantity, validationTooltip: quantity" /></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <div class="clearBoth no-record-found" data-bind="visible: $root.rentalAgreement().rentalAgreementServiceItems().length === 0">
                <h1>@Cares.Web.Resources.RentalAgreement.RentalAgreement.NoServiceAddedYet</h1>
            </div>
        </div>
    </div>

    <div id="driverPopover" class="popover">
        <div id="driverPopoverContents" class="popoverContents">
            <div id="driverHeading">
                <button id="closeDriverPopoverLink" type="button" class="btn btn-link float-right " data-bind="click: function(){ hidePopover('driverPopoverButton')}">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Close</button>
                <button id="addDriverLink" type="button" class="btn btn-link float-right" data-bind="click: $root.addDriverToRentalAgreement">@Cares.Web.Resources.RentalAgreement.RentalAgreement.AddNew</button>
            </div>
            <div data-bind="visible: $root.rentalAgreement().raDrivers().length > 0" class="clearBoth">
                <!-- ko foreach: $root.rentalAgreement().raDrivers -->
                <div class="margin-top-20 clearBoth popover-panel">
                    <div class="popover-panel-heading">
                        <!-- ko if: driverName -->
                        <span data-bind="text: driverName"></span>
                        <!-- /ko -->
                        <!-- ko ifnot: driverName -->
                        <span>&nbsp;</span>
                        <!-- /ko -->
                        <a class="float-right" data-bind="click: $root.rentalAgreement().removeRaDriver"><span class="glyphicon glyphicon-remove"></span></a>

                    </div>
                    <div class="margin-top-10">
                        <form class="form-horizontal">
                            <div class="form-group formGroupCustom">
                                <div>
                                    <label class="control-label col-md-4">
                                        @Cares.Web.Resources.RentalAgreement.RentalAgreement.Name
                                    </label>
                                </div>
                                <br />
                                <hr />
                                <div class="clearBoth">
                                    <div class="col-md-5 margin-bottom-10">
                                        <input type="text" class="form-control" data-bind="value: driverName, validationTooltip: driverName" />
                                    </div>
                                </div>
                                <br />
                                <div class="clearBoth">
                                    <label class="control-label col-md-4">
                                        @Cares.Web.Resources.RentalAgreement.RentalAgreement.LicenseNo
                                    </label>
                                    <label class="control-label col-md-4">
                                        @Cares.Web.Resources.RentalAgreement.RentalAgreement.LicenseExpiry
                                    </label>
                                </div>
                                <br />
                                <hr />
                                <div class="clearBoth">
                                    <div class="col-md-4 margin-bottom-10"><input type="text" class="form-control" data-bind="value: licenseNo, validationTooltip: licenseNo" /></div>
                                    <div class="col-md-4 margin-bottom-10"><input type="text" class="form-control" data-bind="datetimepicker: licenseExpDt, validationDependsOn: internalLicenseExpDateTime, css: { 'errorFillWithValidation': isLicenseExpired() }" /></div>
                                </div>
                                <br />
                                <div class="clearBoth">
                                    <label class="control-label col-md-4">
                                        @Cares.Web.Resources.RentalAgreement.RentalAgreement.StartDate
                                    </label>
                                    <label class="control-label col-md-4">
                                        @Cares.Web.Resources.RentalAgreement.RentalAgreement.EndDate
                                    </label>
                                </div>
                                <br />
                                <hr />
                                <div class="clearBoth">
                                    <div class="col-md-4 margin-bottom-10"><input id="startDt" type="text" class="form-control" data-bind="datetimepicker: start, validationDependsOn: internalStartDateTime, css: { 'errorFillWithValidation': isInvalidPeriod() }" /></div>
                                    <div class="col-md-4 margin-bottom-10"><input id="endDt" type="text" class="form-control" data-bind="datetimepicker: end, validationDependsOn: internalEndDateTime, css: { 'errorFillWithValidation': isInvalidPeriod() }" /></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <div class="clearBoth no-record-found" data-bind="visible: $root.rentalAgreement().raDrivers().length === 0">
                <h1>@Cares.Web.Resources.RentalAgreement.RentalAgreement.NoDriverAddedYet</h1>
            </div>
        </div>
    </div>

    <div class="popover" id="chaufferPopover">
        <div id="chaufferPopoverContents" class="popoverContents">
            <div id="chaufferHeading">
                <button id="closeChaufferPopoverLink" type="button" class="btn btn-link float-right " data-bind="click: function(){ hidePopover('chaufferPopoverButton')}">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Close</button>

                <button id="addChaufferPopoverLink" type="button" class="btn btn-link float-right" data-bind="click: openChaufferDialog">@Cares.Web.Resources.RentalAgreement.RentalAgreement.AddChauffer</button>
            </div>
            <div data-bind="visible: $root.rentalAgreement().raChauffers().length > 0" class="clearBoth">
                <!-- ko foreach: $root.rentalAgreement().raChauffers -->
                <div class="margin-top-20 clearBoth popover-panel">
                    <div class="popover-panel-heading">
                        <span data-bind="text: driverName"></span>
                        <a class="float-right" data-bind="click: $root.rentalAgreement().removeRaDriver"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                    <div class="margin-top-10">
                        <form class="form-horizontal">
                            <div class="form-group formGroupCustom">
                                <div>
                                    <label class="control-label col-md-4">
                                        @Cares.Web.Resources.RentalAgreement.RentalAgreement.LicenseNo
                                    </label>
                                    <label class="control-label col-md-4">
                                        @Cares.Web.Resources.RentalAgreement.RentalAgreement.LicenseExpiry
                                    </label>
                                </div>
                                <br />
                                <hr />
                                <div class="clearBoth">
                                    <div class="col-md-4"><input type="text" class="form-control" data-bind="value: licenseNo, enable: false" /></div>
                                    <div class="col-md-4"><input type="text" class="form-control" data-bind="datetimepicker: licenseExpDt, validationDependsOn: internalLicenseExpDateTime, enable: false, css: { 'errorFillWithValidation': isLicenseExpired() }" /></div>
                                </div>
                                <br />
                                <div class="clearBoth">
                                    <label class="control-label col-md-4">
                                        @Cares.Web.Resources.RentalAgreement.RentalAgreement.StartDate
                                    </label>
                                    <label class="control-label col-md-4">
                                        @Cares.Web.Resources.RentalAgreement.RentalAgreement.EndDate
                                    </label>
                                </div>
                                <br />
                                <hr />
                                <div class="clearBoth">
                                    <div class="col-md-4"><input id="startDt" type="text" class="form-control" data-bind="datetimepicker: start, validationDependsOn: internalStartDateTime, css: { 'errorFillWithValidation': isInvalidPeriod() }" /></div>
                                    <div class="col-md-4"><input id="endDt" type="text" class="form-control" data-bind="datetimepicker: end, validationDependsOn: internalEndDateTime, css: { 'errorFillWithValidation': isInvalidPeriod() }" /></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <div class="clearBoth no-record-found" data-bind="visible: $root.rentalAgreement().raChauffers().length === 0">
                <h1>@Cares.Web.Resources.RentalAgreement.RentalAgreement.NoChaufferAddedYet</h1>
            </div>
        </div>
    </div>

    <div id="discountPopover" class="popover">
        <div id="discountPopoverContents" class="popoverContents">
            <div id="discountHeading">
                <button id="closeDiscountPopoverLink" type="button" class="btn btn-link float-right " data-bind="click: function(){ hidePopover('discountPopoverButton')}">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Close</button>
                <button id="addDiscountPopoverLink" type="button" class="btn btn-link float-right" data-bind="click: openDiscountsDialog">@Cares.Web.Resources.RentalAgreement.RentalAgreement.AddDiscounts</button>
            </div>
            <div class="clearBoth">
            </div>

            <div class="clearBoth no-record-found">
                <h1>@Cares.Web.Resources.RentalAgreement.RentalAgreement.NoDiscountAddedYet</h1>
            </div>
        </div>
    </div>

    <div id="damagePopover" class="popover">
        <div id="damagePopoverContents" class="popoverContents">
            <div id="damageHeading">
                <button id="closeDamagePopoverLink" type="button" class="btn btn-link float-right " data-bind="click: function(){ hidePopover('damagePopoverButton')}">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Close</button>
                <button id="addDamagePopoverLink" type="button" class="btn btn-link float-right" data-bind="click: openAddChargesDialog, visible: rentalAgreement().id()">@Cares.Web.Resources.RentalAgreement.RentalAgreement.AddDamages</button>
            </div>
            <div data-bind="visible: $root.rentalAgreement().rentalAgreementAdditionalCharges().length > 0" class="clearBoth">
                <!-- ko foreach: $root.rentalAgreement().rentalAgreementAdditionalCharges -->
                <div class="margin-top-20 clearBoth popover-panel">
                    <div class="popover-panel-heading">
                        <span data-bind="text: additionalChargeTypeCodeName"></span>
                        <a class="float-right" data-bind="click: $root.rentalAgreement().removeRaAdditionalCharge"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                    <div class="margin-top-10">
                        <form class="form-horizontal">
                            <div class="form-group formGroupCustom">
                                <div>
                                    <label class="control-label col-sm-4">@Cares.Web.Resources.RentalAgreement.RentalAgreement.PlateNo</label>
                                    <label class="control-label col-sm-4">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Rate</label>
                                    <label class="control-label col-sm-4">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Qty</label>
                                </div>
                                <br />
                                <hr />
                                <div class="clearBoth">
                                    <div class="col-md-4">
                                        <select id="plateNumber" class="form-control" data-bind="options: $root.plateNumbers, value: plateNumber, validationTooltip: plateNumber"></select>
                                    </div>
                                    <div class="col-md-4"><input id="rate" type="text" class="form-control" data-bind="value: additionalChargeRate, validationTooltip: additionalChargeRate" /></div>
                                    <div class="col-md-4"><input type="text" class="form-control" data-bind="value: quantity, validationTooltip: quantity" /></div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <!-- /ko -->

            </div>
            <div class="clearBoth no-record-found" data-bind="visible: $root.rentalAgreement().rentalAgreementAdditionalCharges=== null || $root.rentalAgreement().rentalAgreementAdditionalCharges().length === 0">
                <h1>@Cares.Web.Resources.RentalAgreement.RentalAgreement.NoDamageAddedYet</h1>
            </div>
        </div>
    </div>

    <div id="paymentPopover" class="popover">
        <div id="paymentPopoverContents" class="popoverContents">
            <div id="paymentHeading">
                <button id="closePaymentPopoverLink" type="button" class="btn btn-link float-right " data-bind="click: function(){ hidePopover('paymentPopoverButton')}">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Close</button>
                
                <button id="addPaymentPopoverLink" type="button" class="btn btn-link float-right" data-bind="click: $root.addPaymentToRentalAgreement">@Cares.Web.Resources.RentalAgreement.RentalAgreement.AddPayment</button>
            </div>
            <div data-bind="visible: $root.rentalAgreement().raPayments().length > 0" class="clearBoth">
                <!-- ko foreach: $root.rentalAgreement().raPayments -->
                <div class="margin-top-20 clearBoth popover-panel">
                    <div class="popover-panel-heading">
                        <span>&nbsp;</span>
                        <a class="float-right" data-bind="click: $root.rentalAgreement().removeRaPayment"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                    <div class="margin-top-10">
                        <form class="form-horizontal">
                            <div class="form-group formGroupCustom">
                                <div>
                                    <label class="control-label col-sm-3">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Mode</label>
                                    <label class="control-label col-sm-3">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Date</label>
                                    <label class="control-label col-sm-3">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Amount</label>
                                </div>
                                <br />
                                <hr />
                                <div class="clearBoth">
                                    <div class="col-sm-3">
                                        <select class="form-control" id="paymentMode" data-bind="options: $root.paymentModes, optionsCaption: '<Payment Mode>', optionsText: 'codeName', optionsValue: 'id', value: paymentModeId"></select>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" data-bind="datetimepicker: paymentDt" />
                                    </div>
                                    <div class="col-md-3"><input type="text" class="form-control" data-bind="value: paymentAmount" /></div>
                                </div>
                                <br />
                                <div class="clearBoth">
                                    <label class="control-label col-sm-3">@Cares.Web.Resources.RentalAgreement.RentalAgreement.By</label>
                                    <label class="control-label col-sm-3">@Cares.Web.Resources.RentalAgreement.RentalAgreement.ChkNo</label>
                                    <label class="control-label col-sm-3">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Bank</label>
                                </div>
                                <br />
                                <hr />
                                <div class="clearBoth">
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" data-bind="value: paidBy" />
                                    </div>
                                    <div class="col-md-3"><input type="text" class="form-control" data-bind="value: checkNumber" /></div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" data-bind="value: bank" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <div class="clearBoth no-record-found" data-bind="visible: $root.rentalAgreement().raPayments().length === 0">
                <h1>@Cares.Web.Resources.RentalAgreement.RentalAgreement.NoPaymentAddedYet</h1>
            </div>
        </div>
    </div>

    <div id="billingPopover" class="popover">
        <div id="billingPopoverContents" class="popoverContents">
            <div id="billingHeading">
                <button id="closePaymentPopoverLink" type="button" class="btn btn-link float-right " data-bind="click: function(){ hidePopover('billingPopoverButton')}">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Close</button>
            </div>
            <div class="clearBoth">
                <div class="panel-body">
                    <form id="billing" class="form-horizontal" data-bind="with: rentalAgreement().billing">
                        <div class="form-group">
                            <div>
                                <span>@Cares.Web.Resources.RentalAgreement.RentalAgreement.VehicleCharge</span>
                                <span class="float-right" data-bind="text: vehicleCharge"></span>
                            </div>
                            <div>
                                <span class="Bold">@Cares.Web.Resources.RentalAgreement.RentalAgreement.NetBilling</span>
                                <span class="float-right" data-bind="text: netBilling"></span>
                            </div>
                            <div>
                                <span>@Cares.Web.Resources.RentalAgreement.RentalAgreement.ExcessMileage</span>
                                <span class="float-right" data-bind="text: excessMileage"></span>
                            </div>
                            <div>
                                <span>@Cares.Web.Resources.RentalAgreement.RentalAgreement.ServiceCharge</span>
                                <span class="float-right" data-bind="text: serviceCharge"></span>
                            </div>
                            <div>
                                <span>@Cares.Web.Resources.RentalAgreement.RentalAgreement.InsuranceCharge</span>
                                <span class="float-right" data-bind="text: insuranceCharge"></span>
                            </div>
                            <div>
                                <span>@Cares.Web.Resources.RentalAgreement.RentalAgreement.DriverCharge</span>
                                <span class="float-right" data-bind="text: driverCharge"></span>
                            </div>
                            <div>
                                <span>@Cares.Web.Resources.RentalAgreement.RentalAgreement.AdditionalCharge</span>
                                <span class="float-right" data-bind="text: additionalCharge"></span>
                            </div>
                            <div>
                                <span class="Bold">@Cares.Web.Resources.RentalAgreement.RentalAgreement.TotalCharges</span>
                                <span class="float-right" data-bind="text: totalCharges"></span>
                            </div>
                            <div>
                                <span class="Bold">@Cares.Web.Resources.RentalAgreement.RentalAgreement.AmountPaid</span>
                                <span class="float-right" data-bind="text: amountPaid"></span>
                            </div>
                            <div>
                                <span class="Bold">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Balance</span>
                                <span class="float-right" data-bind="text: balance"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>

    @Html.Partial("_HireGroupInsurancesDialog")

    @Html.Partial("_RaVehicleCheckListOutDialog")

    @Html.Partial("_RaVehicleCheckListInDialog")

    @Html.Partial("_VehicleDialog")

    @Html.Partial("_ServiceItemDialog")

    @Html.Partial("_ChaufferDialog")

    @Html.Partial("_AdditionalChargeDialog")

    @Html.Partial("_VehicleMovementDialog")

    @Html.Partial("_DiscountsDialog")

</div>

@section inlinescripts
{
    <script type="text/javascript">
        require(["rentalAgreement/rentalAgreement.view"]);

        var ist = window.ist;
        @{
            <text>
            ist.resourceText.baseDataLoadError = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.BaseDataLoadError';
            ist.resourceText.chauffersLoadError = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.ChauffersLoadError';
            ist.resourceText.serviceItemsLoadError = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.ServiceItemsLoadError';
            ist.resourceText.additionalChargesLoadError = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.AdditionalChargesLoadError';
            ist.resourceText.insurancesLoadError = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.InsurancesLoadError';
            ist.resourceText.vehiclesLoadError = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.VehiclesLoadError';
            ist.resourceText.calculateBillError = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.CalculateBillError';
            ist.resourceText.chauffer = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.Chauffer';
            ist.resourceText.driver = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.Driver';
            ist.resourceText.selected = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.Selected';
            ist.resourceText.startEndDateTimeBetweenRentalDates = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.StartEndDateTimeBetweenRentalDates';
            ist.resourceText.licenseExpiredMsg = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.LicenseExpiredMsg';
            ist.resourceText.serviceItemStartEndDateTimeBetweenRentalDates = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.ServiceItemStartEndDateTimeBetweenRentalDates';
            ist.resourceText.customerMinimumAge = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.CustomerMinimumAge';
            ist.resourceText.customerLicenseExpired = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.CustomerLicenseExpired';
            ist.resourceText.selectedChauffersAreOverlapping = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.SelectedChauffersAreOverlapping';
            ist.resourceText.vehicleNotSelected = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.VehicleNotSelected';
            ist.resourceText.fixErrorsFirstMsg = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.FixErrorsFirstMsg';
            ist.resourceText.paymentPendingMsg = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.PaymentPendingMsg';
            ist.resourceText.vehiclesNotReturned = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.VehiclesNotReturned';
            ist.resourceText.rentalAgreementLoadError = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.RentalAgreementLoadError';
            ist.resourceText.AgreementSuccess = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.AgreementSuccess';
            ist.resourceText.RequestProcessError = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.RequestProcessError';
            ist.resourceText.checklistsLoadError = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.ChecklistsLoadError';
            ist.resourceText.customerLoadError = '@Cares.Web.Resources.RentalAgreement.RentalAgreement.CustomerLoadError';
            </text>
        }

        //$(document).ready(function () {
        //    $('.popover').click(function () {
        //        return false; // Do nothing
        //    });
        //});
    </script>
}
