@{
    ViewBag.Title = "Index";
    ViewBag.FluidLayout = true;
    ViewBag.HideMenu = true;
    ViewBag.HideFooter = true;
}

<div class="row" id="rentalAgreementBinding">
    <div class="row">
        <button class="btn btn-primary" data-bind="click: openRentalAgreement, visible: canOpen">Open Agreement</button>
        <button class="btn btn-primary" data-bind="click: updateRentalAgreement, visible: canUpdate">Update Agreement</button>
        <button class="btn" data-bind="click: closeRentalAgreement, visible: canClose">Close Agreement</button>
    </div><br />
    <div id="raPanels">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div id="extrasHeading" class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Extras
                        </a>
                        <a id="addExtrasPopoverLink" class="glyphicon glyphicon-chevron-right float-right" data-bind="click: openExtrasDialog, attr:{ title: 'Add Extras' }"></a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body" data-bind="with: rentalAgreement">
                        <!-- ko foreach: rentalAgreementServiceItems -->
                        <div class="panel panel-default panelCustom">
                            <div class="panel-heading">
                                <span data-bind="text: serviceItemCodeName"></span>
                                <a class="float-right" data-bind="click: $parent.removeRaServiceItem"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                            <div class="panel-collapse">
                                <form class="form-horizontal">
                                    <div class="form-group formGroupCustom">
                                        <div>
                                            <label class="control-label col-md-4">
                                                Start Date
                                            </label>
                                            <label class="control-label col-md-4">
                                                End Date
                                            </label>
                                            <label class="control-label col-md-2">
                                                Qty
                                            </label>
                                        </div>
                                        <br />
                                        <hr />
                                        <div class="clearBoth">
                                            <div class="col-md-4"><input id="startDt" type="text" class="form-control" data-bind="datetimepicker: start, validationDependsOn: internalStartDateTime, css:{ 'errorFillWithValidation': isInvalidPeriod }" /></div>
                                            <div class="col-md-4"><input id="endDt" type="text" class="form-control" data-bind="datetimepicker: end, validationDependsOn: internalEndDateTime, css:{ 'errorFillWithValidation': isInvalidPeriod }" /></div>
                                            <div class="col-sm-2"><input type="text" id="qty" class="form-control" data-bind="value: quantity, validationTooltip: quantity" /></div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="driversHeading" class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Drivers
                        </a>
                        <a class="float-right" data-bind="click: $root.addDriverToRentalAgreement.bind($data, $data, 'collapseTwo')"><span class="glyphicon glyphicon-plus"></span></a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body" data-bind="with: rentalAgreement">
                        <!-- ko foreach: raDrivers -->
                        <div class="panel panel-default panelCustom">
                            <div class="panel-heading">
                                <!-- ko if: driverName -->
                                <span data-bind="text: driverName"></span>
                                <!-- /ko -->
                                <!-- ko ifnot: driverName -->
                                <span>&nbsp;</span>
                                <!-- /ko -->
                                <a class="float-right" data-bind="click: $parent.removeRaDriver"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                            <div class="panel-collapse">
                                <form class="form-horizontal">
                                    <div class="form-group formGroupCustom">
                                        <div>
                                            <label class="control-label col-md-4">
                                                Name
                                            </label>
                                        </div>
                                        <br />
                                        <hr />
                                        <div class="clearBoth">
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" data-bind="value: driverName, validationTooltip: driverName" />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="clearBoth">
                                            <label class="control-label col-md-4">
                                                License No
                                            </label>
                                            <label class="control-label col-md-4">
                                                License Expiry
                                            </label>
                                        </div>
                                        <br />
                                        <hr />
                                        <div class="clearBoth">
                                            <div class="col-md-4"><input type="text" class="form-control" data-bind="value: licenseNo, validationTooltip: licenseNo" /></div>
                                            <div class="col-md-4"><input type="text" class="form-control" data-bind="datetimepicker: licenseExpDt, validationDependsOn: internalLicenseExpDateTime, css: { 'errorFillWithValidation': isLicenseExpired() }" /></div>
                                        </div>
                                        <br />
                                        <div class="clearBoth">
                                            <label class="control-label col-md-4">
                                                Start Date
                                            </label>
                                            <label class="control-label col-md-4">
                                                End Date
                                            </label>
                                        </div>
                                        <br />
                                        <hr />
                                        <div class="clearBoth">
                                            <div class="col-md-4"><input id="startDt" type="text" class="form-control" data-bind="datetimepicker: start, validationDependsOn: internalStartDateTime, css: { 'errorFillWithValidation': isInvalidPeriod() }" /></div>
                                            <div class="col-md-4"><input id="endDt" type="text" class="form-control" data-bind="datetimepicker: end, validationDependsOn: internalEndDateTime, css: { 'errorFillWithValidation': isInvalidPeriod() }" /></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="chauffersHeading" class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Chauffers
                        </a>
                        <a id="addChauffersPopoverLink" class="glyphicon glyphicon-chevron-right float-right" data-bind="click: openChaufferDialog, attr:{ title: 'Add Chauffers' }"></a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body" data-bind="with: rentalAgreement">
                        <!-- ko foreach: raChauffers -->
                        <div class="panel panel-default panelCustom">
                            <div class="panel-heading">
                                <span data-bind="text: driverName"></span>
                                <a class="float-right" data-bind="click: $parent.removeRaDriver"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                            <div class="panel-collapse">
                                <form class="form-horizontal">
                                    <div class="form-group formGroupCustom">
                                        <div>
                                            <label class="control-label col-md-4">
                                                License No
                                            </label>
                                            <label class="control-label col-md-4">
                                                License Expiry
                                            </label>
                                        </div>
                                        <br />
                                        <hr />
                                        <div class="clearBoth">
                                            <div class="col-md-4"><input type="text" class="form-control" data-bind="value: licenseNo, enable: false" /></div>
                                            <div class="col-md-4"><input type="text" class="form-control" data-bind="datetimepicker: licenseExpDt, validationDependsOn: internalLicenseExpDateTime, enable: false, css: { 'errorFillWithValidation': isLicenseExpired() }" /></div>
                                        </div>
                                        <br />
                                        <div class="clearBoth">
                                            <label class="control-label col-md-4">
                                                Start Date
                                            </label>
                                            <label class="control-label col-md-4">
                                                End Date
                                            </label>
                                        </div>
                                        <br />
                                        <hr />
                                        <div class="clearBoth">
                                            <div class="col-md-4"><input id="startDt" type="text" class="form-control" data-bind="datetimepicker: start, validationDependsOn: internalStartDateTime, css: { 'errorFillWithValidation': isInvalidPeriod() }" /></div>
                                            <div class="col-md-4"><input id="endDt" type="text" class="form-control" data-bind="datetimepicker: end, validationDependsOn: internalEndDateTime, css: { 'errorFillWithValidation': isInvalidPeriod() }" /></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="discountsHeading" class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            Discounts
                        </a>
                        <a class="glyphicon glyphicon-chevron-right float-right" data-bind="click: openDiscountsDialog, attr:{ title: 'Add Discounts' }"></a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="damagesHeading" class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                            Damages
                        </a>
                        <a id="addDamagesPopoverLink" class="glyphicon glyphicon-chevron-right float-right" data-bind="click: openAddChargesDialog, visible: rentalAgreement().id(), attr:{ title: 'Add Damages' }"></a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body" data-bind="with: $root.rentalAgreement">
                        <!-- ko foreach: rentalAgreementAdditionalCharges -->
                        <div class="panel panel-default panelCustom">
                            <div class="panel-heading">
                                <span data-bind="text: additionalChargeTypeCodeName"></span>
                                <a class="float-right" data-bind="click: $parent.removeRaAdditionalCharge"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                            <div class="panel-collapse">
                                <form class="form-horizontal">
                                    <div class="form-group formGroupCustom">
                                        <div>
                                            <label class="control-label col-sm-4">Plate No.</label>
                                            <label class="control-label col-sm-4">Rate</label>
                                            <label class="control-label col-sm-4">Qty</label>
                                        </div>
                                        <br />
                                        <hr />
                                        <div class="clearBoth">
                                            <div class="col-md-4">
                                                <select id="plateNumber" class="form-control" data-bind="options: $root.plateNumbers, value: plateNumber, validationTooltip: plateNumber"></select>
                                            </div>
                                            <div class="col-md-4"><input id="rate" type="text" class="form-control" data-bind="value: additionalChargeRate, validationTooltip: additionalChargeRate" /></div>
                                            <div class="col-md-4"><input type="text" class="form-control" data-bind="value: quantity, validationTooltip: quantity" /></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="paymentsHeading" class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion" href="#collapseRaPayment">
                            Payments
                        </a>
                        <a class="float-right" data-bind="click: $root.addPaymentToRentalAgreement.bind($data, $data, 'collapseRaPayment')"><span class="glyphicon glyphicon-plus"></span></a>
                    </h4>
                </div>
                <div id="collapseRaPayment" class="panel-collapse collapse">
                    <div class="panel-body" data-bind="with: rentalAgreement">
                        <!-- ko foreach: raPayments -->
                        <div class="panel panel-default panelCustom">
                            <div class="panel-heading">
                                <span>&nbsp;</span>
                                <a class="float-right" data-bind="click: $parent.removeRaPayment"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                            <div class="panel-collapse">
                                <form class="form-horizontal">
                                    <div class="form-group formGroupCustom">
                                        <div>
                                            <label class="control-label col-sm-3">Mode</label>
                                            <label class="control-label col-sm-3">Date</label>
                                            <label class="control-label col-sm-3">Amount</label>
                                        </div>
                                        <br />
                                        <hr />
                                        <div class="clearBoth">
                                            <div class="col-sm-3">
                                                <select class="form-control" id="paymentMode" data-bind="options: $root.paymentModes, optionsCaption: '<Payment Mode>', optionsText: 'codeName', optionsValue: 'id', value: paymentModeId"></select>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" data-bind="datetimepicker: paymentDt" />
                                            </div>
                                            <div class="col-md-3"><input type="text" class="form-control" data-bind="value: paymentAmount" /></div>
                                        </div>
                                        <br />
                                        <div class="clearBoth">
                                            <label class="control-label col-sm-3">By</label>
                                            <label class="control-label col-sm-3">Chk No</label>
                                            <label class="control-label col-sm-3">Bank</label>
                                        </div>
                                        <br />
                                        <hr />
                                        <div class="clearBoth">
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" data-bind="value: paidBy" />
                                            </div>
                                            <div class="col-md-3"><input type="text" class="form-control" data-bind="value: checkNumber" /></div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" data-bind="value: bank" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="raMain">
        <div class="panel-group" id="accordion2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                            Customer
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse in">
                    <div class="panel-body customPanel">
                        <div>
                            <button type="button" id="onDutyBtn" class="btn btn-warning active" data-bind="click: setExistingFalse, css: { active: !isExistingBusinessPartner() }">New</button>
                            <button type="button" id="offDutyBtn" class="btn btn-success" data-bind="click: setExistingTrue, css: { active: isExistingBusinessPartner }">Existing</button>
                        </div><br />
                        <form id="customer" class="form-horizontal" data-bind="with: rentalAgreement().businessPartner">
                            <div class="form-group">
                                <label for="customerNumber" class="control-label col-sm-2">Customer #</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="<Customer #>" id="customerNumber" data-bind="value: customerNo, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <label for="isCustomerIndividual" id="isIndividualLabel" class="control-label col-sm-3">Is Individual</label>
                                @* ReSharper disable UnknownCssClass *@
                                <div class="col-md-1 checkBoxCol">
                                    @* ReSharper restore UnknownCssClass *@
                                    <input type="checkbox" class="form-control" id="isCustomerIndividual" data-bind="checked: isIndividual, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control" id="customerPaymentTerm" data-bind="options: $root.paymentTerms, optionsCaption: '<Payment Term>', optionsText: 'codeName', optionsValue: 'id', value: paymentTermId, enable: !$root.rentalAgreement().id(), validationTooltip: paymentTermId"></select>
                                </div>
                            </div>
                            <!-- ko if: isIndividual -->
                            <!-- ko with: businessPartnerIndividual -->
                            <div class="form-group">
                                <label for="customerFirstName" class="control-label col-sm-2">Name</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="<First Name>" id="customerFirstName" data-bind="value: firstName, enable: !$root.rentalAgreement().id(), validationTooltip: firstName" />
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="<Last Name>" id="customerLastName" data-bind="value: lastName, enable: !$root.rentalAgreement().id(), validationTooltip: lastName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerNic" class="control-label col-sm-2">NIC</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<NIC No.>" id="customerNic" data-bind="value: nicNo, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<NIC Expiry>" id="customerNicExpiry" data-bind="datepicker: nicExpiry, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<NIC Expiry HG>" id="customerNicExpiryHijri" data-bind="calendarspicker: nicExpiryHijri, calendarspickerOptions: { instance: 'islamic' }" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerPassport" class="control-label col-sm-2">Passport</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<Passport No.>" id="customerPassport" data-bind="value: passportNo, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<Passport Expiry>" id="customerPassportExpiry" data-bind="datepicker: passportExpiry, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<Passport Expiry HG>" id="customerPassportExpiryHijri" data-bind="calendarspicker: passportExpiryHijri, calendarspickerOptions: { instance: 'islamic' }" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerLicense" class="control-label col-sm-2">License</label>

                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<License No.>" id="customerLicense" data-bind="value: licenseNo, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<License Expiry>" id="customerLicenseExpiry" data-bind="datepicker: licenseExpiry, enable: !$root.rentalAgreement().id(), css: { 'errorFill': isLicenseExpired() }" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<License Expiry HG>" id="customerLicenseExpiryHijri" data-bind="calendarspicker: licenseExpiryHijri, calendarspickerOptions: { instance: 'islamic' }" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerDOB" class="control-label col-sm-2">DOB/Sponsor</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="<DOB>" id="customerDOB" data-bind="datepicker: dateOfBirth, enable: !$root.rentalAgreement().id(), validationTooltip: dateOfBirth, css: { 'errorFillWithValidation': !isAgeValid() }" />
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="<Sponsor/Kafeel>" id="customerSponsor" />
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                            <div class="form-group" data-bind="with: businessPartnerCompany, visible: !isIndividual()" style="display: none">
                                <label for="customerCompanyCode" class="control-label col-sm-2">Company</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<Company Code>" id="customerCompanyCode" data-bind="value: code, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<Company Name>" id="customerCompanyName" data-bind="value: name, enable: !$root.rentalAgreement().id()" />
                                </div>
                            </div>
                            <div class="form-group" data-bind="with: $root.rentalAgreement, visible: !isIndividual()" style="display: none">
                                <label for="renterName" class="control-label col-sm-2">Renter</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<Name>" id="renterName" data-bind="value: rentersName, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<License No>" id="renterLicenseNo" data-bind="value: rentersLicenseNo, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<License Expiry>" id="renterLicenseExpiry" data-bind="datetimepicker: rentersLicenseExpiry, enable: !$root.rentalAgreement().id(), css: { 'errorFill': isLicenseExpired() }" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerPhone" class="control-label col-sm-2">Phone/Mobile</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="<Phone>" id="customerPhone" data-bind="value: homePhone, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="<Mobile>" id="customerMobile" data-bind="value: mobile, enable: !$root.rentalAgreement().id()" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerPhone" class="control-label col-sm-2">Email</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="<Email>" id="customerEmail" data-bind="value: email, enable: !$root.rentalAgreement().id(), validationTooltip: email" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion3">
            <div class="panel panel-default">
                <div id="addVehiclesHeading" class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion3" href="#collapseSeven">
                            Vehicles
                        </a>
                        <a id="addVehiclesPopoverLink" class="glyphicon glyphicon-chevron-right float-right" data-bind="click: openVehicleDialog, attr:{ title: 'Add Vehicles' }"></a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse in">
                    <div class="panel-body customPanel">
                        <form id="vehicle" class="form-horizontal" data-bind="with: rentalAgreement">
                            <!-- ko foreach: rentalAgreementHireGroups -->
                            <div class="panel panel-default panelCustom" data-bind="click: $root.selectRaHireGroup">
                                <div class="panel-heading">
                                    <!-- ko with: vehicle -->
                                    <span data-bind="text: plateNumber"></span>
                                    <!-- /ko -->
                                    <a class="float-right" data-bind="click: $parent.removeRaHireGroup, visible: canRemove"><span class="glyphicon glyphicon-remove"></span></a>
                                </div>
                                <div class="panel-collapse">
                                    <div class="form-group formGroupCustom">
                                        <br />
                                        <!-- ko with: vehicle -->
                                        <div class="clearBoth">
                                            <div class="col-md-3">
                                                <img id="vehicleImage" src="#" alt="" data-bind="attr:{ src: image }" />
                                            </div>
                                            <div class="col-md-9">
                                                <span data-bind="text: $parent.hireGroup"></span>
                                                <span>-</span>
                                                <span data-bind="text: vehicleCategory"></span>
                                                <span>|</span>
                                                <span data-bind="text: vehicleMake"></span>
                                                <span>|</span>
                                                <span data-bind="text: vehicleModel"></span>
                                                <span>|</span>
                                                <span data-bind="text: modelYear"></span>
                                            </div>
                                            <div class="col-sm-2">
                                                <a id="vehicleMovementPopoverLink" class="glyphicon glyphicon-road" data-bind="click: $root.openVehicleMovementDialog, attr: { title: 'Movement Details' }">
                                                </a>
                                            </div>
                                            <div class="col-sm-2">
                                                <a id="insurancePopoverLink" class="insurancePopoverLink glyphicon glyphicon-briefcase" data-bind="click: $root.openRaHireGroupInsuranceDialog, attr: { title: 'Insurances' }">
                                                </a>
                                            </div>
                                            <div class="col-sm-2">
                                                <a class="glyphicon glyphicon-export" data-bind="click: function(data, e){ $root.addVehicleCheckListsOutToRa($parent, e); }, attr: { title: 'CheckList Out' }">
                                                </a>
                                            </div>
                                            <div class="col-sm-2">
                                                <a class="glyphicon glyphicon-import" data-bind="click: function(data, e){ $root.addVehicleCheckListsInToRa($parent, e); }, attr: { title: 'CheckList In' }">
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="raBilling">
        <div class="panel-group" id="accordion4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion4" href="#collapseEight">
                            Rental Agreement
                        </a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse in">
                    <div class="panel-body customPanel">
                        <form id="ra" class="form-horizontal" data-bind="with: rentalAgreement">
                            <div class="form-group">
                                <label for="rentalAgreementNumber" class="control-label col-sm-2">RA #</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="<RA #>" id="rentalAgreementNumber" data-bind="enable: false, value: id" />
                                </div>
                                <label for="rentalAgreementBookingNumber" class="control-label col-sm-2 notFirstColumn">Booking #</label>
                                <div class="col-md-3" id="bookingNumberControl">
                                    <input type="text" class="form-control" placeholder="<Booking No>" id="rentalAgreementBookingNumber" data-bind="enable: $root.canEditBooking, value: raBookingId" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rentalAgreementDuration" class="control-label col-sm-2">Duration</label>
                                <div class="col-md-2 input-small">
                                    <input type="text" class="form-control" placeholder="<Days>" id="rentalAgreementDuration" data-bind="value: days, enable: !id()" />
                                </div>
                                <div class="col-md-2 input-small">
                                    <input type="text" class="form-control" placeholder="<Hours>" id="rentalAgreementHours" data-bind="value: hours, enable: !id()" />
                                </div>
                                <div class="col-md-2 input-small">
                                    <input type="text" class="form-control" placeholder="<Mins>" id="rentalAgreementMins" data-bind="value: minutes, enable: !id()" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rentalAgreementStartDate" class="control-label col-sm-2"></label>
                                <div class="col-md-4 dateTimeControl">
                                    <input type="text" class="form-control dateControl" placeholder="<Start Date>" id="rentalAgreementStartDate" data-bind="datetimepicker: start, enable: !id(), css:{ 'errorFill': isInvalidPeriod() }" />
                                </div>
                                <div class="col-md-4 dateTimeControl">
                                    <input type="text" class="form-control dateControl" placeholder="<End Date>" id="rentalAgreementEndDate" data-bind="datetimepicker: end, enable: !id(), css:{ 'errorFill': isInvalidPeriod() }" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rentalAgreementOperation" class="control-label col-sm-2">Operation</label>
                                <div class="col-md-4">
                                    <select class="form-control" id="rentalAgreementOperation" data-bind="options: $root.operations, optionsCaption: '<Operation>', optionsText: 'codeName', optionsValue: 'id', value: operationId, enable: !id(), validationTooltip: operationId"></select>
                                </div>
                                <label for="rentalAgreementOperation" id="rentalPaymentTermLabel" class="control-label col-sm-2 notFirstColumn">Payment</label>
                                <div class="col-md-4" id="rentalPaymentTermControl">
                                    <select class="form-control" id="rentalAgreementPaymentTerm" data-bind="options: $root.paymentTerms, optionsCaption: '<Payment Term>', optionsText: 'codeName', optionsValue: 'id', value: paymentTermId, enable: !id(), validationTooltip: paymentTermId"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rentalAgreementOutLocation" class="control-label col-sm-2">Location</label>
                                <div class="col-md-5">
                                    <select class="form-control" id="rentalAgreementOutLocation" data-bind="options: $root.availableLocations, optionsCaption: '<Out Location>', optionsText: 'code', optionsValue: 'id', value: openLocation, enable: !id(), validationDependsOn: internalOpenLocation"></select>
                                </div>
                                <div class="col-md-4" id="returnLocationControl">
                                    <select class="form-control" id="rentalAgreementReturnLocation" data-bind="options: $root.availableLocations, optionsCaption: '<Return Location>', optionsText: 'code', optionsValue: 'id', value: closeLocation, enable: !id()"></select>
                                </div>
                            </div>
                            <div class="form-group" data-bind="with: $parent">
                                <label for="rentalAgreementHireGroup" class="control-label col-sm-2">Hire Group</label>
                                <div class="col-md-9 rentalHireGroupControl">
                                    <input type="text" class="form-control" placeholder="<Hire Group>" id="rentalAgreementHireGroup" data-bind="enable: canLookForHireGroups, value: hireGroupText" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion5" href="#collapseNine">
                            Billing
                        </a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form id="billing" class="form-horizontal" data-bind="with: rentalAgreement().billing">
                            <div class="form-group">
                                <div>
                                    <span>Vehicle Charge</span>
                                    <span class="float-right" data-bind="text: vehicleCharge"></span>
                                </div>
                                <div>
                                    <span class="Bold">Net Billing</span>
                                    <span class="float-right" data-bind="text: netBilling"></span>
                                </div>
                                <div>
                                    <span>Excess Mileage</span>
                                    <span class="float-right" data-bind="text: excessMileage"></span>
                                </div>
                                <div>
                                    <span>Service Charge</span>
                                    <span class="float-right" data-bind="text: serviceCharge"></span>
                                </div>
                                <div>
                                    <span>Insurance Charge</span>
                                    <span class="float-right" data-bind="text: insuranceCharge"></span>
                                </div>
                                <div>
                                    <span>Driver Charge</span>
                                    <span class="float-right" data-bind="text: driverCharge"></span>
                                </div>
                                <div>
                                    <span>Additional Charge</span>
                                    <span class="float-right" data-bind="text: additionalCharge"></span>
                                </div>
                                <div>
                                    <span class="Bold">Total Charges</span>
                                    <span class="float-right" data-bind="text: totalCharges"></span>
                                </div>
                                <div>
                                    <span class="Bold">Amount Paid</span>
                                    <span class="float-right" data-bind="text: amountPaid"></span>
                                </div>
                                <div>
                                    <span class="Bold">Balance</span>
                                    <span class="float-right" data-bind="text: balance"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_HireGroupInsurancesDialog")

    @Html.Partial("_RaVehicleCheckListOutDialog")

    @Html.Partial("_RaVehicleCheckListInDialog")

    @Html.Partial("_VehicleDialog")

    @Html.Partial("_ServiceItemDialog")

    @Html.Partial("_ChaufferDialog")

    @Html.Partial("_AdditionalChargeDialog")

    @Html.Partial("_VehicleMovementDialog")

    @Html.Partial("_DiscountsDialog")

</div>

@section inlinescripts
{
    <script type="text/javascript">
        require(["rentalAgreement/rentalAgreement.view"]);
    </script>
}
