@{
    ViewBag.Title = Cares.Web.Resources.RentalAgreement.RentalAgreement.RAQueue;
}
<div class="row" id="raQueueBinding">
    <div class="row ">
        <h3 class="page-header float-left pageHeaderSection">@Cares.Web.Resources.RentalAgreement.RentalAgreement.RAQueue</h3>
        <div class="header-toolsSection">
            <a href="#" class="glyphicon glyphicon-filter " data-bind="visible: !filterSectionVisilble(), click: showFilterSection" title='@Cares.Web.Resources.Shared.Common.ShowFilter' style="display: none"></a>
        </div>
    </div>
    <div class="row searchFilterSection" data-bind="visible: filterSectionVisilble()" style="display: none">
        <div class="well">
            <form class="form-horizontal" data-bind="submit: search">
                <div class="col-xs-2 txtBox">
                    <input type="text" class="form-control" placeholder='@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHRANo' data-bind="value:raNumber" />
                </div>
                <div class="col-xs-2">
                    <select class="form-control" data-bind="options: $root.operations, optionsText: 'OperationCodeName', optionsValue: 'OperationId', optionsCaption: '<Operation>', value: operationFilter"></select>
                </div>
                <div class="col-xs-2 txtBox">
                    <input type="text" class="form-control" placeholder='@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHStartDate' data-bind="datepicker:startDt" />
                </div>
                <div class="col-xs-2 txtBox">
                    <input type="text" class="form-control" placeholder='@Cares.Web.Resources.RentalAgreement.RentalAgreement.EndDate' data-bind="datepicker:endDt" />
                </div>
                <div class="col-xs-2">
                    <select class="form-control" data-bind="options: $root.raStatuses, optionsText: 'RaStatusCodeName', optionsValue: 'RaStatusId', optionsCaption: '<RA Status>', value: raStatusFilter"></select>
                </div>
                <div class="col-xs-2">
                    <select class="form-control" data-bind="options: $root.paymentTerms, optionsText: 'PaymentTermCodeName', optionsValue: 'PaymentTermId', optionsCaption: '<Payment Term>', value: paymentTermFilter"></select>
                </div>

                <div class="col-xs-2">
                    <select class="form-control" data-bind="options: $root.operationWorkPlaces, optionsText: 'OperationsWorkPlaceCodeName', optionsValue: 'OperationsWorkPlaceId', optionsCaption: '<Open Location>', value: openLocFilter"></select>
                </div>
                <div class="col-xs-2">
                    <select class="form-control" data-bind="options: $root.operationWorkPlaces, optionsText: 'OperationsWorkPlaceCodeName', optionsValue: 'OperationsWorkPlaceId', optionsCaption: '<Close Location>', value: closeLocFilter"></select>
                </div>
                <button type="submit" class="btn btn-success" data-bind="click: search">@Cares.Web.Resources.Shared.Common.Search</button>
                <button type="submit" class="btn btn-default" data-bind="click: reset">@Cares.Web.Resources.Shared.Common.Reset</button>
                <a href="#" class="glyphicon glyphicon-resize-small float-right collapse-filter" data-bind="click: collapseFilterSection" title='@Cares.Web.Resources.Shared.Common.HideSection'></a>
            </form>
        </div>
    </div>
    <div class="row searchFilterResultSection">
        <div class="well">
            <table id="raQueueTable" class="table table-condensed ">
                <thead>
                    <tr>
                        <th> <span id="1">@Cares.Web.Resources.RentalAgreement.RentalAgreement.RANo<span class="icon-up"></span></span></th>
                        <th> <span id="2">@Cares.Web.Resources.RentalAgreement.RentalAgreement.StartDate<span></span></span></th>
                        <th> <span id="3">@Cares.Web.Resources.RentalAgreement.RentalAgreement.EndDate<span></span></span></th>
                        <th> <span id="4">@Cares.Web.Resources.RentalAgreement.RentalAgreement.OpenLocation<span></span></span></th>
                        <th> <span id="5">@Cares.Web.Resources.RentalAgreement.RentalAgreement.CloseLocation<span></span></span></th>
                        <th> <span id="6">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Operation<span></span></span></th>
                        <th> <span id="7">@Cares.Web.Resources.RentalAgreement.RentalAgreement.Status<span></span></span></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko template: { name: 'itemRaMainTemplate' , foreach: raMains } -->
                    <!-- /ko -->
                </tbody>
            </table>
            <!-- ko with: pager -->
            @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
            <!-- /ko -->
        </div>
    </div>
    <script id="editActionRaMainTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onEditRaMain" title=@Cares.Web.Resources.Shared.Common.Edit><span class="glyphicon glyphicon-edit"></span></a>
    </script>
    <script id="itemRaMainTemplate" type="text/html">
        <tr>
            <td data-bind="text: raMainId"></td>
            <td data-bind="text: formattedStartDate"></td>
            <td data-bind="text: formattedEndDate"></td>
            <td data-bind="text: openLocCode"></td>
            <td data-bind="text: closeLocCode"></td>
            <td data-bind="text: oprationCode"></td>
            <td data-bind="text: statusCode"></td>
            <td>
                <!-- ko template: { name: 'editActionRaMainTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>
</div>

@section inlinescripts
{
    <script type="text/javascript">
        require(["raQueue/raQueue.view"]);
    </script>
}
