
<div class="well col-md-12" id="CompanyEditor" data-bind="visible: isCompanyEditorVisible , with:selectedCompany" style="display: none;">
    <div class="float-left detailsContainer">
        <h3 class="page-header detailsHeaderSection">@Cares.Web.Resources.Organization.Company.CompanyDetails</h3>
        <button class="btn  btn-info" data-bind="click:$root.onSaveCompany">@Cares.Web.Resources.Shared.Common.Save</button>
        <button class="btn  btn-default" data-bind="click:$root.onCancelCompanySave">@Cares.Web.Resources.Shared.Common.Cancel</button>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Company.CompanyCode*</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="@("<"+Cares.Web.Resources.Organization.Company.CompanyCode+">")"  data-bind="value: companyCode" />
            </div>
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Company.CompanyName*</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="@("<"+Cares.Web.Resources.Organization.Company.CompanyName+">")" data-bind="value:companyName" />
            </div>
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Company.Description</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="@("<"+Cares.Web.Resources.Organization.Company.Description+">")"  data-bind="value:companyDescription" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Company.OrganizationGroup</label>
            <div class="col-md-2">
                <select class="form-control" data-bind="options: $root.orgGroupList, optionsText: 'OrgGroupCode', optionsValue: 'OrgGroupId', optionsCaption: '&lt;' +'@Cares.Web.Resources.Organization.Company.OrganizationGroup'+'&gt;', value:orgGroupId "></select>
            </div>
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Company.BusinessSegment*</label>
            <div class="col-md-2">
                <select class="form-control" data-bind="options: $root.businessSegList, optionsText: 'BusinessSegmentCodeName', optionsValue: 'BusinessSegmentId', optionsCaption: '&lt;' + '@Cares.Web.Resources.Organization.Company.BusinessSegment' + '&gt;', value:businessSegmentId"></select>
            </div>
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Company.ParentCompany</label>
            <div class="col-md-2">
                <select class="form-control" data-bind="options: $root.filteredCompanyList, optionsText: 'CompanyCodeName', optionsValue: 'CompanyId', optionsCaption: '&lt;' + '@Cares.Web.Resources.Organization.Company.ParentCompany' + '&gt;' , value:parentCompanyId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Company.NTN</label>
            <div class="col-md-2">
                <input type="text" class="form-control" data-bind="value:ntn" placeholder="@("<"+Cares.Web.Resources.Organization.Company.NTN +">")" />
            </div>

            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Company.UAN</label>
            <div class="col-md-2">
                <input type="text" class="form-control" data-bind="value:uan" placeholder="@("<"+Cares.Web.Resources.Organization.Company.UAN +">")" />
            </div>
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Company.LegalName</label>
            <div class="col-md-2">
                <input type="text" class="form-control" data-bind="value:CompanyLegalName" placeholder="@("<"+Cares.Web.Resources.Organization.Company.LegalName+">")" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Company.PaidUpCapital*</label>
            <div class="col-md-2">
                <input type="text" class="form-control" onkeypress="return onlyNumbers(this)"  data-bind="value:paidUpCapital" placeholder="@("<"+Cares.Web.Resources.Organization.Company.PaidUpCapital+">")" />
            </div>
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Company.CrNumber</label>
            <div class="col-md-2">
                <input type="text" class="form-control" data-bind="value:crNumber" placeholder="@("<"+Cares.Web.Resources.Organization.Company.CrNumber+">")" />
            </div>
       </div>
    </form>
</div>
<script>
    function onlyNumbers(evt) {
        var e = event || evt; // for trans-browser compatibility
        var charCode = e.which || e.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>