
<div class="well col-md-12" id="OperationEditor" data-bind="visible: isOperationEditorVisible , with:selectedOperation" style="display: none;">
    <div class="float-left detailsContainer">
        <h3 class="page-header detailsHeaderSection float-left">@Cares.Web.Resources.Organization.Operation.OperationDetails</h3>
        <button class="btn  btn-info" data-bind="click:$root.onSaveOperation">@Cares.Web.Resources.Shared.Common.Save</button>
        <button class="btn  btn-default" data-bind="click:$root.onCancelSaveOperation">@Cares.Web.Resources.Shared.Common.Cancel</button>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Operation.OperationCode*</label>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder=@Cares.Web.Resources.Organization.Operation.OperationCode  data-bind="value: code" />
            </div>
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Operation.OperationName*</label>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder=@Cares.Web.Resources.Organization.Operation.OperationName  data-bind="value:name" />
            </div>
           
        </div>
        <div class="form-group">
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Operation.Department*</label>
            <div class="col-md-3">
                <select class="form-control" data-bind="options: $root.baseDepartmentsList, optionsText: 'DepartmentCodeName', optionsValue: 'DepartmentId', optionsCaption: '&lt;' + '@Cares.Web.Resources.Organization.Operation.Department' + '&gt;', value:DepartmentId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Operation.OperationDescription</label>
            <div class="col-md-3">
                <textarea  rows="4" class="form-control" placeholder=@Cares.Web.Resources.Organization.Operation.OperationDescription  data-bind="value:description" > </textarea>
            </div>
        </div>
</form>
</div>
