
<div class="well col-md-12" id="_OrgGroupEditor" data-bind="visible: isOrgGroupEditorVisible, with: selectedOrgGroup " style="display: none;">
    <h3>@Cares.Web.Resources.Organization.OrganizationGroup.OrganizationGroupDetail</h3>
    <button class="btn  btn-info" id="saveFleetPoolbtn" data-bind="click: $root.onSaveOrgGroupbtn">@Cares.Web.Resources.Shared.Common.Save</button>
    <button class="btn  btn-default" id="cancelOrgGroupbtn" data-bind="click: $root.onCancelOrgGroupbtn">@Cares.Web.Resources.Shared.Common.Cancel</button>
    <hr />
    <form class="form-horizontal">
        <div class="form-group">
            <label  class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.OrganizationGroup.OrganizationGroupCode</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="@Cares.Web.Resources.Organization.OrganizationGroup.OrganizationGroupCode" id="tariffTypeCode" data-bind="value: code" />
            </div>
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.OrganizationGroup.OrganizationGroupName</label>
            <div class="col-md-2">
                <input type="text" class="form-control" required placeholder="@Cares.Web.Resources.Organization.OrganizationGroup.OrganizationGroupName" id="tariffTypeName" data-bind="value:name" />
            </div>
            <label  class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.OrganizationGroup.Description</label>
            <div class="col-md-2">
                <input type="text" class="form-control" required placeholder="@Cares.Web.Resources.Organization.OrganizationGroup.Description" id="tariffTypeDescription" data-bind="value: description" />
            </div>
        </div>
    </form>
</div>
