
<div class="well col-md-12" id="OperationEditor" data-bind="visible: isOperationEditorVisible , with:selectedTab" style="display: none;">
    <div class="float-left detailsContainer">
        <h3 class="page-header detailsHeaderSection">@Cares.Web.Resources.Organization.Operation.OperationDetails</h3>
        <button class="btn  btn-info" data-bind="click:$root.onSaveOperation">@Cares.Web.Resources.Shared.Common.Save</button>
        <button class="btn  btn-default" data-bind="click:$root.onCancelSaveOperation">@Cares.Web.Resources.Shared.Common.Cancel</button>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Workplace.WorkplaceCode</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="@("<"+Cares.Web.Resources.Organization.Workplace.WorkplaceCode+">")" id="tariffTypeCode" data-bind="value: code" />
            </div>
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Workplace.WorkplaceName</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="@("<"+Cares.Web.Resources.Organization.Workplace.WorkplaceName+">")" id="tariffTypeName" data-bind="value:name" />
            </div>
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Workplace.Description</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="@("<"+Cares.Web.Resources.Organization.Workplace.Description+">")" id="tariffTypeDescription" data-bind="value:description" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Workplace.WorkplaceType</label>
            <div class="col-md-2">
                <select class="form-control" data-bind="options: $root.baseWorkplaceTypeList, optionsText: 'WorkPlaceTypeCodeName', optionsValue: 'WorkPlaceTypeId',  optionsCaption:'&lt;' +'@Cares.Web.Resources.Organization.Workplace.WorkplaceType'+'&gt;', value:workplaceTypeId"></select>
            </div>

            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Workplace.Company</label>
            <div class="col-md-2">
                <select class="form-control" data-bind="options: $root.baseCompniesList, optionsText: 'CompanyCodeName', optionsValue: 'CompanyId', optionsCaption:'&lt;' + '@Cares.Web.Resources.Organization.Workplace.Company '+'&gt;', value:companyId"></select>
            </div>

            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Organization.Workplace.WorkLocation</label>
            <div class="col-md-2">
                <select class="form-control" data-bind="options: $root.baseWorkLocationsList, optionsText: 'WorkLocationCodeName', optionsValue: 'WorkLocationId', optionsCaption:'&lt;' + '@Cares.Web.Resources.Organization.Workplace.WorkplaceType '+'&gt;', value:workLocationId"></select>
            </div>
        </div>
    </form>
    <div class="panel panel-info">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#detail" role="tab" data-toggle="tab">Operations</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <br />
            <!-- first tab - Detail-->
            <div class="tab-pane active" id="detail" data-bind="with:tabDetail">
                <form class="form-horizontal">
                    <button class="btn  btn-info" id="saveBtn" data-bind="click: $root.onAddOperation ">@Cares.Web.Resources.Shared.Common.Add</button>
                    <div class="form-group">
                        <label for="" class="control-label h5 col-sm-2">Location Code*</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" data-bind="value:locationCode" />
                        </div>
                        <label for="" class="control-label h5 col-sm-2">Location Name</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" data-bind="value:locationName" />
                        </div>
                        <label for="" class="control-label h5 col-sm-2">Location Description</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" data-bind="value:locationDescription" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label h5 col-sm-2">Operations</label>
                        <div class="col-md-2">
                            <select class="form-control" data-bind="event: { change : $root.operationChanged} ,options: $root.baseOperationsList, optionsText: 'OperationCodeName', optionsValue: 'OperationId', optionsCaption:'&lt;' + '@Cares.Web.Resources.Organization.Workplace.WorkplaceType '+'&gt;', value:operationId"></select>
                        </div>

                        <label for="" class="control-label h5 col-sm-2">Fleet Pool</label>
                        <div class="col-md-2">
                            <select class="form-control" data-bind="options: $root.baseFleetPoolList, optionsText: 'FleetPoolCodeName', optionsValue: 'FleetPoold', optionsCaption:'&lt;' + '@Cares.Web.Resources.Organization.Workplace.WorkplaceType '+'&gt;', value:fleelPoolId"></select>
                        </div>

                        <label for="" class="control-label h5 col-sm-2">Cost Center</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" data-bind="value : costCenter" />
                        </div>

                    </div>
                </form>
                <!--here -->
                <table id="hireGroupDetail" class="table table-condensed">
                    <thead>
                        <tr>
                            <th> <span>Location Code<span></span></span></th>
                            <th> <span>Location Name<span></span></span></th>
                            <th> <span>Location Description<span></span></span></th>
                            <th> <span>Operations<span></span></span></th>
                            <th> <span>Fleet Pool<span></span></span></th>
                            <th> <span>Cost Center<span></span></span></th>

                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko template: { name: 'itemHireGroupDetailTemplate' , foreach: $root.operationsTabList } -->
                        <!-- /ko -->
                    </tbody>
                </table>
                <script id="deleteActionHireGroupDetailTemplate" type="text/html">
                    <a href="#" data-bind="click: $root.deleteHireGroupDetail" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
                </script>
                <script id="itemHireGroupDetailTemplate" type="text/html">
                    <tr>
                        <td data-bind="text: locationCode"></td>
                        <td data-bind="text: locationName"></td>
                        <td data-bind="text: locationDescription"></td>
                        <td data-bind="text: operationName"></td>
                        <td data-bind="text: fleelPoolName"></td>
                        <td data-bind="text: costCenter"></td>
                        <td>
                            <!-- ko template: { name: 'deleteActionHireGroupDetailTemplate' } -->
                            <!-- /ko -->
                        </td>
                    </tr>
                </script>
            </div>
        </div>
    </div>
</div>
