@{
    ViewBag.Title = Cares.Web.Resources.Organization.Operation.OperationLabel;
}
<div class="row" id="OperationBinding">
    <div class="row " data-bind="visible: !isOperationEditorVisible()">
        <h3 class="page-header float-left pageHeaderSection">@Cares.Web.Resources.Organization.Operation.OperationLabel</h3>
        <div class="header-toolsSection">
            <a href="#" class="label label-default create-new-icon" data-bind="click: onCreateOperationForm" title=@Cares.Web.Resources.Shared.Common.CreateNew>@Cares.Web.Resources.Shared.Common.New</a>
            <a href="#" class="glyphicon glyphicon-filter " data-bind="visible: !filterSectionVisilble(), click: showFilterSection" title=@Cares.Web.Resources.Shared.Common.ShowFilter  style="display: none"></a>
        </div>
    </div>
    <!--"-->
    <div class="row searchFilterSection" style="display: none" data-bind="visible: !isOperationEditorVisible() && filterSectionVisilble()">
        <div class=" well">
            <form class="form-horizontal">
                <div class="col-xs-3">
                    <input type="text" class="form-control" placeholder="@("<"+Cares.Web.Resources.Organization.Operation.Serach+">")" data-bind="value:opperationFilter" />
                </div>
                <div class="col-xs-3">
                    <select class="form-control" data-bind="options: $root.baseDepartmentTypesList, optionsCaption:'&lt;' +'@Cares.Web.Resources.Organization.Operation.DepartmentType'+'&gt;', value:departmentTypeFilter"></select>
                </div>

                <button type="submit" class="btn btn-success" data-bind="click: onSearch">@Cares.Web.Resources.Shared.Common.Search</button>
                <button type="submit" class="btn btn-default" data-bind="click:onResetResuults">@Cares.Web.Resources.Shared.Common.Reset</button>
                <a href="#" class="glyphicon glyphicon-resize-small float-right collapse-filter" data-bind="click:hideFilterSection" title=@Cares.Web.Resources.Shared.Common.HideSection></a>
            </form>
        </div>
    </div>

    <div class="row searchFilterResultSection" data-bind="visible: !isOperationEditorVisible()">
        <div class="well">
            <table id="OperationsTable" class="table table-condensed">
                <thead>
                    <tr>
                        <th class="code th-pointer"> <span id="1">@Cares.Web.Resources.Organization.Operation.Code<span class="icon-up"></span></span></th>
                        <th class="name th-pointer"> <span id="2">@Cares.Web.Resources.Organization.Operation.Name<span></span></span></th>
                        <th class="company th-pointer"> <span id="4">@Cares.Web.Resources.Organization.Operation.Company<span></span></span></th>
                        <th class="department th-pointer"> <span id="6">@Cares.Web.Resources.Organization.Operation.Department<span></span></span></th>
                        <th class="departmentType th-pointer"> <span id="5">@Cares.Web.Resources.Organization.Operation.DepartmentType <span></span></span></th>
                        <th> <span></span></th>
                        <th> <span></span></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko template: { name: 'OperationsFilterResultTemplate' , foreach: operations } -->
                    <!-- /ko -->
                </tbody>
            </table>
            <!-- ko with: pager -->
            @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
            <!-- /ko -->
        </div>
    </div>
    <script id="deleteActionOperationTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onDeleteOperation" title="@Cares.Web.Resources.Shared.Common.Delete"><span class="glyphicon glyphicon-remove"></span></a>
    </script>

    <script id="editActionOperationTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onEditOperation" title="@Cares.Web.Resources.Shared.Common.Edit"><span class="glyphicon glyphicon-edit"></span></a>
    </script>
    <script id="OperationsFilterResultTemplate" type="text/html">
        <tr>
            <td data-bind="text: code"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: companyName"></td>
            <td data-bind="text: departmentName"></td>
            <td data-bind="text: departmentType"></td>
            <td>
                <!-- ko template: { name: 'editActionOperationTemplate' } -->
                <!-- /ko -->
            </td>
            <td>
                <!-- ko template: { name: 'deleteActionOperationTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>
    @Html.Partial("_OperationEditor")
</div>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->
@section inlinescripts
{
    <script type="text/javascript">
        require(["operation/operation.view", "common/confirmation.view"]);
        var ist = window.ist;
    @{
        <text>
        ist.resourceText.OperationSaveSuccessMessage = '@Cares.Web.Resources.Organization.Operation.OperationSaveSuccessMessage'
        ist.resourceText.OperationSaveFailError = '@Cares.Web.Resources.Organization.Operation.OperationSaveFailError';
        ist.resourceText.OperationLoadFailError = '@Cares.Web.Resources.Organization.Operation.OperationLoadFailError';
        ist.resourceText.OperationBaseLoadFailError = '@Cares.Web.Resources.Organization.Operation.OperationBaseLoadFailError';
        ist.resourceText.OperationDeleteSuccessMessage = '@Cares.Web.Resources.Organization.Operation.OperationDeleteSuccessMessage';
        ist.resourceText.OperationDeleteFailError = '@Cares.Web.Resources.Organization.Operation.OperationDeleteFailError'; 
        </text>
        }
    </script>
}
