@{
    ViewBag.Title = Cares.Web.Resources.Organization.Workplace.WorkplaceLabel;
}
<div class="row" id="OperationBinding">
    <div class="row " data-bind="visible: !isWorkPlaceEditorVisible()">
        <h3 class="page-header float-left pageHeaderSection">@Cares.Web.Resources.Organization.Workplace.WorkplaceLabel</h3>
        <div class="header-toolsSection">
            <a href="#" class="label label-default create-new-icon" data-bind="click: onCreateWorkPlaceForm" title=@Cares.Web.Resources.Shared.Common.CreateNew>@Cares.Web.Resources.Shared.Common.New</a>
            <a href="#" class="glyphicon glyphicon-filter " data-bind="visible: !filterSectionVisilble(), click: showFilterSection" title=@Cares.Web.Resources.Shared.Common.ShowFilter style="display: none"></a>
        </div>
    </div>
    <!--"-->
    <div class="row searchFilterSection" style="display: none" data-bind="visible: !isWorkPlaceEditorVisible() && filterSectionVisilble()">
        <div class=" well">
            <form class="form-horizontal">
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder="@("<"+Cares.Web.Resources.Organization.Workplace.WorkplaceCode+">")" data-bind="value:workplaceCodeTextFilter" />
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder="@("<"+Cares.Web.Resources.Organization.Workplace.WorkplaceName+">")" data-bind="value:workplaceNameTextFilter" />
                </div>
                <div class="col-xs-2">
                    <select class="form-control" data-bind="options: $root.baseCompniesList, optionsText: 'CompanyCodeName', optionsValue: 'CompanyId', optionsCaption:'&lt;' + '@Cares.Web.Resources.Organization.Workplace.Company '+'&gt;', value:companyFilter"></select>
                </div>
                <div class="col-xs-2">
                    <select class="form-control" data-bind="options: $root.baseWorkplaceTypeList, optionsText: 'WorkPlaceTypeCodeName', optionsValue: 'WorkPlaceTypeId',  optionsCaption:'&lt;' +'@Cares.Web.Resources.Organization.Workplace.WorkplaceType'+'&gt;', value:workplaceTypeFilter"></select>
                </div>

                <button type="submit" class="btn btn-success" data-bind="click: onSearch">@Cares.Web.Resources.Shared.Common.Search</button>
                <button type="submit" class="btn btn-default" data-bind="click:onResetResuults">@Cares.Web.Resources.Shared.Common.Reset</button>
                <a href="#" class="glyphicon glyphicon-resize-small float-right collapse-filter" data-bind="click:hideFilterSection" title=@Cares.Web.Resources.Shared.Common.HideSection></a>
            </form>
        </div>
    </div>

    <div class="row searchFilterResultSection" data-bind="visible: !isWorkPlaceEditorVisible()">
        <div class="well">
            <table id="OperationsTable" class="table table-condensed">
                <thead>
                    <tr>
                        <th> <span id="1">@Cares.Web.Resources.Organization.Workplace.WorkplaceCode<span class="icon-up"></span></span></th>
                        <th> <span id="2">@Cares.Web.Resources.Organization.Workplace.WorkplaceName<span></span></span></th>
                        <th> <span id="3">@Cares.Web.Resources.Organization.Workplace.Description<span></span></span></th>
                        <th> <span id="4">@Cares.Web.Resources.Organization.Workplace.WorkplaceType<span></span></span></th>
                        <th> <span id="5">@Cares.Web.Resources.Organization.Workplace.Company<span></span></span></th>
                        <th> <span id="6">@Cares.Web.Resources.Organization.Workplace.WorkLocation<span></span></span></th>
                        <th> <span id="7">@Cares.Web.Resources.Organization.Workplace.ParentWorkplace<span></span></span></th>
                        <th> <span></span></th>
                        <th> <span></span></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko template: { name: 'OperationsFilterResultTemplate' , foreach: workplaces } -->
                    <!-- /ko -->
                </tbody>
            </table>
            <!-- ko with: pager -->
            @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
            <!-- /ko -->
        </div>
    </div>
    <script id="deleteActionOperationTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onDeleteWorkplace" title="@Cares.Web.Resources.Shared.Common.Delete"><span class="glyphicon glyphicon-remove"></span></a>
    </script>

    <script id="editActionOperationTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onEditworkplace" title="@Cares.Web.Resources.Shared.Common.Edit"><span class="glyphicon glyphicon-edit"></span></a>
    </script>
    <script id="OperationsFilterResultTemplate" type="text/html">
        <tr>
            <td data-bind="text: code"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: companyName"></td>
            <td data-bind="text: workplaceTypeName"></td>
            <td data-bind="text: companyName"></td>
            <td data-bind="text: workLocationName"></td>
            <td data-bind="text: parentWorkPlaceName"></td>
            <td>
                <!-- ko template: { name: 'editActionOperationTemplate' } -->
                <!-- /ko -->
            </td>
            <td>
                <!-- ko template: { name: 'deleteActionOperationTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>
    @Html.Partial("_WorkplaceEditor")
</div>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->
@section inlinescripts
{
    <script type="text/javascript">
        require(["workplace/workplace.view", "common/confirmation.view"]);
        var ist = window.ist;
    @{
        <text>
        ist.resourceText.WorkPlaceSaveSuccessMessage = '@Cares.Web.Resources.Organization.Workplace.WorkPlaceSaveSuccessMessage'
        ist.resourceText.WorkPlaceSaveFailError = '@Cares.Web.Resources.Organization.Workplace.WorkPlaceSaveFailError';
        ist.resourceText.WorkPlaceLoadFailError = '@Cares.Web.Resources.Organization.Workplace.WorkPlaceLoadFailError';
        ist.resourceText.WorkPlaceLoadBaseFailError = '@Cares.Web.Resources.Organization.Workplace.WorkPlaceLoadBaseFailError';
        ist.resourceText.WorkPlaceDeleteSuccessMessage = '@Cares.Web.Resources.Organization.Workplace.WorkPlaceDeleteSuccessMessage';
        ist.resourceText.WorkPlaceDeleteFailError = '@Cares.Web.Resources.Organization.Workplace.WorkPlaceDeleteFailError';
        </text>
        }
    </script>
}
