<div class="well col-md-12" id="seasonalDiscountEditor" data-bind="visible: isSeasonalDiscountEditorVisible, with: addEditSeasonalDiscountMain" style="display: none;">
    <div class="float-left detailsContainer">
        <h3 class="page-header detailsHeaderSection">@Cares.Web.Resources.Tariff.SeasonalDiscount.SeasonalDiscountDetail</h3>
        <button class="btn  btn-info" id="saveBtn" data-bind="click: $root.onSaveSeasonalDiscountMainCharge, enable: hasChanges, css: { 'btn-warning': hasChanges }">@Cares.Web.Resources.Shared.Common.Save</button>
        <button class="btn btn-default" id="saveBtn" data-bind="click: $root.closeSeasonalDiscountEditor">@Cares.Web.Resources.Shared.Common.Cancel</button>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
        </div>
        <div class="form-group">
            <label for="code" class="control-label h5 col-sm-1">@Cares.Web.Resources.Tariff.SeasonalDiscount.Code *</label>
            <div class="col-md-3">
                <input type="text" placeholder='@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.Code + ">")' class="form-control" id="code" data-bind="value: code, validationTooltip: code, disable :(id()!=undefined)" />
            </div>
            <label for="name" class="control-label h5 col-sm-1">@Cares.Web.Resources.Tariff.SeasonalDiscount.Name</label>
            <div class="col-md-3">
                <input type="text" placeholder='@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.Name + ">")' class="form-control" id="name" data-bind="value: name, validationTooltip: name, disable :(id()!=undefined)" />
            </div>
            <label for="tariffTypeCompany" class="control-label h5 col-sm-1">@Cares.Web.Resources.Tariff.SeasonalDiscount.Company *</label>
            <div class="col-md-3">
                <select id="tariffTypeCompany" class="form-control" data-bind="options: $root.companies, optionsText: 'CompanyCodeName', optionsValue: 'CompanyId', optionsCaption:  '@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.Company + ">")' , value: companyId, validationTooltip: companyId, disable :(id()!=undefined)"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="tariffTypeDepartment" class="control-label h5 col-sm-1">@Cares.Web.Resources.Tariff.SeasonalDiscount.Department *</label>
            <div class="col-md-3">
                <select id="tariffTypeDepartment" class="form-control" data-bind="options: $root.filteredDepartments, optionsText: 'DepartmentCodeName', optionsValue: 'DepartmentId', optionsCaption:  '@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.Department + ">")' , value: departmentId, validationTooltip: departmentId, disable :(id()!=undefined)"></select>
            </div>
            <label for="tariffTypeOperation" class="control-label h5 col-sm-1">@Cares.Web.Resources.Tariff.ChaufferCharge.Operation *</label>
            <div class="col-md-3">
                <select id="tariffTypeOperation" class="form-control" data-bind="options: $root.filteredOperations, optionsText: 'OperationCodeName', optionsValue: 'OperationId', optionsCaption: '@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.Operation + ">")'  , value: operationId, validationTooltip: operationId, disable :(id()!=undefined)"></select>
            </div>
            <label for="tariffType" class="control-label h5 col-sm-1">@Cares.Web.Resources.Tariff.SeasonalDiscount.TariffType *</label>
            <div class="col-md-3">
                <select id="tariffType" class="form-control" data-bind="options: $root.filteredTariffTypes, optionsText: 'TariffTypeCodeName', optionsValue: 'TariffTypeId', optionsCaption:  '@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.TariffType + ">")'  , value: tariffTypeId, validationTooltip: tariffTypeId, disable :(id()!=undefined)"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="control-label h5 col-sm-1">@Cares.Web.Resources.Tariff.SeasonalDiscount.Description</label>
            <div class="col-md-3">
                <textarea class="form-control" rows="4" placeholder='@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.Description + ">")' id="description" data-bind="value: description, valueUpdate: 'keyup' , disable :(id()!=undefined)"></textarea>
            </div>
            <label for="effectiveDate" class="control-label h5 col-sm-1">@Cares.Web.Resources.Tariff.ChaufferCharge.StartEffectiveDate *</label>
            <div class="col-md-3">
                <input type="text" placeholder='@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.StartEffectiveDate + ">")' class="form-control" id="effectiveDate" data-bind="datepicker: startDate, validationTooltip: startDate, disable :(id()!=undefined)" />
            </div>
            <label for="endDate" class="control-label h5 col-sm-1">@Cares.Web.Resources.Tariff.SeasonalDiscount.EndEffectiveDate *</label>
            <div class="col-md-3">
                <input type="text" placeholder='@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.EndEffectiveDate + ">")' class="form-control" id="endDate" data-bind="datepicker: endDate, validationTooltip: endDate, disable :(id()!=undefined)" />
            </div>
        </div>
        <br />
        <div class="panel panel-info">
            <div class="panel-heading">@Cares.Web.Resources.Tariff.SeasonalDiscount.DiscountScheme</div>
            <br />
            <div data-bind="with:seasonalDiscount">
                <div class="form-group">
                    <div class="addToBtnDiv row"><button class="btn btn-info addToBtn" id="saveBtn" data-bind="visible: !($root.showUpdateCancelBtn()),click: $root.onAddSeasonalDiscount">@Cares.Web.Resources.Shared.Common.AddToList</button></div>
                    <div class="addToBtnDiv row">
                        <button class="btn btn-default addToBtn" style="display: none" id="saveBtn" data-bind="visible: $root.showUpdateCancelBtn(),click: $root.hideUpdateCancelBtn">@Cares.Web.Resources.Shared.Common.Cancel</button>
                        <button class="btn btn-info btnAdditionalChargeUpdate" style="display: none" id="saveBtn" data-bind="visible: $root.showUpdateCancelBtn(),click:$root.onAddSeasonalDiscount">@Cares.Web.Resources.Shared.Common.Update</button>
                    </div>

                </div>
                <div class="form-group">
                    <label for="opWorkPlace" class="control-label h5  col-sm-1">@Cares.Web.Resources.Tariff.SeasonalDiscount.OperationsWorkPlace </label>
                    <div class="col-md-3">
                        <select id="opWorkPlace" class="form-control" data-bind="options: $root.operationsWorkPlaces, optionsText: 'OperationsWorkPlaceCodeName',optionsValue:'OperationsWorkPlaceId', optionsCaption: '@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.All + ">")', value:opWorkplaceId , validationTooltip: opWorkplaceId"></select>
                    </div>
                    <label for="cusType" class="control-label h5  col-sm-1"> @Cares.Web.Resources.Tariff.SeasonalDiscount.CustomerType  </label>
                    <div class="col-md-3">
                        <select id="cusType" class="form-control" data-bind="options: $root.customerTypes, optionsText: 'Text',optionsValue:'Id', value:customerTypeId , validationTooltip: customerTypeId"></select>
                    </div>
                    <label for="rating" class="control-label h5  col-sm-1">@Cares.Web.Resources.Tariff.SeasonalDiscount.Rating</label>
                    <div class="col-md-3">
                        <select id="rating" class="form-control" data-bind="options: $root.ratingTypes, optionsText: 'BpRatingTypeCodeName',optionsValue:'BpRatingTypeId', optionsCaption: '@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.All + ">")', value:ratingId , validationTooltip: ratingId"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="hireGroup" class="control-label h5  col-sm-1">@Cares.Web.Resources.Tariff.SeasonalDiscount.HireGroup  </label>
                    <div class="col-md-3">
                        <select id="hireGroup" class="form-control" data-bind="options: $root.hireGroups, optionsText: 'HireGroupCodeName',optionsValue:'HireGroupId', optionsCaption: '@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.All + ">")', value:hireGroupId , validationTooltip: hireGroupId"></select>
                    </div>
                    <label for="vMake" class="control-label h5  col-sm-1">@Cares.Web.Resources.Tariff.SeasonalDiscount.VehicleMake </label>
                    <div class="col-md-3">
                        <select id="vMake" class="form-control" data-bind="options: $root.vehicleMakes, optionsText: 'VehicleMakeCodeName',optionsValue:'VehicleMakeId', optionsCaption: '@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.All + ">")', value:vMakeId , validationTooltip: vMakeId"></select>
                    </div>
                    <label for="vModel" class="control-label h5  col-sm-1">@Cares.Web.Resources.Tariff.SeasonalDiscount.VehicleModel </label>
                    <div class="col-md-3">
                        <select id="vModel" class="form-control" data-bind="options: $root.vehicleModels, optionsText: 'VehicleModelCodeName',optionsValue:'VehicleModeld', optionsCaption: '@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.All + ">")', value:vModelId , validationTooltip: vModelId"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="vCategory" class="control-label h5  col-sm-1">@Cares.Web.Resources.Tariff.SeasonalDiscount.VehicleCategory  </label>
                    <div class="col-md-3">
                        <select id="vCategory" class="form-control" data-bind="options: $root.vehicleCategories, optionsText: 'VehicleCategoryCodeName',optionsValue:'VehicleCategoryId', optionsCaption: '@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.All + ">")', value:vCategoryId , validationTooltip: vCategoryId"></select>
                    </div>
                    <label for="modelYear" class="control-label h5  col-sm-1"> @Cares.Web.Resources.Tariff.SeasonalDiscount.ModelYear  </label>
                    <div class="col-md-3">
                        <select id="modelYear" class="form-control" data-bind="options: $root.modelYears, optionsText: 'Text',optionsValue:'Id', optionsCaption: '@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.All + ">")', value:modelYear , validationTooltip: modelYear"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fromDt" class="control-label h5  col-sm-1">@Cares.Web.Resources.Tariff.SeasonalDiscount.FromDate *</label>
                    <div class="col-md-3">
                        <input type="text" placeholder='@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.FromDate + ">")' class="form-control" id="fromDt" data-bind="datepicker: fromDate, validationTooltip: fromDate" />
                    </div>
                    <label for="toDt" class="control-label h5  col-sm-1">@Cares.Web.Resources.Tariff.SeasonalDiscount.ToDate *</label>
                    <div class="col-md-3">
                        <input type="text" placeholder='@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.ToDate + ">")' class="form-control" id="toDt" data-bind="datepicker: toDate, validationTooltip: toDate" />
                    </div>
                    <label for="discount" class="control-label  h5 col-sm-1">@Cares.Web.Resources.Tariff.SeasonalDiscount.Discount (%) *</label>
                    <div class="col-md-3">
                        <input type="text" placeholder='@("<" + Cares.Web.Resources.Tariff.SeasonalDiscount.Discount + ">")' class="form-control" id="discount" data-bind="value: discount, validationTooltip: discount">
                    </div>
                </div>
                <div class="form-group">
                </div>
                <br />
                <div class="well seasinalDiscountWell">
                    <table id="seasonalDiscountTabl" class="table">
                        <thead>
                            <tr>
                                <th> <span>@Cares.Web.Resources.Tariff.SeasonalDiscount.Location<span></span></span></th>
                                <th> <span><span>@Cares.Web.Resources.Tariff.SeasonalDiscount.CustomerType</span></span></th>
                                <th> <span><span>@Cares.Web.Resources.Tariff.SeasonalDiscount.RatingType</span></span></th>
                                <th> <span><span>@Cares.Web.Resources.Tariff.SeasonalDiscount.HireGroup</span></span></th>
                                <th> <span><span>@Cares.Web.Resources.Tariff.SeasonalDiscount.VehicleMake</span></span></th>
                                <th> <span><span>@Cares.Web.Resources.Tariff.SeasonalDiscount.VehicleModel</span></span></th>
                                <th> <span><span>@Cares.Web.Resources.Tariff.SeasonalDiscount.VehicleCategory</span></span></th>
                                <th> <span><span>@Cares.Web.Resources.Tariff.SeasonalDiscount.ModelYear</span></span></th>
                                <th> <span><span>@Cares.Web.Resources.Tariff.SeasonalDiscount.StartDate</span></span></th>
                                <th> <span><span>@Cares.Web.Resources.Tariff.SeasonalDiscount.EndDate</span></span></th>
                                <th> <span><span>@Cares.Web.Resources.Tariff.SeasonalDiscount.Discount %</span></span></th>
                                <th> <span><span>@Cares.Web.Resources.Tariff.SeasonalDiscount.RevisionNumber</span></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko template: { name: 'itemSeasonalDiscountTemplate' , foreach: $root.seasonalDiscounts } -->
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
                <script id="itemSeasonalDiscountTemplate" type="text/html">
                    <tr>
                        <td data-bind="text: opWorkplaceCodeName"></td>
                        <td data-bind="text: customerTypeCodeName"></td>
                        <td data-bind="text: ratingCodeName"></td>
                        <td data-bind="text: hireGroupCodeName"></td>
                        <td data-bind="text: vMakeCodeName"></td>
                        <td data-bind="text: vModelCodeName"></td>
                        <td data-bind="text: vCategoryCodeName"></td>
                        <td data-bind="text: modelYearCode"></td>
                        <td data-bind="text: formattedStartDate"></td>
                        <td data-bind="text: formattedEndDate"></td>
                        <td data-bind="text: discount"></td>
                        <td data-bind="text: revisionNumber"></td>
                        <td>
                            <!-- ko template: { name: 'editActionSeasonalDiscountTemplate' } -->
                            <!-- /ko -->
                        </td>
                        <td data-bind="if: (id()===undefined)">
                            <!-- ko template: { name: 'deleteActionSeasonalDiscountTemplate' } -->
                            <!-- /ko -->
                        </td>

                    </tr>
                </script>
                <script id="editActionSeasonalDiscountTemplate" type="text/html">
                    <a href="#" data-bind="click: $root.onEditSeasonalDiscount" title=@Cares.Web.Resources.Shared.Common.Edit><span class="glyphicon glyphicon-edit"></span></a>
                </script>
                <script id="deleteActionSeasonalDiscountTemplate" type="text/html">
                    <a href="#" data-bind="click: $root.deleteSeasonalDiscount" title=@Cares.Web.Resources.Shared.Common.Delete><span class="glyphicon glyphicon-remove"></span></a>
                </script>
            </div>
        </div>

    </form>

</div>