<div class="well col-md-12" id="seasonalDiscountEditor" data-bind="visible: isSeasonalDiscountEditorVisible, with: addEditSeasonalDiscountMain" style="display: none;">
    <div class="float-left detailsContainer">
        <h3 class="page-header detailsHeaderSection">Seasonal Discount Detail</h3>
        <button class="btn  btn-info" id="saveBtn" data-bind="click: $root.onSaveSeasonalDiscountMainCharge, enable: hasChanges, css: { 'btn-warning': hasChanges }">@Cares.Web.Resources.Shared.Common.Save</button>
        <button class="btn btn-default" id="saveBtn" data-bind="click: $root.closeAdditionalChargeEditor">@Cares.Web.Resources.Shared.Common.Cancel</button>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
        </div>
        <div class="form-group">
            <label for="code" class="control-label h5 col-sm-1">@Cares.Web.Resources.Tariff.ChaufferCharge.Code *</label>
            <div class="col-md-3">
                <input type="text" placeholder='@("<" + Cares.Web.Resources.Tariff.ChaufferCharge.Code + ">")' class="form-control" id="code" data-bind="value: code, validationTooltip: code, disable :(id()!=undefined)" />
            </div>
            <label for="name" class="control-label h5 col-sm-1">@Cares.Web.Resources.Tariff.ChaufferCharge.Name</label>
            <div class="col-md-3">
                <input type="text" placeholder='@("<" + Cares.Web.Resources.Tariff.ChaufferCharge.Name + ">")' class="form-control" id="name" data-bind="value: name, validationTooltip: name, disable :(id()!=undefined)" />
            </div>
            <label for="tariffTypeCompany" class="control-label h5 col-sm-1">@Cares.Web.Resources.Tariff.ChaufferCharge.Company *</label>
            <div class="col-md-3">
                <select id="tariffTypeCompany" class="form-control" data-bind="options: $root.companies, optionsText: 'CompanyCodeName', optionsValue: 'CompanyId', optionsCaption:  '@("<" + Cares.Web.Resources.Tariff.ChaufferCharge.Company + ">")' , value: companyId, validationTooltip: companyId, disable :(id()!=undefined)"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="tariffTypeDepartment" class="control-label h5 col-sm-1">@Cares.Web.Resources.Tariff.ChaufferCharge.Department *</label>
            <div class="col-md-3">
                <select id="tariffTypeDepartment" class="form-control" data-bind="options: $root.filteredDepartments, optionsText: 'DepartmentCodeName', optionsValue: 'DepartmentId', optionsCaption:  '@("<" + Cares.Web.Resources.Tariff.ChaufferCharge.Department + ">")' , value: departmentId, validationTooltip: departmentId, disable :(id()!=undefined)"></select>
            </div>
            <label for="tariffTypeOperation" class="control-label h5 col-sm-1">@Cares.Web.Resources.Tariff.ChaufferCharge.Operation *</label>
            <div class="col-md-3">
                <select id="tariffTypeOperation" class="form-control" data-bind="options: $root.filteredOperations, optionsText: 'OperationCodeName', optionsValue: 'OperationId', optionsCaption: '@("<" + Cares.Web.Resources.Tariff.ChaufferCharge.Operation + ">")'  , value: operationId, validationTooltip: operationId, disable :(id()!=undefined)"></select>
            </div>
            <label for="tariffType" class="control-label h5 col-sm-1">@Cares.Web.Resources.Tariff.ChaufferCharge.TariffType *</label>
            <div class="col-md-3">
                <select id="tariffType" class="form-control" data-bind="options: $root.filteredTariffTypes, optionsText: 'TariffTypeCodeName', optionsValue: 'TariffTypeId', optionsCaption:  '@("<" + Cares.Web.Resources.Tariff.ChaufferCharge.TariffType + ">")'  , value: tariffTypeId, validationTooltip: tariffTypeId, disable :(id()!=undefined)"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="control-label h5 col-sm-1">@Cares.Web.Resources.Tariff.ChaufferCharge.Description</label>
            <div class="col-md-3">
                <textarea class="form-control" rows="4" placeholder='@("<" + Cares.Web.Resources.Tariff.ChaufferCharge.Description + ">")' id="description" data-bind="value: description, valueUpdate: 'keyup' , disable :(id()!=undefined)"></textarea>
            </div>
            <label for="effectiveDate" class="control-label h5 col-sm-1">@Cares.Web.Resources.Tariff.ChaufferCharge.StartEffectiveDate *</label>
            <div class="col-md-3">
                <input type="text" placeholder='@("<" + Cares.Web.Resources.Tariff.ChaufferCharge.StartEffectiveDate + ">")' class="form-control" id="effectiveDate" data-bind="datepicker: startDate, validationTooltip: startDate, disable :(id()!=undefined)" />
            </div>
            <label for="endDate" class="control-label h5 col-sm-1">End Effective Date *</label>
            <div class="col-md-3">
                <input type="text" placeholder='End Effective Date' class="form-control" id="endDate" data-bind="datepicker: endDate, validationTooltip: endDate, disable :(id()!=undefined)" />
            </div>
        </div>
        <br />
        <div class="panel panel-info">
            <div class="panel-heading">Discount Scheme</div>
            <br />
            <div data-bind="with:seasonalDiscount">
                <div class="form-group">
                    <div class="addToBtnDiv row"><button class="btn btn-info addToBtn" id="saveBtn" data-bind="visible: !($root.showUpdateCancelBtn()),click: $root.onAddChaufferCharge">@Cares.Web.Resources.Shared.Common.AddToList</button></div>
                    <div class="addToBtnDiv row">
                        <button class="btn btn-default addToBtn" style="display: none" id="saveBtn" data-bind="visible: $root.showUpdateCancelBtn(),click: $root.hideUpdateCancelBtn">@Cares.Web.Resources.Shared.Common.Cancel</button>
                        <button class="btn btn-info btnAdditionalChargeUpdate" style="display: none" id="saveBtn" data-bind="visible: $root.showUpdateCancelBtn(),click:$root.onUpdateChaufferCharge">@Cares.Web.Resources.Shared.Common.Update</button>
                    </div>

                </div>
                <div class="form-group">
                    <label for="opWorkPlace" class="control-label h5  col-sm-1">Operations Work Place </label>
                    <div class="col-md-3">
                        <select id="opWorkPlace" class="form-control" data-bind="options: $root.operationsWorkPlaces, optionsText: 'OperationsWorkPlaceCodeName',optionsValue:'OperationsWorkPlaceId', optionsCaption: 'All', value:opWorkplaceId , validationTooltip: opWorkplaceId"></select>
                    </div>
                    <label for="cusType" class="control-label h5  col-sm-1"> Customer Type  </label>
                    <div class="col-md-3">
                        <select id="cusType" class="form-control" data-bind="options: $root.customerTypes, optionsText: 'Text',optionsValue:'Id', value:customerTypeId , validationTooltip: customerTypeId"></select>
                    </div>
                    <label for="rating" class="control-label h5  col-sm-1">Rating</label>
                    <div class="col-md-3">
                        <select id="rating" class="form-control" data-bind="options: $root.ratingTypes, optionsText: 'BpRatingTypeCodeName',optionsValue:'BpRatingTypeId', optionsCaption: 'All', value:ratingId , validationTooltip: ratingId"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="hireGroup" class="control-label h5  col-sm-1">Hire Group  </label>
                    <div class="col-md-3">
                        <select id="hireGroup" class="form-control" data-bind="options: $root.hireGroups, optionsText: 'HireGroupCodeName',optionsValue:'HireGroupId', optionsCaption: 'All', value:hireGroupId , validationTooltip: hireGroupId"></select>
                    </div>
                    <label for="vMake" class="control-label h5  col-sm-1">Vehicle Make </label>
                    <div class="col-md-3">
                        <select id="vMake" class="form-control" data-bind="options: $root.vehicleMakes, optionsText: 'VehicleMakeCodeName',optionsValue:'VehicleMakeId', optionsCaption: 'All', value:vMakeId , validationTooltip: vMakeId"></select>
                    </div>
                    <label for="vModel" class="control-label h5  col-sm-1">Vehicle Model </label>
                    <div class="col-md-3">
                        <select id="vModel" class="form-control" data-bind="options: $root.vehicleModels, optionsText: 'VehicleModelCodeName',optionsValue:'VehicleModeld', optionsCaption: 'All', value:vModelId , validationTooltip: vModelId"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="vCategory" class="control-label h5  col-sm-1">Vehicle Category  </label>
                    <div class="col-md-3">
                        <select id="vCategory" class="form-control" data-bind="options: $root.vehicleCategories, optionsText: 'VehicleCategoryCodeName',optionsValue:'VehicleCategoryId', optionsCaption: 'All', value:vCategoryId , validationTooltip: vCategoryId"></select>
                    </div>
                    <label for="modelYear" class="control-label h5  col-sm-1"> Model Year  </label>
                    <div class="col-md-3">
                        <select id="modelYear" class="form-control" data-bind="options: $root.modelYears, optionsText: 'Text',optionsValue:'Id', optionsCaption: 'All', value:modelYear , validationTooltip: modelYear"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fromDt" class="control-label h5  col-sm-1">From Date *</label>
                    <div class="col-md-3">
                        <input type="text" placeholder='From Date' class="form-control" id="fromDt" data-bind="datepicker: fromDate, validationTooltip: fromDate" />
                    </div>
                    <label for="toDt" class="control-label h5  col-sm-1">To Date *</label>
                    <div class="col-md-3">
                        <input type="text" placeholder='To Date' class="form-control" id="toDt" data-bind="datepicker: toDate, validationTooltip: toDate" />
                    </div>
                    <label for="discount" class="control-label  h5 col-sm-1">Discount (%) *</label>
                    <div class="col-md-3">
                        <input type="text" placeholder='Discount' class="form-control" id="discount" data-bind="value: discount, validationTooltip: discount">
                    </div>
                </div>
                <div class="form-group">
                </div>
                <br />
                <div class="well seasinalDiscountWell">
                    <table id="seasonalDiscountTabl" class="table">
                        <thead>
                            <tr>
                                <th> <span>Location<span></span></span></th>
                                <th> <span><span>Customer Type</span></span></th>
                                <th> <span><span>Rating Type</span></span></th>
                                <th> <span><span>Hire Group</span></span></th>
                                <th> <span><span>Vehicle Make</span></span></th>
                                <th> <span><span>Vehicle Model</span></span></th>
                                <th> <span><span>Vehicle Category</span></span></th>
                                <th> <span><span>Model Year</span></span></th>
                                <th> <span><span>Start Date</span></span></th>
                                <th> <span><span>End Date</span></span></th>
                                <th> <span><span>Discount %</span></span></th>
                                <th> <span><span>Revision Number</span></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko template: { name: 'itemSeasonalDiscountTemplate' , foreach: $root.seasonalDiscounts } -->
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
                <script id="itemSeasonalDiscountTemplate" type="text/html">
                    <tr>
                        <td data-bind="text: opWorkplaceCodeName"></td>
                        <td data-bind="text: customerTypeCodeName"></td>
                        <td data-bind="text: hireGroupCodeName"></td>
                        <td data-bind="text: vMakeCodeName"></td>
                        <td data-bind="text: vModelCodeName"></td>
                        <td data-bind="text: vCategoryCodeName"></td>
                        <td data-bind="text: modelYear"></td>
                        <td data-bind="text: formattedStartDate"></td>
                        <td data-bind="text: formattedEndDate"></td>
                        <td data-bind="text: discount"></td>
                        <td data-bind="text: revisionNumber"></td>
                        <td>
                            <!-- ko template: { name: 'editActionSeasonalDiscountTemplate' } -->
                            <!-- /ko -->
                        </td>
                    </tr>
                </script>
                <script id="editActionSeasonalDiscountTemplate" type="text/html">
                    <a href="#" data-bind="click: $root.onEditChaufferCharge" title=@Cares.Web.Resources.Shared.Common.Edit><span class="glyphicon glyphicon-edit"></span></a>
                </script>
            </div>
        </div>

    </form>
  
</div>