
<div class="well col-md-12" id="tariffTypeEditor" data-bind="visible: isTariffTypeEditorVisible, with: addTariffType" style="display: none;">
    <div class="float-left detailsContainer">
        <h3 class="page-header detailsHeaderSection">@Cares.Web.Resources.Tariff.TariffType.TariffTypeDetail</h3>
        <button class="btn  btn-info" id="saveBtn" data-bind="click: $root.onSaveTariffType, enable: hasChanges, css: { 'btn-warning': hasChanges }">@Cares.Web.Resources.Shared.Common.Save</button>
        <button class="btn btn-default" id="saveBtn" data-bind="click: $root.closeTariffTypeEditor">@Cares.Web.Resources.Shared.Common.Cancel</button>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="tariffTypeCode" class="control-label h5 col-sm-2">@Cares.Web.Resources.Tariff.TariffType.TariffTypeCode *</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder='@("<" + Cares.Web.Resources.Tariff.TariffType.TariffTypeCode + ">")' id="tariffTypeCode" data-bind="value: tariffTypeCode, validationTooltip: tariffTypeCode, disable :(tariffTypeId()!=undefined) " />
            </div>
            <label for="tariffTypeName" class="control-label h5 col-sm-2">@Cares.Web.Resources.Tariff.TariffType.TariffTypeName</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder='@("<" + Cares.Web.Resources.Tariff.TariffType.TariffTypeName + ">")' id="tariffTypeName" data-bind="value: tariffTypeName, validationTooltip: tariffTypeName" />
            </div>
            <label for="tariffTypepricingStrategies" class="control-label h5 col-sm-2">@Cares.Web.Resources.Tariff.TariffType.PricingStrategy *</label>
            <div class="col-md-2">
                <select id="tariffTypepricingStrategies" class="form-control" data-bind="options: $root.pricingStrategies, optionsText: 'PricingStrategyCodeName', optionsValue: 'PricingStrategyId', optionsCaption: '@("<" + Cares.Web.Resources.Tariff.TariffType.PricingStrategy + ">")' , value: pricingStrategyId, validationTooltip: pricingStrategyId"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="tariffTypeCompany" class="control-label h5 col-sm-2">@Cares.Web.Resources.Tariff.TariffType.Company *</label>
            <div class="col-md-2">
                <select id="tariffTypeCompany" class="form-control" data-bind="options: $root.companies, optionsText: 'CompanyCodeName', optionsValue: 'CompanyId', optionsCaption:  '@("<" + Cares.Web.Resources.Tariff.TariffType.Company + ">")' , value: companyId, validationTooltip: companyId, event:{change:$root.onSelectedCompany }"></select>
            </div>
            <label for="tariffTypeDepartment" class="control-label h5 col-sm-2">@Cares.Web.Resources.Tariff.TariffType.Department *</label>
            <div class="col-md-2">
                <select id="tariffTypeDepartment" class="form-control" data-bind="options: $root.filteredDepartments, optionsText: 'DepartmentCodeName', optionsValue: 'DepartmentId', optionsCaption:  '@("<" + Cares.Web.Resources.Tariff.TariffType.Department + ">")' , value: departmentId, validationTooltip: departmentId, event:{change:$root.onSelectedDepartemnt}"></select>
            </div>
            <label for="tariffTypeOperation" class="control-label h5 col-sm-2">@Cares.Web.Resources.Tariff.TariffType.Operation *</label>
            <div class="col-md-2">
                <select id="tariffTypeOperation" class="form-control" data-bind="options: $root.filteredOperations, optionsText: 'OperationCodeName', optionsValue: 'OperationId', optionsCaption: '@("<" + Cares.Web.Resources.Tariff.TariffType.Operation + ">")'  , value: operationId, validationTooltip: operationId"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="tariffTypeMeasurementUnit" class="control-label h5 col-sm-2">@Cares.Web.Resources.Tariff.TariffType.MeasurementUnit *</label>
            <div class="col-md-2">
                <select id="tariffTypeMeasurementUnit" class="form-control" data-bind="options: $root.measurementUnits, optionsText: 'MeasurementUnitCodeName', optionsValue: 'MeasurementUnitId', optionsCaption:  '@("<" + Cares.Web.Resources.Tariff.TariffType.MeasurementUnit + ">")', value: measurementUnitId, validationTooltip: measurementUnitId"></select>
            </div>
            <label for="tariffTypeStartFrom" class="control-label h5 col-sm-2">@Cares.Web.Resources.Tariff.TariffType.StartFrom *</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder='@("<" + Cares.Web.Resources.Tariff.TariffType.StartFrom + ">")' id="tariffTypeStartFrom" data-bind="value: durationFrom, validationTooltip: durationFrom" />
            </div>
            <label for="tariffTypeEndTo" class="control-label h5 col-sm-2">@Cares.Web.Resources.Tariff.TariffType.EndTo *</label>
            <div class="col-md-2">
                <input type="text" placeholder='@("<" + Cares.Web.Resources.Tariff.TariffType.EndTo + ">")' class="form-control" id="tariffTypeEndTo" data-bind="value: durationTo, validationTooltip: durationTo" />
            </div>
        </div>
        <div class="form-group">
            <label for="tariffTypeGraceCode" class="control-label h5 col-sm-2">@Cares.Web.Resources.Tariff.TariffType.GracePeriod *</label>
            <div class="col-md-2">
                <input type="text" placeholder='@("<" + Cares.Web.Resources.Tariff.TariffType.GracePeriod + ">")' class="form-control" id="tariffTypeGraceCode" data-bind="value: gracePeriod, validationTooltip: gracePeriod" />
            </div>
            <label for="tariffTypeEffectiveDate" class="control-label h5 col-sm-2">@Cares.Web.Resources.Tariff.TariffType.EffectiveStartDate *</label>
            <div class="col-md-2">
                <input type="text" placeholder='@("<" + Cares.Web.Resources.Tariff.TariffType.EffectiveStartDate + ">")' class="form-control" id="tariffTypeEffectiveDate" data-bind="datepicker: effectiveDate, validationTooltip: effectiveDate" />
            </div>
            <label for="tariffTypeDescription" class="control-label h5 col-sm-2">@Cares.Web.Resources.Tariff.TariffType.Description</label>
            <div class="col-md-2">
                <textarea class="form-control" rows="4" placeholder='@("<" + Cares.Web.Resources.Tariff.TariffType.Description + ">")' id="tariffTypeDescription" data-bind="value: tariffTypeDescription, valueUpdate: 'keyup'"></textarea>
            </div>
        </div>

    </form>
    <div class="panel panel-info">

        <div class="panel-heading">@Cares.Web.Resources.Tariff.TariffType.TariffRevisions</div>
        <table id="tariffTypeRevisions" class="table">
            <thead>
                <tr>
                    <th> <span id="3">@Cares.Web.Resources.Tariff.TariffType.Duration<br />@Cares.Web.Resources.Tariff.TariffType.From<span></span></span></th>
                    <th> <span id="4">@Cares.Web.Resources.Tariff.TariffType.Duration<br />@Cares.Web.Resources.Tariff.TariffType.To<span></span></span></th>
                    <th> <span id="5">@Cares.Web.Resources.Tariff.TariffType.Grace<br />@Cares.Web.Resources.Tariff.TariffType.Period<span></span></span></th>
                    <th> <span id="6">@Cares.Web.Resources.Tariff.TariffType.Effective<br />@Cares.Web.Resources.Tariff.TariffType.Date<span></span></span></th>
                    <th> <span id="7">@Cares.Web.Resources.Tariff.TariffType.Revision<span></span></span></th>
                    <th> <span id="8">@Cares.Web.Resources.Tariff.TariffType.Created<br />@Cares.Web.Resources.Tariff.TariffType.By<span></span></span></th>
                    <th> <span id="8">@Cares.Web.Resources.Tariff.TariffType.Created<br />@Cares.Web.Resources.Tariff.TariffType.Date<span></span></span></th>
                    <th> <span id="9">@Cares.Web.Resources.Tariff.TariffType.Modified<br />@Cares.Web.Resources.Tariff.TariffType.By<span></span></span></th>
                    <th> <span id="10">@Cares.Web.Resources.Tariff.TariffType.Modified<br />@Cares.Web.Resources.Tariff.TariffType.Date<span></span></span></th>
                </tr>
            </thead>
            <tbody>
                <!-- ko template: { name: $root.templateToUseForRevision , foreach: $root.revisions } -->
                <!-- /ko -->
            </tbody>
        </table>
        <script id="itemtariffTypeRevisionTemplate" type="text/html">
            <tr>
                <td data-bind="text: durationFrom"></td>
                <td data-bind="text: durationTo"></td>
                <td data-bind="text: gracePeriod"></td>
                <td data-bind="text: formattedEffectiveDate"></td>
                <td data-bind="text: revisionNumber"></td>
                <td data-bind="text: recCreatedBy"></td>
                <td data-bind="text: formattedCreatedDate"></td>
                <td data-bind="text: recLastUpdatedBy"></td>
                <td data-bind="text: formattedModifiedDate"></td>
            </tr>
        </script>
    </div>

</div>
