@{
    ViewBag.Title = @Cares.Web.Resources.Tariff.AdditionalCharge.AdditionalChargeLabel;
}
<div class="row" id="additionalChargeBinding">
    <div class="row " data-bind="visible: !isAdditionalChargeEditorVisible()">
        <h3 class="page-header float-left pageHeaderSection">@Cares.Web.Resources.Tariff.AdditionalCharge.AdditionalChargeLabel</h3>
        <div class="header-toolsSection">
            <a href="#" class="label label-default create-new-icon" data-bind="click: createAdditionalCharge" title='@Cares.Web.Resources.Shared.Common.New'>@Cares.Web.Resources.Shared.Common.New</a>
            <a href="#" class="glyphicon glyphicon-filter " data-bind="visible: !filterSectionVisilble(), click: showFilterSection" title='@Cares.Web.Resources.Shared.Common.ShowFilter' style="display: none"></a>
        </div>
    </div>
    <div class="row searchFilterSection" data-bind="visible: !isAdditionalChargeEditorVisible() && filterSectionVisilble()" style="display: none">
        <div class=" well">
            <form class="form-horizontal" data-bind="submit: search">
                <div class="col-xs-3">
                    <input type="text" class="form-control" placeholder='@("<"+Cares.Web.Resources.Shared.Common.Search+">")' data-bind="value:searchFilter" />
                </div>
                <button type="submit" class="btn btn-success" data-bind="click: search">@Cares.Web.Resources.Shared.Common.Search</button>
                <button type="submit" class="btn btn-default" data-bind="click: reset">@Cares.Web.Resources.Shared.Common.Reset</button>
                <a href="#" class="glyphicon glyphicon-resize-small float-right collapse-filter" data-bind="click: collapseFilterSection" title='@Cares.Web.Resources.Shared.Common.HideSection'></a>
            </form>
        </div>
    </div>
    <div class="row searchFilterResultSection" data-bind="visible: !isAdditionalChargeEditorVisible()">
        <div class="well">
            <table id="additionalChargeTable" class="table table-condensed">
                <thead>
                    <tr>
                        <th class="Code"> <span id="1">@Cares.Web.Resources.Tariff.AdditionalCharge.Code<span class="icon-up"></span></span></th>
                        <th class="Name"> <span id="2">@Cares.Web.Resources.Tariff.AdditionalCharge.Name<span></span></span></th>
                        <th class="IsEditable"> <span id="3">@Cares.Web.Resources.Tariff.AdditionalCharge.IsEditable<span></span></span></th>
                        <th class="Description"> <span>@Cares.Web.Resources.Tariff.AdditionalCharge.Description<span></span></span></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko template: { name: 'itemAdditionalChareTemplate' , foreach: additionalTypeCharges } -->
                    <!-- /ko -->
                </tbody>
            </table>
            <!-- ko with: pager -->
            @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
            <!-- /ko -->
        </div>
    </div>
    <script id="editActionAdditionalChargeTypeTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onEditAdditionalChargeType" title=@Cares.Web.Resources.Shared.Common.Edit><span class="glyphicon glyphicon-edit"></span></a>
    </script>
    <script id="deleteActionAdditionalChargeTypeTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onDeleteAdditionalChargeType" title=@Cares.Web.Resources.Shared.Common.Delete><span class="glyphicon glyphicon-remove"></span></a>
    </script>
    <script id="itemAdditionalChareTemplate" type="text/html">
        <tr>
            <td data-bind="text: code"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: isEditable"></td>
            <td data-bind="text: description"></td>
            <td>
                <!-- ko template: { name: 'editActionAdditionalChargeTypeTemplate' } -->
                <!-- /ko -->
            </td>
            <td>
                <!-- ko template: { name: 'deleteActionAdditionalChargeTypeTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>
    @Html.Partial("_AddtionalChargeEditor")
</div>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->
@section inlinescripts
{
    <script type="text/javascript">
        require(["additionalCharge/additionalCharge.view", "common/confirmation.view"]);
        var ist = window.ist;
        @{
            <text>
        ist.resourceText.loadBaseDataFailedMsg = '@Cares.Web.Resources.Tariff.AdditionalCharge.LoadBaseDataFailedMsg';
        ist.resourceText.loadAddChargeDetailFailedMsg = '@Cares.Web.Resources.Tariff.AdditionalCharge.LoadAddChargeDetailFailedMsg';
        ist.resourceText.additionalChargeAlreadyExist = '@Cares.Web.Resources.Tariff.AdditionalCharge.AdditionalChargeAlreadyExist';
        ist.resourceText.additionalChargeAddSuccessMsg = '@Cares.Web.Resources.Tariff.AdditionalCharge.AdditionalChargeAddSuccessMsg';
        ist.resourceText.additionalChargeAddFailedMsg = '@Cares.Web.Resources.Tariff.AdditionalCharge.AdditionalChargeAddFailedMsg';
        ist.resourceText.additionalChargeDeleteSuccessMsg = '@Cares.Web.Resources.Tariff.AdditionalCharge.AdditionalChargeDeleteSuccessMsg';
        ist.resourceText.additionalChargeDeleteFailedMsg = '@Cares.Web.Resources.Tariff.AdditionalCharge.AdditionalChargeDeleteFailedMsg';
        ist.resourceText.additionalChargeLoadFailedMsg = '@Cares.Web.Resources.Tariff.AdditionalCharge.AdditionalChargeLoadFailedMsg';
        </text>
        }
    </script>
}
