@{
    ViewBag.Title = "Chauffer Charge";
}
<div class="row" id="chaufferChargeBinding">
    <div class="row " data-bind="visible: !isChaufferChargeEditorVisible()">
        <h3 class="page-header float-left pageHeaderSection">Chauffer Charges</h3>
        <div class="header-toolsSection">
            <a href="#" class="label label-default create-new-icon" data-bind="click: createChaufferCharge" title='@Cares.Web.Resources.Shared.Common.New'>@Cares.Web.Resources.Shared.Common.New</a>
            <a href="#" class="glyphicon glyphicon-filter " data-bind="visible: !filterSectionVisilble(), click: showFilterSection" title='@Cares.Web.Resources.Shared.Common.ShowFilter' style="display: none"></a>
        </div>
    </div>
    <div class="row searchFilterSection" data-bind="visible: !isChaufferChargeEditorVisible() && filterSectionVisilble()" style="display: none">
        <div class=" well">
            <form class="form-horizontal" data-bind="submit: search">
                <div class="col-xs-3">
                    <input type="text" class="form-control" placeholder='@("<"+Cares.Web.Resources.Shared.Common.Search+">")' data-bind="value:searchFilter" />
                </div>
                <div class="col-xs-3">
                    <select class="form-control" data-bind="options: $root.operations, optionsText: 'OperationCodeName', optionsValue: 'OperationId', optionsCaption: '&lt;' +'@Cares.Web.Resources.Tariff.TariffType.Operation'+ '&gt;', value: operationFilter"></select>
                </div>
                <div class="col-xs-3">
                    <select class="form-control" data-bind="options: $root.tariffTypes, optionsText: 'TariffTypeCodeName', optionsValue: 'TariffTypeId', optionsCaption: '&lt;' +'TariffType'+ '&gt;', value: tariffTypeFilter"></select>
                </div>
                <button type="submit" class="btn btn-success" data-bind="click: search">@Cares.Web.Resources.Shared.Common.Search</button>
                <button type="submit" class="btn btn-default" data-bind="click: reset">@Cares.Web.Resources.Shared.Common.Reset</button>
                <a href="#" class="glyphicon glyphicon-resize-small float-right collapse-filter" data-bind="click: collapseFilterSection" title='@Cares.Web.Resources.Shared.Common.HideSection'></a>
            </form>
        </div>
    </div>
    <div class="row searchFilterResultSection" data-bind="visible: !isChaufferChargeEditorVisible()">
        <div class="well">
            <table id="chaufferChargeTable" class="table table-condensed">
                <thead>
                    <tr>
                        <th class="Code"> <span id="1">Code<span class="icon-up"></span></span></th>
                        <th class="Name"> <span id="2">Name<span></span></span></th>
                        <th class="Description"> <span>Description<span></span></span></th>
                        <th class="Company"> <span>Company<span></span></span></th>
                        <th class="Operation"> <span>Operation<span></span></span></th>
                        <th class="TariffType"> <span>Tariff Type<span></span></span></th>
                        <th class="StartDate"> <span>Start Effective Date<span></span></span></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko template: { name: 'itemChaufferChargeMainTemplate' , foreach: chaufferChargeMains } -->
                    <!-- /ko -->
                </tbody>
            </table>
            <!-- ko with: pager -->
            @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
            <!-- /ko -->
        </div>
    </div>
    <script id="editActionChaufferChargeMainTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onEditChaufferChargeMain" title=@Cares.Web.Resources.Shared.Common.Edit><span class="glyphicon glyphicon-edit"></span></a>
    </script>
    <script id="deleteActionChaufferChargeMainTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onDeleteChaufferChargeMain" title=@Cares.Web.Resources.Shared.Common.Delete><span class="glyphicon glyphicon-remove"></span></a>
    </script>
    <script id="itemChaufferChargeMainTemplate" type="text/html">
        <tr>
            <td data-bind="text: code"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: description"></td>
            <td data-bind="text: companyCodeName"></td>
            <td data-bind="text: operationCodeName"></td>
            <td data-bind="text: tariffTypeCodeName"></td>
            <td data-bind="text: formattedStartDate"></td>
            <td>
                <!-- ko template: { name: 'editActionChaufferChargeMainTemplate' } -->
                <!-- /ko -->
            </td>
            <td>
                <!-- ko template: { name: 'deleteActionChaufferChargeMainTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>
        @Html.Partial("_ChaufferChargeEditor")
</div>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->
@section inlinescripts
{
    <script type="text/javascript">
        require(["chaufferCharge/chaufferCharge.view", "common/confirmation.view"]);
        var ist = window.ist;
        @{
            <text>
        ist.resourceText.chaufferChargeAddSuccessMsg = '@Cares.Web.Resources.Tariff.ChaufferCharge.ChaufferChargeAddSuccessMsg';
            ist.resourceText.loadBaseDataFailedMsg = '@Cares.Web.Resources.Tariff.ChaufferCharge.LoadBaseDataFailedMsg';
            ist.resourceText.loadTariffTypesFailedMsg = '@Cares.Web.Resources.Tariff.TariffType.LoadTariffTypesFailedMsg';
        ist.resourceText.chaufferChargeAddFailedMsg = '@Cares.Web.Resources.Tariff.ChaufferCharge.ChaufferChargeAddFailedMsg';
        ist.resourceText.loadChaufferChargeDetailFailedMsg = '@Cares.Web.Resources.Tariff.ChaufferCharge.LoadChaufferChargeDetailFailedMsg';
        ist.resourceText.chaufferChargeDuplicated = '@Cares.Web.Resources.Tariff.ChaufferCharge.ChaufferChargeDuplicated';
        ist.resourceText.chaufferChargeDeleteSuccessMsg = '@Cares.Web.Resources.Tariff.ChaufferCharge.ChaufferChargeDeleteSuccessMsg';
        ist.resourceText.chaufferChargeDeleteFailedMsg = '@Cares.Web.Resources.Tariff.ChaufferCharge.ChaufferChargeDeleteFailedMsg';
            </text>
        }
    </script>
}
