<!DOCTYPE html>
<html lang="@Cares.Web.Helper.CultureHelper.GetCurrentNeutralCulture()" dir="@(Cares.Web.Helper.CultureHelper.IsRighToLeft() ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Cares</title>
    @Styles.Render("~/Content/css" + (Cares.Web.Helper.CultureHelper.IsRighToLeft() ? "-rtl" : ""))
    @Styles.Render("~/Content/siteCss")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Bundle/BaseLibs")
    @Scripts.Render("~/bundles/bootstrap" + (Cares.Web.Helper.CultureHelper.IsRighToLeft() ? "-rtl" : ""))
    <script src="~/Scripts/App/requireConfig.js"></script>
    <script src="~/Scripts/App/architecture.js"></script>
    <script src="~/Scripts/typeahead.bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/MainSite.css" />


</head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                      
                        @{ Html.RenderAction("LoadMenu", "Menu", new { area = "" } ); }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content @(ViewBag.FluidLayout != null && ViewBag.FluidLayout ? "container-fluid" : "")">
            @RenderBody()
            <div id="spinner">
            </div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - CaReS</p>
            </footer>
        </div>

        @RenderSection("scripts", required: false)

    </body>
</html>
