@using Cares.Models.MenuModels
@model Cares.Web.ViewModels.Common.MenuViewModel

@{
    Layout = null;
}

@{
    if (Model.MenuRights != null)
    {
        foreach (MenuRight header in Model.MenuHeaders.ToList())
        {

            <li class="toActive">
                <a href="javascript:;">
                    <i class="@header.Menu.MenuImagePath"></i>
                    <span class="title">@header.Menu.MenuTitle </span>
                    <span class="toSelect"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu" role="menu">
                    @{
            IList<MenuRight> menuRightchildList = Model.MenuRights.Where(menuright => menuright.Menu.ParentItem != null &&
                                                                          menuright.Menu.ParentItem.MenuId == header.Menu.MenuId).ToList();
            foreach (MenuRight menuRight in menuRightchildList)
            {
                <li class="@(Request.Url != null && Request.Url.ToString().Contains(menuRight.Menu.MenuTargetController + "/" + menuRight.Menu.MenuFunction) ? "active innerSelected" : "")">
                    <a href="@Url.Action(menuRight.Menu.MenuFunction, menuRight.Menu.MenuTargetController)">
                        <i></i>
                        @menuRight.Menu.MenuTitle
                    </a>
                </li>

            }
                    }
                </ul>

            </li>

        }
    }
}

















