<div class="well col-md-12" id="vehicleEditor" data-bind="visible: isVehicleEditorVisible, with: addVehicleItem" style="display: none;">
    <div class="detailsContainer">
        <h3 class="page-header detailsHeaderSection">@Cares.Web.Resources.Vehicle.Vehicle.VehicleDetail </h3>
        <button class="btn  btn-info" id="saveBtn" data-bind="click: $root.onSaveVehicle, enable: hasChanges, css: { 'btn-warning': hasChanges }">@Cares.Web.Resources.Shared.Common.Save</button>
        <button class="btn btn-default" id="saveBtn" data-bind="click: $root.closeVehicleEditor">@Cares.Web.Resources.Shared.Common.Cancel</button>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="plateNumber" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.PlateNumber *</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.PlateNumber + ">")' id="plateNumber" data-bind="value:plateNumber , validationTooltip:plateNumber ,disable :(vehicleId()!==0)" />
            </div>
            <label for="vName" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.VehicleName </label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder='@("<" + Cares.Web.Resources.Vehicle.Vehicle.VehicleName + ">")' id="vName" data-bind="value:vehicleName , validationTooltip:vehicleName " />
            </div>
            <label for="vPictorialCondition" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.VehiclePictorialCondition </label>
            <div class="col-md-2">
                <input type="button" class="form-control" id="vPictorialCondition" />
            </div>
        </div>
        <div class="form-group">
            <label for="company" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.Company </label>
            <div class="col-md-2">
                <select id="company" class="form-control" data-bind="options: $root.companies, optionsText: 'CompanyCodeName', optionsValue: 'CompanyId', optionsCaption: '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.Company' + '&gt;' , value: companyId, validationTooltip: companyId, event:{change:$root.onSelectedCompany}"></select>
            </div>
            <label for="department" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.Department </label>
            <div class="col-md-2">
                <select id="department" class="form-control" data-bind="options: $root.filteredDepartments, optionsText: 'DepartmentCodeName', optionsValue: 'DepartmentId', optionsCaption:  '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.Department' + '&gt;' , value: departmentId, validationTooltip: departmentId, event:{change:$root.onSelectedDepartemnt}"></select>
            </div>
            <label for="operation" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.Operation </label>
            <div class="col-md-2">
                <select id="operation" class="form-control" data-bind="options: $root.filteredOperations, optionsText: 'OperationCodeName', optionsValue: 'OperationId', optionsCaption: '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.Operation' + '&gt;'  , value: operationId, validationTooltip: operationId"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="region" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.Region </label>
            <div class="col-md-2">
                <select id="region" class="form-control" data-bind="options: $root.regions, optionsText: 'RegionCodeName', optionsValue: 'RegionId', optionsCaption:  '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.Region' + '&gt;', value: regionId, validationTooltip: regionId "></select>
            </div>
            <label for="fleetPool" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.FleetPool </label>
            <div class="col-md-2">
                <select id="fleetPool" class="form-control" data-bind="options: $root.fleetPools, optionsText: 'FleetPoolCodeName', optionsValue: 'FleetPoolId', optionsCaption:  '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.FleetPool' + '&gt;', value: fleetPoolId, validationTooltip: fleetPoolId"></select>
            </div>
            <label for="location" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.AtLocation  </label>
            <div class="col-md-2">
                <select id="location" class="form-control" data-bind="options: $root.locations, optionsText: 'LocationCode', optionsValue: 'OperationsWorkPlaceId', optionsCaption: '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.Location' + '&gt;', value: locationId, validationTooltip: locationId"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="fuelType" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.FuelType * </label>
            <div class="col-md-2">
                <select id="fuelType" class="form-control" data-bind="options: $root.fuelTypes, optionsText: 'FuelTypeCodeName', optionsValue: 'FuelTypeId', optionsCaption:  '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.FuelType' + '&gt;', value: fuelTypeId, validationTooltip: fuelTypeId "></select>
            </div>
            <label class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.FuelLevel * </label>
            <div class="col-md-2">

            </div>
            <label for="vMake" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.VehicleMake *  </label>
            <div class="col-md-2">
                <select id="vMake" class="form-control" data-bind="options: $root.vehicleMakes, optionsText: 'VehicleMakeCodeName', optionsValue: 'VehicleMakeId', optionsCaption:'&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.VehicleMake' + '&gt;', value: vehicleMakeId, validationTooltip: vehicleMakeId"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="vModel" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.VehicleModel * </label>
            <div class="col-md-2">
                <select id="vModel" class="form-control" data-bind="options: $root.vehicleModels, optionsText: 'VehicleModelCodeName', optionsValue: 'VehicleModeld', optionsCaption: 'Vehicle Model', value:vehicleModelId "></select>
            </div>
            <label for="vCategory" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.VehicleCategory * </label>
            <div class="col-md-2">
                <select id="vCategory" class="form-control" data-bind="options: $root.vehicleCategories, optionsText: 'VehicleCategoryCodeName', optionsValue: 'VehicleCategoryId', optionsCaption: '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.VehicleCategory' + '&gt;', value: vehicleCategoryId "></select>
            </div>
            <label for="modelYear" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.ModelYear *  </label>
            <div class="col-md-2">
                <select id="modelYear" class="form-control" data-bind="options: $root.modelYears, optionsText: 'Text', optionsValue: 'Id', optionsCaption: '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.ModelYear' + '&gt;', value: modelYear, validationTooltip: modelYear"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.Status * </label>
            <div class="col-md-2">
                <select id="status" class="form-control" data-bind="options: $root.vehicleStatuses, optionsText: 'VehicleStatusCodeName', optionsValue: 'VehicleStatusId', optionsCaption: '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.Status' + '&gt;', value:statusId "></select>
            </div>
            <label for="transmission" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.TransmissionType * </label>
            <div class="col-md-2">
                <select id="transmission" class="form-control" data-bind="options: $root.transmissionTypes, optionsText: 'TransmissionTypeCodeName', optionsValue: 'TransmissionTypeId', optionsCaption: '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.TransmissionType' + '&gt;', value: transmissionTypeId "></select>
            </div>
            <label for="tankSize" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.TankSize* </label>
            <div class="col-md-2">
                <input id="tankSize" type="text" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.TankSize + ">")' data-bind="value:tankSize , validationTooltip:tankSize " />
            </div>
        </div>
        <div class="form-group">
            <label for="color" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.Color *</label>
            <div class="col-md-2">
                <input id="color" type="text" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.Color + ">")' data-bind="value:color , validationTooltip:color " />
            </div>
            <label for="initialOdemeter" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.InitialOdometer * </label>
            <div class="col-md-2">
                <input id="initialOdemeter" type="text" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.InitialOdometer + ">")' data-bind="value:initialOdemeter , validationTooltip:initialOdemeter " />
            </div>
            <label for="currentOdemeter" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.CurrentOdometer * </label>
            <div class="col-md-2">
                <input id="currentOdemeter" type="text" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.CurrentOdometer + ">")' data-bind="value:currentOdemeter , validationTooltip:currentOdemeter " />
            </div>
        </div>
        <div class="form-group">
            <label for="color" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.BranchOwner *</label>
            <div class="col-md-2">
                <input type="checkbox" class="form-control" data-bind="checked: branchOwnerIsChecked " />
            </div>
            <label for="registrationDate" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.RegisterationDate  </label>
            <div class="col-md-2">
                <input id="registrationDate" type="text" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.RegisterationDate + ">")' data-bind="datepicker: registrationDate, validationTooltip: registrationDate" />
            </div>
            <label for="registrationExpDate" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.RegisterationExpDate </label>
            <div class="col-md-2">
                <input id="registrationExpDate" type="text" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.RegisterationExpDate + ">")' data-bind="datepicker: registrationExpDate, validationTooltip: registrationExpDate" />
            </div>
        </div>

        <div class="panel panel-info">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#otherDetail" role="tab" data-toggle="tab">@Cares.Web.Resources.Vehicle.Vehicle.OtherDetails</a></li>
                <li><a href="#purchaseInfo" role="tab" data-toggle="tab">@Cares.Web.Resources.Vehicle.Vehicle.PurchaseInfo</a></li>
                <li><a href="#leaseInfo" role="tab" data-toggle="tab">@Cares.Web.Resources.Vehicle.Vehicle.LeaseInfo</a></li>
                <li><a href="#insuranceInfo" role="tab" data-toggle="tab">@Cares.Web.Resources.Vehicle.Vehicle.InsuranceInfo</a></li>
                <li><a href="#maintenanceSchedule" role="tab" data-toggle="tab">@Cares.Web.Resources.Vehicle.Vehicle.MaintenanceSchedule</a></li>
                <li><a href="#checkListItem" role="tab" data-toggle="tab">@Cares.Web.Resources.Vehicle.Vehicle.CheckListItem</a></li>
                <li><a href="#depriciationInfo" role="tab" data-toggle="tab">@Cares.Web.Resources.Vehicle.Vehicle.DepreciationInfo</a></li>
                <li><a href="#disposalInfo" role="tab" data-toggle="tab">@Cares.Web.Resources.Vehicle.Vehicle.DisposalInfo</a></li>
                <li><a href="#uploadImages" role="tab" data-toggle="tab">@Cares.Web.Resources.Vehicle.Vehicle.UploadImage</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <br />
                <!-- first tab - Other Details-->
                <div class="tab-pane active" id="otherDetail" data-bind="with: otherVehicleDetail">
                    <div class="form-group">
                        <label for="numberOfDoors" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.NumberofDoors </label>
                        <div class="col-md-2">
                            <input type="text" id="numberOfDoors" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.NumberofDoors + ">")' data-bind="value:numberOfDoors, validationTooltip:numberOfDoors" />
                        </div>
                        <label for="engineCC" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.EngineCC *</label>
                        <div class="col-md-2">
                            <input type="text" id="engineCC" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.EngineCC + ">")' data-bind="value:horsePowerCc, validationTooltip:horsePowerCc" />
                        </div>
                        <label for="cylinders" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.NumberOfCylinders</label>
                        <div class="col-md-2">
                            <input type="text" id="cylinders" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.NumberOfCylinders + ">")' data-bind="value:numberOfCylinders, validationTooltip:numberOfCylinders" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="numberOfDoors" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.AlloyRim </label>
                        <div class="col-md-2">
                            <input type="checkbox" class="form-control" data-bind="checked: isAlloyRim" />
                        </div>
                        <label for="chasisNumber" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.ChasisNumber *</label>
                        <div class="col-md-2">
                            <input type="text" id="chasisNumber" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.ChasisNumber + ">")' data-bind="value:chasisNumber, validationTooltip:chasisNumber" />
                        </div>
                        <label for="engineNumber" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.EngineNumber </label>
                        <div class="col-md-2">
                            <input type="text" id="engineNumber" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.EngineNumber + ">")' data-bind="value:engineNumber, validationTooltip:engineNumber" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="keyCode" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.KeyCode  </label>
                        <div class="col-md-2">
                            <input type="text" id="keyCode" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.KeyCode + ">")' data-bind="value:keyCode , validationTooltip:keyCode " />
                        </div>
                        <label for="radioCode" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.RadioCode </label>
                        <div class="col-md-2">
                            <input type="text" id="radioCode" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.RadioCode + ">")' data-bind="value:radioCode , validationTooltip:radioCode " />
                        </div>
                        <label for="topSpeed" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.TopSpeed</label>
                        <div class="col-md-2">
                            <input type="text" id="topSpeed" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.TopSpeed + ">")' data-bind="value:topSpeed , validationTooltip:topSpeed " />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fWheelSize" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.FrontWheelSize</label>
                        <div class="col-md-2">
                            <input type="text" id="fWheelSize" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.FrontWheelSize + ">")' data-bind="value:frontWheelSize, validationTooltip:frontWheelSize" />
                        </div>
                        <label for="bWheelSize" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.BackWheelSize</label>
                        <div class="col-md-2">
                            <input type="text" id="bWheelSize" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.BackWheelSize + ">")' data-bind="value:backWheelSize  , validationTooltip:backWheelSize" />
                        </div>
                        <label for="accessories" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.Accessories </label>
                        <div class="col-md-2">
                            <textarea class="form-control" rows="2" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.Accessories + ">")' id="accessories" data-bind="value: accessories, valueUpdate: 'keyup'"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="interiorDes" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.InteriorDescription</label>
                        <div class="col-md-2">
                            <textarea class="form-control" rows="2" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.InteriorDescription + ">")' id="interiorDes" data-bind="value: interiorDescription , valueUpdate: 'keyup'"></textarea>
                        </div>
                    </div>
                </div>
                <!-- second tab - Purchase Info-->
                <div class="tab-pane" id="purchaseInfo" data-bind="with: vehiclePurchaseInfo">
                    <div class="form-group">
                        <label for="purchaseDate" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.PurchaseDate </label>
                        <div class="col-md-2">
                            <input id="purchaseDate" type="text" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.PurchaseDate + ">")' class="form-control" data-bind="datepicker: purchaseDate , validationTooltip: purchaseDate " />
                        </div>
                        <label for="pOrderNum" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.PurchaseOrderNumber </label>
                        <div class="col-md-2">
                            <input type="text" id="pOrderNum" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.PurchaseOrderNumber + ">")' data-bind="value:purchaseOrderNumber, validationTooltip:purchaseOrderNumber" />
                        </div>
                        <label for="pCost" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.PurchaseCost</label>
                        <div class="col-md-2">
                            <input type="text" id="pCost" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.PurchaseCost + ">")' data-bind="value:purchaseCost , validationTooltip:purchaseCost " />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="usedVehicle" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.UsedVehicle </label>
                        <div class="col-md-2">
                            <input type="checkbox" id="usedVehicle" class="form-control" data-bind="checked: isUsedVehicle " />
                        </div>
                        <label for="pDescription" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.PurchaseDescription </label>
                        <div class="col-md-2">
                            <textarea class="form-control" rows="2" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.PurchaseDescription + ">")' id="pDescription" data-bind="value: purchaseDescription , valueUpdate: 'keyup'"></textarea>
                        </div>
                        <label for="bPartner" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.BusinessPartner </label>
                        <div class="col-md-2">
                            <select id="bPartner" class="form-control" data-bind="options: $root.businessPartners, optionsText: 'BusinessPartnerCodeName', optionsValue: 'BusinessPartnerId', optionsCaption: '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.BusinessPartner' + '&gt;', value: bPMainId , validationTooltip: bPMainId "></select>
                        </div>
                    </div>

                </div>
                <!-- third tab - Lease Info-->
                <div class="tab-pane" id="leaseInfo" data-bind="with: vehicleLeasedInfo">
                    <div class="form-group">
                        <label for="downPay" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.DownPayment</label>
                        <div class="col-md-2">
                            <input id="downPay" type="text" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.DownPayment + ">")' class="form-control" data-bind="value:downPayment, validationTooltip:downPayment " />
                        </div>
                        <label for="leasedStartDt" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.LeasedStartDate </label>
                        <div class="col-md-2">
                            <input type="text" id="leasedStartDt" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.LeasedStartDate + ">")' data-bind="datepicker: leasedStartDate, validationTooltip: leasedStartDate" />
                        </div>
                        <label for="leasedFinishDt" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.LeasedFinishDate</label>
                        <div class="col-md-2">
                            <input type="text" id="leasedFinishDt" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.LeasedFinishDate + ">")' data-bind="datepicker: leasedFinishDate, validationTooltip: leasedFinishDate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="leasedOwnerShip" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.LeasedOwnership </label>
                        <div class="col-md-2">
                            <input type="checkbox" id="leasedOwnerShip" class="form-control" data-bind="checked: leaseToOwnership  " />
                        </div>
                        <label for="monthlyPayment" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.MonthlyPayment </label>
                        <div class="col-md-2">
                            <input type="text" id="monthlyPayment" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.MonthlyPayment + ">")' data-bind="value:monthlyPayment , validationTooltip:monthlyPayment " />
                        </div>
                        <label for="insuranceRt" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.InterestRate</label>
                        <div class="col-md-2">
                            <input type="text" id="insuranceRt" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.InterestRate + ">")' data-bind="value:interestRate , validationTooltip:interestRate " />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="principalPayment" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.PrincipalPayment</label>
                        <div class="col-md-2">
                            <input type="text" id="principalPayment" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.PrincipalPayment + ">")' data-bind="value:prinicipalPayment , validationTooltip:prinicipalPayment " />
                        </div>
                        <label for="firstPaymentDt" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.FirstPaymentDate </label>
                        <div class="col-md-2">
                            <input type="text" id="firstPaymentDt" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.FirstPaymentDate + ">")' data-bind="datepicker: firstPaymentDate , validationTooltip: firstPaymentDate " />
                        </div>
                        <label for="firstPayment" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.FirstPayment</label>
                        <div class="col-md-2">
                            <input type="text" id="firstPayment" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.FirstPayment + ">")' data-bind="value:firstMonthPayment , validationTooltip:firstMonthPayment " />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastPayment" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.LastPayment </label>
                        <div class="col-md-2">
                            <input type="text" id="lastPayment" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.LastPayment + ">")' data-bind="value:lastMonthPayment , validationTooltip:lastMonthPayment " />
                        </div>
                        <label for="bPartner" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.BusinessPartner </label>
                        <div class="col-md-2">
                            <select id="bPartner" class="form-control" data-bind="options: $root.businessPartners, optionsText: 'BusinessPartnerCodeName', optionsValue: 'BusinessPartnerId', optionsCaption: '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.BusinessPartner' + '&gt;', value: bPMainId , validationTooltip: bPMainId"></select>
                        </div>
                    </div>
                </div>
                <!-- fourth tab - Insuran Info-->
                <div class="tab-pane" id="insuranceInfo" data-bind="with: vehicleInsuranceInfo">
                    <div class="form-group">
                        <label for="insAgent" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.InsuranceAgent </label>
                        <div class="col-md-2">
                            <input id="insAgent" type="text" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.InsuranceAgent + ">")' class="form-control" data-bind="value:insuranceAgent  , validationTooltip:insuranceAgent  " />
                        </div>
                        <label for="insStartDt" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.InsuranceStartDate </label>
                        <div class="col-md-2">
                            <input type="text" id="insStartDt" class="form-control" placeholder='@("<" + Cares.Web.Resources.Vehicle.Vehicle.InsuranceStartDate + ">")' data-bind="datepicker: insuranceDate, validationTooltip: insuranceDate" />
                        </div>
                        <label for="insRenewalDt" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.InsuranceRenewalDate </label>
                        <div class="col-md-2">
                            <input type="text" id="insRenewalDt" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.InsuranceRenewalDate + ">")' data-bind="datepicker: renewalDate , validationTooltip: renewalDate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="coverageLimit" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.CoverageLimit</label>
                        <div class="col-md-2">
                            <input id="coverageLimit" type="text" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.CoverageLimit + ">")' class="form-control" data-bind="value:coverageLimit  , validationTooltip:coverageLimit  " />
                        </div>
                        <label for="premium" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.Premium </label>
                        <div class="col-md-2">
                            <input type="text" id="premium" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.Premium + ">")' data-bind="value:premium  , validationTooltip:premium  " />
                        </div>
                        <label for="insValue" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.InsuredValue</label>
                        <div class="col-md-2">
                            <input type="text" id="insValue" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.InsuredValue + ">")' data-bind="value:insuredValue   , validationTooltip:insuredValue   " />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="insuranceType" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.InsuranceType *</label>
                        <div class="col-md-2">
                            <select id="insuranceType" class="form-control" data-bind="options: $root.insuranceType, optionsText: 'InsuranceTypeCodeName', optionsValue: 'InsuranceTypeId', optionsCaption: '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.InsuranceType' + '&gt;' , value: insuranceTypeId  , validationTooltip: insuranceTypeId "></select>
                        </div>
                        <label for="bPartnerInsuranceInfo" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.BusinessPartner </label>
                        <div class="col-md-2">
                            <select id="bPartnerInsuranceInfo" class="form-control" data-bind="options: $root.businessPartners, optionsText: 'BusinessPartnerCodeName', optionsValue: 'BusinessPartnerId', optionsCaption: '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.BusinessPartner' + '&gt;', value: bPMainId , validationTooltip: bPMainId"></select>
                        </div>
                    </div>
                </div>
                <!-- fifth tab - Maintenance Schedule-->
                <div class="tab-pane" id="maintenanceSchedule" data-bind="with: maintenanceSchedule">
                    <button class="btn  btn-info" id="saveBtn" data-bind="click: $root.onAddMaintenanceSchedule">@Cares.Web.Resources.Vehicle.Vehicle.AddToList</button>
                    <div class="form-group">
                        <label for="maintStartDt" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.MaintenanceStartDate *</label>
                        <div class="col-md-2">
                            <input id="maintStartDt" type="text" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.MaintenanceStartDate + ">")' class="form-control" data-bind="datepicker: maintenanceStartDate, validationTooltip: maintenanceStartDate " />
                        </div>
                        <label for="frequencyDays" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.FrequencyInDays</label>
                        <div class="col-md-2">
                            <input type="text" id="frequencyDays" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.FrequencyInDays + ">")' data-bind="value:frequency , validationTooltip:frequency " />
                        </div>
                        <label for="frequencyKm" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.FrequencyInKM </label>
                        <div class="col-md-2">
                            <input type="text" id="frequencyKm" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.FrequencyInKM + ">")' data-bind="value:frequencyKiloMeter , validationTooltip:frequencyKiloMeter " />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="maintainceType" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.MaintenanceType *</label>
                        <div class="col-md-2">
                            <select id="maintainceType" class="form-control" data-bind="options: $root.maintenanceTypes, optionsText: 'MaintenanceTypeCodeName', optionsValue: 'MaintenanceTypeId', optionsCaption: '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.MaintenanceType' + '&gt;',value:maintenanceTypeId "></select>
                        </div>
                    </div>
                    <table id="maintenanceScheduleTable" class="table table-condensed">
                        <thead>
                            <tr>
                                <th> <span>@Cares.Web.Resources.Vehicle.Vehicle.MaintenanceType<span></span></span></th>
                                <th> <span>@Cares.Web.Resources.Vehicle.Vehicle.MaintenanceStartDate<span></span></span></th>
                                <th> <span>@Cares.Web.Resources.Vehicle.Vehicle.FrequencyInDays<span></span></span></th>
                                <th> <span>@Cares.Web.Resources.Vehicle.Vehicle.FrequencyInKM<span></span></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko template: { name: 'itemMaintenanceScheduleTemplate' , foreach: $root.maintenanceScheduleList } -->
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
                <!-- sixth tab - Check List item-->
                <div class="tab-pane" id="checkListItem" data-bind="with: checkListItem">
                    <button class="btn  btn-info" id="saveBtn" data-bind="click: $root.onAddCheckListItem">@Cares.Web.Resources.Vehicle.Vehicle.AddToList</button>
                    <div class="form-group">
                        <label for="vCheckList" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.VehicleCheckList *</label>
                        <div class="col-md-2">
                            <select id="vCheckList" class="form-control" data-bind="options: $root.vehicleCheckList, optionsText: 'VehicleCheckListCodeName', optionsValue: 'VehicleCheckListId', optionsCaption:'&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.VehicleCheckList' + '&gt;',value:vehicleCheckListId "></select>
                        </div>
                    </div>
                    <table id="checkListItemTable" class="table table-condensed">
                        <thead>
                            <tr>
                                <th> <span>@Cares.Web.Resources.Vehicle.Vehicle.CheckListItem<span></span></span></th>

                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko template: { name: 'itemCheckListItemTemplate' , foreach: $root.checkListItemList } -->
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
                <!-- seventh tab - Depriciation Info-->
                <div class="tab-pane" id="depriciationInfo" data-bind="with: vehicleDepreciation">
                    <div class="form-group">
                        <label for="upStartDt" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.UsefulPeriodStartDate </label>
                        <div class="col-md-2">
                            <input id="upStartDt" type="text" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.UsefulPeriodStartDate + ">")' class="form-control" data-bind="datepicker: usefulPeriodStartDate , validationTooltip: usefulPeriodStartDate " />
                        </div>
                        <label for="upEndDt" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.UsefulPeriodEndDate </label>
                        <div class="col-md-2">
                            <input type="text" id="upEndDt" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.UsefulPeriodEndDate + ">")' data-bind="datepicker: usefulPeriodEndDate , validationTooltip: usefulPeriodEndDate " />
                        </div>
                        <label for="firstMonthDep" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.FirstMonthDep</label>
                        <div class="col-md-2">
                            <input type="text" id="firstMonthDep" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.FirstMonthDep + ">")' data-bind="value:firstMonthDepAmount, validationTooltip:firstMonthDepAmount" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="monthlyDep" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.MonthlyDep</label>
                        <div class="col-md-2">
                            <input id="monthlyDep" type="text" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.MonthlyDep + ">")' class="form-control" data-bind="value:monthlyDepAmount, validationTooltip:monthlyDepAmount" />
                        </div>
                        <label for="lastMonthDep" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.LastMonthDep</label>
                        <div class="col-md-2">
                            <input type="text" id="lastMonthDep" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.LastMonthDep + ">")' data-bind="value:lastMonthDepAmount, validationTooltip:lastMonthDepAmount" />
                        </div>
                        <label for="residualVal" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.ResidualValue </label>
                        <div class="col-md-2">
                            <input type="text" id="residualVal" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.ResidualValue + ">")' data-bind="value:residualValue, validationTooltip:residualValue" />
                        </div>
                    </div>

                </div>
                <!-- eight tab - Disposal Info-->
                <div class="tab-pane" id="disposalInfo" data-bind="with: vehicleDisposalInfo">
                    <div class="form-group">
                        <label for="dispDt" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.DisposalDate</label>
                        <div class="col-md-2">
                            <input id="dispDt" type="text" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.DisposalDate + ">")' class="form-control" data-bind="datepicker: saleDate  , validationTooltip: saleDate  " />
                        </div>
                        <label for="dsipCost" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.DisposalCost </label>
                        <div class="col-md-2">
                            <input type="text" id="dsipCost" class="form-control" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.DisposalCost + ">")' data-bind="value:salePrice , validationTooltip:salePrice " />
                        </div>
                        <label for="bPartnerInsuranceInfo" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.BusinessPartner </label>
                        <div class="col-md-2">
                            <select id="bPartnerInsuranceInfo" class="form-control" data-bind="options: $root.businessPartners, optionsText: 'BusinessPartnerCodeName', optionsValue: 'BusinessPartnerId', optionsCaption: '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.BusinessPartner' + '&gt;',value:bPMainId "></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="disposalDes" class="control-label h5 col-sm-2">@Cares.Web.Resources.Vehicle.Vehicle.DisposalDescription</label>
                        <div class="col-md-2">
                            <textarea class="form-control" rows="2" placeholder='@("<" +Cares.Web.Resources.Vehicle.Vehicle.DisposalDescription + ">")' id="disposalDes" data-bind="value: disposalDescription, valueUpdate: 'keyup'"></textarea>
                        </div>
                    </div>
                </div>
                <!-- ninth tab - Upload Image-->
                <div class="tab-pane" id="uploadImages">
                </div>

            </div>
        </div>
    </form>
    <script id="deleteActionMaintenanceScheduleTemplate" type="text/html">
        <a href="#" data-bind="click: $root.deleteMaintenanceSchedule" title='@Cares.Web.Resources.Shared.Common.Delete'><span class="glyphicon glyphicon-remove"></span></a>
    </script>
    <script id="itemMaintenanceScheduleTemplate" type="text/html">
        <tr>
            <td data-bind="text: maintenanceTypCodeName"></td>
            <td data-bind="dateString: maintenanceStartDate"></td>
            <td data-bind="text: frequency"></td>
            <td data-bind="text: frequencyKiloMeter"></td>
            <td>
                <!-- ko template: { name: 'deleteActionMaintenanceScheduleTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>
    <script id="deleteActionCheckListItemTemplate" type="text/html">
        <a href="#" data-bind="click: $root.deleteCheckListItem" title='@Cares.Web.Resources.Shared.Common.Delete'><span class="glyphicon glyphicon-remove"></span></a>
    </script>
    <script id="itemCheckListItemTemplate" type="text/html">
        <tr>
            <td data-bind="text: vehicleCheckListCodeName"></td>
            <td>
                <!-- ko template: { name: 'deleteActionCheckListItemTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>
</div>