@{
    ViewBag.Title = @Cares.Web.Resources.Vehicle.Vehicle.VehicleLabel;
}

<div class="row" id="vehicleBinding">
    <div class="row " data-bind="visible: !isVehicleEditorVisible()">
        <h3 class="page-header float-left pageHeaderSection">@Cares.Web.Resources.Vehicle.Vehicle.Vehicles</h3>
        <div class="header-toolsSection">
            <a href="#" class="label label-default create-new-icon" data-bind="click: createVehicle" title='@Cares.Web.Resources.Vehicle.Vehicle.CreateNewVehicle'>@Cares.Web.Resources.Shared.Common.New</a>
            <a href="#" class="glyphicon glyphicon-filter " data-bind="visible: !filterSectionVisilble(), click: showFilterSection" title='@Cares.Web.Resources.Shared.Common.ShowFilter' style="display: none"></a>
        </div>
    </div>
    <div class="row searchFilterSection" data-bind="visible: !isVehicleEditorVisible() && filterSectionVisilble()" style="display: none">
        <div class=" well">
            <form class="form-horizontal" data-bind="submit: search">
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder='@("<"+Cares.Web.Resources.Shared.Common.Search+">")' data-bind="value: searchFilter" />
                </div>
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder='@("<"+Cares.Web.Resources.Vehicle.Vehicle.HireGroup+">")' data-bind="value: hireGroupFilter" />
                </div>
                <div class="col-xs-2">
                    <select class="form-control" data-bind="options: $root.operations, optionsText: 'OperationCodeName', optionsValue: 'OperationId', optionsCaption: '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.Operation' + '&gt;', value: operationFilter"></select>
                </div>
                <div class="col-xs-2">
                    <select class="form-control" data-bind="options: $root.fleetPools, optionsText: 'FleetPoolCodeName', optionsValue: 'FleetPoolId', optionsCaption: '&lt;' + '@Cares.Web.Resources.Vehicle.Vehicle.FleetPool' + '&gt;', value:fleetPoolFilter"></select>
                </div>
                <button type="submit" class="btn btn-success" data-bind="click: search">@Cares.Web.Resources.Shared.Common.Search</button>
                <button type="submit" class="btn btn-default" data-bind="click: reset">@Cares.Web.Resources.Shared.Common.Reset</button>
                <a href="#" class="glyphicon glyphicon-resize-small float-right collapse-filter" data-bind="click: collapseFilterSection" title='@Cares.Web.Resources.Shared.Common.HideSection'></a>

            </form>
        </div>
    </div>
    <div class="row searchFilterResultSection" data-bind="visible: !isVehicleEditorVisible()">
        <div class="well">
            <table id="vehicleTable" class="table table-condensed">
                <thead>
                    <tr>
                        <th class="vImage">&nbsp;</th>
                        <th class="vPlateNumber"> <span id="1">@Cares.Web.Resources.Vehicle.Vehicle.PlateNumber<span class="icon-up"></span></span></th>
                        <th class="vMake"> <span>@Cares.Web.Resources.Vehicle.Vehicle.VehicleLabel<br />@Cares.Web.Resources.Vehicle.Vehicle.Make<span></span></span></th>
                        <th class="vMake"> <span>@Cares.Web.Resources.Vehicle.Vehicle.VehicleLabel<br />@Cares.Web.Resources.Vehicle.Vehicle.Model<span></span></span></th>
                        <th class="vMake"> <span>@Cares.Web.Resources.Vehicle.Vehicle.VehicleLabel<br />@Cares.Web.Resources.Vehicle.Vehicle.VehicleCategory<span></span></span></th>
                        @*<th class="vName"> <span id="2">@Cares.Web.Resources.Vehicle.Vehicle.VehicleLabel @Cares.Web.Resources.Vehicle.Vehicle.Name<span></span></span></th>*@
                        <th class="vModel"> <span>@Cares.Web.Resources.Vehicle.Vehicle.Model<br />@Cares.Web.Resources.Vehicle.Vehicle.Year<span></span></span></th>
                        <th class="vFuelLevel"> <span>@Cares.Web.Resources.Vehicle.Vehicle.Fuel<br />@Cares.Web.Resources.Vehicle.Vehicle.Level<span></span></span></th>
                        <th class="vCurrentOdemeter"> <span>@Cares.Web.Resources.Vehicle.Vehicle.Current<br />@Cares.Web.Resources.Vehicle.Vehicle.Odometer<span></span></span></th>
                        <th class="vLocation"> <span>@Cares.Web.Resources.Vehicle.Vehicle.Location<span></span></span></th>

                        <th class="vStatus"> <span>@Cares.Web.Resources.Vehicle.Vehicle.VehicleLabel<br />@Cares.Web.Resources.Vehicle.Vehicle.Status<span></span></span></th>
                        <th class="operation"> <span>@Cares.Web.Resources.Vehicle.Vehicle.Operation<span></span></span></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko template: { name: 'itemVehicleTemplate' , foreach: vehicles } -->
                    <!-- /ko -->
                </tbody>
            </table>
            <!-- ko with: pager -->
            @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
            <!-- /ko -->
        </div>
    </div>
    <script id="editActionVehicleTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onEditVehicle" title=@Cares.Web.Resources.Shared.Common.Edit><span class="glyphicon glyphicon-edit"></span></a>
    </script>
    <script id="deleteActionVehicleTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onDeleteVehicle" title=@Cares.Web.Resources.Shared.Common.Delete><span class="glyphicon glyphicon-remove"></span></a>
    </script>
    <script id="itemVehicleTemplate" type="text/html">
        <tr>
            <td class="vehicleThumbnail"><img src="#" data-bind="attr:{src: vehicleImage().imageUrl}" /></td>
            <td data-bind="text: plateNumber"></td>
            <td data-bind="text: vehicleMakeCodeName"></td>
            <td data-bind="text: vehicleModelCodeName"></td>
            <td data-bind="text: vehicleCategoryCodeName"></td>
            @*<td data-bind="text: vehicleName"></td>*@
            <td data-bind="text: modelYear"></td>
            <td data-bind="text: fuelLevel"></td>
            <td data-bind="text: currentOdometer"></td>
            <td data-bind="text: location"></td>

            <td data-bind="text: vehicleStatusCodeName"></td>
            <td data-bind="text: operationCodeName"></td>
            <td>
                <!-- ko template: { name: 'editActionVehicleTemplate' } -->
                <!-- /ko -->
            </td>
            <td>
                <!-- ko template: { name: 'deleteActionVehicleTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>
    @Html.Partial("_VehicleEditor")

</div>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->
@section inlinescripts
{
    <script type="text/javascript">
        require(["vehicle/vehicle.view", "common/confirmation.view"]);
        var ist = window.ist;
        @{
            <text>
        ist.resourceText.vehicleDeleteSuccessMsg = '@Cares.Web.Resources.Vehicle.Vehicle.VehicleDeleteSuccessMsg';
        ist.resourceText.vehicleDeleteErrorMsg = '@Cares.Web.Resources.Vehicle.Vehicle.VehicleDeleteErrorMsg';
        ist.resourceText.vehicleSaveSuccessMsg = '@Cares.Web.Resources.Vehicle.Vehicle.VehicleSaveSuccessMsg';
        ist.resourceText.vehicleSaveErrorMsg = '@Cares.Web.Resources.Vehicle.Vehicle.VehicleSaveErrorMsg';
        ist.resourceText.loadBaseDataFailedMsg = '@Cares.Web.Resources.Vehicle.Vehicle.LoadBaseDataFailedMsg';
        ist.resourceText.vehicleLoadFailedMsg = '@Cares.Web.Resources.Vehicle.Vehicle.VehicleLoadFailedMsg';
        </text>
        }
    </script>
}
<script src="~/Scripts/jquery.form.js"></script>