@{
    ViewBag.Title = Cares.Web.Resources.GeographicalHierarchy.Area.AreaLabel;
}
<div class="row" id="AreaBinding">

    <div class="row " data-bind="visible: !isAreaEditorVisible()">
        <h3 class="page-header float-left pageHeaderSection">@Cares.Web.Resources.GeographicalHierarchy.Area.AreaLabel</h3>
        <div class="header-toolsSection">
            <a href="#" class="label label-default create-new-icon" data-bind="click: onCreateForm" title="@Cares.Web.Resources.Shared.Common.CreateNew">@Cares.Web.Resources.Shared.Common.New</a>
            <a href="#" class="glyphicon glyphicon-filter " data-bind="visible: !filterSectionVisilble(), click: showFilterSection" title="@Cares.Web.Resources.Shared.Common.ShowFilter" style="display: none"></a>
        </div>
    </div>
    <div class="row searchFilterSection" data-bind="visible: !isAreaEditorVisible() && filterSectionVisilble()" style="display: none">
        <div class="well">
            <form class="form-horizontal">
                <div class="col-xs-3">
                    <input type="text" class="form-control" placeholder="@("<"+Cares.Web.Resources.GeographicalHierarchy.Area.Search+">")" data-bind="value: searchFilter" />
                </div>

                <div class="col-md-3">
                    <select class="form-control" data-bind="options: $root.baseCitiesList, optionsText: 'CityCodeName', optionsValue: 'CityId', optionsCaption: '&lt;' + '@Cares.Web.Resources.GeographicalHierarchy.Area.City'+ '&gt;' , value:baseCityFilter "></select>
                </div>

                <button type="submit" class="btn btn-success" data-bind="click: search">@Cares.Web.Resources.Shared.Common.Search</button>
                <button type="submit" class="btn btn-default" data-bind="click:resetResuults">@Cares.Web.Resources.Shared.Common.Reset</button>
                <a href="#" class="glyphicon glyphicon-resize-small float-right collapse-filter" data-bind="click:hideFilterSection" title="@Cares.Web.Resources.Shared.Common.HideSection"></a>
            </form>
        </div>
    </div>
    <div class="row searchFilterResultSection" data-bind="visible: !isAreaEditorVisible()">
        <div class="well">
            <table id="AreaTable" class="table table-condensed">
                <thead>
                    <tr>
                        <th class="Areacode th-pointer"> <span id="1">@Cares.Web.Resources.GeographicalHierarchy.Area.Code<span class="icon-up"></span></span></th>
                        <th class="AreaName th-pointer"> <span id="2">@Cares.Web.Resources.GeographicalHierarchy.Area.Name<span></span></span></th>
                        <th class="AreaDes th-pointer"> <span id="3">@Cares.Web.Resources.GeographicalHierarchy.Area.Description<span></span></span></th>
                        <th class="AreaCountry th-pointer"> <span id="4">@Cares.Web.Resources.GeographicalHierarchy.Area.City<span></span></span></th>
                        <th> <span></span></th>
                        <th> <span></span></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko template: { name: 'AreaFilterResultTemplate' , foreach: areas } -->
                    <!-- /ko -->
                </tbody>
            </table>
            <!-- ko with: pager -->
            @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
            <!-- /ko -->
        </div>
    </div>
    <script id="deleteActionAreaTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onDeleteItem" title="@Cares.Web.Resources.Shared.Common.Delete"><span class="glyphicon glyphicon-remove"></span></a>
    </script>

    <script id="editActionAreaTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onEditItem" title="@Cares.Web.Resources.Shared.Common.Edit"><span class="glyphicon glyphicon-edit"></span></a>
    </script>
    <script id="AreaFilterResultTemplate" type="text/html">
        <tr>
            <td data-bind="text: code"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: description"></td>
            <td data-bind="text: cityName"></td>
            <td>
                <!-- ko template: { name: 'editActionAreaTemplate' } -->
                <!-- /ko -->
            </td>
            <td>
                <!-- ko template: { name: 'deleteActionAreaTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>
    @Html.Partial("_AreaEditor")
</div>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->
@section inlinescripts
{
    <script type="text/javascript">
        require(["area/area.view", "common/confirmation.view"]);
    var ist = window.ist;
    @{
        <text>
        ist.resourceText.AreaSaveSuccessMessage = '@Cares.Web.Resources.GeographicalHierarchy.Area.AreaSaveSuccessMessage';
        ist.resourceText.AreaSaveFailError = '@Cares.Web.Resources.GeographicalHierarchy.Area.AreaSaveFailError';
        ist.resourceText.AreaLoadFailError = '@Cares.Web.Resources.GeographicalHierarchy.Area.AreaLoadFailError';
        ist.resourceText.AreaDeleteSuccessMessage = '@Cares.Web.Resources.GeographicalHierarchy.Area.AreaDeleteSuccessMessage';
        ist.resourceText.AreaDeleteFailError = '@Cares.Web.Resources.GeographicalHierarchy.Area.AreaDeleteFailError';
        ist.resourceText.AreaBaseDataLoadFailError = '@Cares.Web.Resources.GeographicalHierarchy.Area.AreaBaseDataLoadFailError';
        </text>
       }
    </script>

}
