@{
    ViewBag.Title = Cares.Web.Resources.GeographicalHierarchy.SubRegion.SubRegionLabel;
}
<div class="row" id="SubRegionBinding">

    <div class="row " data-bind="visible: !isSubRegionEditorVisible()">
        <h3 class="page-header float-left pageHeaderSection">@Cares.Web.Resources.GeographicalHierarchy.SubRegion.SubRegionLabel</h3>
        <div class="header-toolsSection">
            <a href="#" class="label label-default create-new-icon" data-bind="click: onCreateForm" title="@Cares.Web.Resources.Shared.Common.CreateNew">@Cares.Web.Resources.Shared.Common.New</a>
            <a href="#" class="glyphicon glyphicon-filter " data-bind="visible: !filterSectionVisilble(), click: showFilterSection" title="@Cares.Web.Resources.Shared.Common.ShowFilter" style="display: none"></a>
        </div>
    </div>
    <div class="row searchFilterSection" data-bind="visible: !isSubRegionEditorVisible() && filterSectionVisilble()" style="display: none">
        <div class="well">
            <form class="form-horizontal">
                <div class="col-xs-3">
                    <input type="text" class="form-control" placeholder="@("<"+Cares.Web.Resources.GeographicalHierarchy.SubRegion.Search+">")" data-bind="value: searchFilter" />
                </div>
                <div class="col-md-3">
                    <select class="form-control" data-bind="options: $root.baseRegionList, optionsText: 'RegionCodeName', optionsValue: 'RegionId', optionsCaption: '&lt;' + '@Cares.Web.Resources.GeographicalHierarchy.SubRegion.RegionName'+ '&gt;' , value:baseRegionFilter "></select>
                </div>
                <button type="submit" class="btn btn-success" data-bind="click: search">@Cares.Web.Resources.Shared.Common.Search</button>
                <button type="submit" class="btn btn-default" data-bind="click:resetResuults">@Cares.Web.Resources.Shared.Common.Reset</button>
                <a href="#" class="glyphicon glyphicon-resize-small float-right collapse-filter" data-bind="click:hideFilterSection" title="@Cares.Web.Resources.Shared.Common.HideSection"></a>
            </form>
        </div>
    </div>
    <div class="row searchFilterResultSection" data-bind="visible: !isSubRegionEditorVisible()">
        <div class="well">
            <table id="SubRegionTable" class="table table-condensed">
                <thead>
                    <tr>
                        <th class="SRcode th-pointer"> <span id="1">@Cares.Web.Resources.GeographicalHierarchy.SubRegion.Code<span class="icon-up"></span></span></th>
                        <th class="SRname th-pointer"> <span id="2">@Cares.Web.Resources.GeographicalHierarchy.SubRegion.Name<span></span></span></th>
                        <th class="SRDes th-pointer"> <span id="3">@Cares.Web.Resources.GeographicalHierarchy.SubRegion.Description<span></span></span></th>
                        <th class="SRRegion"> <span id="4">@Cares.Web.Resources.GeographicalHierarchy.SubRegion.RegionName<span></span></span></th>
                        <th> <span></span></th>
                        <th> <span></span></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko template: { name: 'SubRegionFilterResultTemplate' , foreach: subRegions } -->
                    <!-- /ko -->
                </tbody>
            </table>
            <!-- ko with: pager -->
            @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
            <!-- /ko -->
        </div>
    </div>
    <script id="deleteActionSubRegionTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onDeleteItem" title="@Cares.Web.Resources.Shared.Common.Delete"><span class="glyphicon glyphicon-remove"></span></a>
    </script>

    <script id="editActionSubRegionTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onEditItem" title="@Cares.Web.Resources.Shared.Common.Edit"><span class="glyphicon glyphicon-edit"></span></a>
    </script>
    <script id="SubRegionFilterResultTemplate" type="text/html">
        <tr>
            <td data-bind="text: code"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: description"></td>
            <td data-bind="text: regionName"></td>
            <td>
                <!-- ko template: { name: 'editActionSubRegionTemplate' } -->
                <!-- /ko -->
            </td>
            <td>
                <!-- ko template: { name: 'deleteActionSubRegionTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>
    @Html.Partial("_SubRegionEditor")
</div>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->
@section inlinescripts
{
    <script type="text/javascript">
        require(["subRegion/subRegion.view", "common/confirmation.view"]);
    var ist = window.ist;
    @{
        <text>
        ist.resourceText.SubRegionSaveSuccessMessage = '@Cares.Web.Resources.GeographicalHierarchy.SubRegion.SubRegionSaveSuccessMessage';
        ist.resourceText.SubRegionSaveFailError = '@Cares.Web.Resources.GeographicalHierarchy.SubRegion.SubRegionSaveFailError';
        ist.resourceText.SubRegionLoadFailError = '@Cares.Web.Resources.GeographicalHierarchy.SubRegion.SubRegionLoadFailError';
        ist.resourceText.SubRegionDeleteSuccessMessage = '@Cares.Web.Resources.GeographicalHierarchy.SubRegion.SubRegionDeleteSuccessMessage';
        ist.resourceText.SubRegionDeleteFailError = '@Cares.Web.Resources.GeographicalHierarchy.SubRegion.SubRegionDeleteFailError';
        ist.resourceText.SubRegionBaseDataLoadFailError = '@Cares.Web.Resources.GeographicalHierarchy.SubRegion.SubRegionBaseDataLoadFailError';
        </text>
       }
    </script>

}
