@using Cares.WebApp.Models
@using Microsoft.Ajax.Utilities

@{
    ViewBag.Title = "Hire Group";
}

<h3 class="page-header ">Step 3: Select Aditional Services </h3>
<div class="well col-md-12">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="" class="control-label h5 col-sm-3"><b>Pickup</b> </label>
            <div class="col-md-3">
            </div>
            <label for="" class="control-label h5 col-sm-3"><b>Return</b></label>
            <div class="col-md-3">
            </div>

        </div>
        <div class="form-group">
            <label for="" class="control-label h5 col-sm-3">Date/Time: </label>
            <label for="" class="control-label h5 col-sm-3">@ViewBag.BookingVM.StartDt </label>
            <label for="" class="control-label h5 col-sm-3">Date/Time: </label>
            <label for="" class="control-label h5 col-sm-3">@ViewBag.BookingVM.EndDt </label>

        </div>
        <div class="form-group">
            <label for="" class="control-label h5 col-sm-3">Location: </label>
            <label for="" class="control-label h5 col-sm-3">@ViewBag.BookingVM.OperationWorkPlaceCode </label>
            <label for="" class="control-label h5 col-sm-3">Location: </label>
            <label for="" class="control-label h5 col-sm-3">@ViewBag.BookingVM.OperationWorkPlaceCode </label>
        </div>
    </div>
</div>
<h4 class="page-header ">Insurance Rates </h4>
<div class="well col-md-12">
    @foreach (var item in ViewBag.availableInsurancesRates )
    {
        using (Html.BeginForm())
        {
            if (ViewBag.BookingVM != null)
            {
                @InputExtensions.Hidden(Html, "OperationWorkPlaceId", @ViewBag.BookingVM.OperationWorkPlaceId)
                @InputExtensions.Hidden(Html, "OperationWorkPlaceCode", @ViewBag.BookingVM.OperationWorkPlaceCode)
                @InputExtensions.Hidden(Html, "StartDateTime", @ViewBag.BookingVM.StartDt)
                @InputExtensions.Hidden(Html, "EndDateTime", @ViewBag.BookingVM.EndDt)
              @*  @Html.Hidden("TariffTypeCode", @item.TariffTypeCode) *@
            }
            <table >
                <tr>
                    <td style="width: 80%">
                        <table>
                            <tr><td><input class="checkbox" type="checkbox" value="" /></td></tr>
                            <tr>
                                <td><b>Insurance Type Name : </b></td>
                                <td> @item.InsuranceTypeName</td>
                            </tr>
                            <tr>
                                <td><b>Insurance Rate : </b></td>
                                <td> @item.InsuranceRate</td>
                                @InputExtensions.Hidden(Html, "InsuranceTypeId", @item.InsuranceTypeId)
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <hr />
        }
    }
</div>
<h4 class="page-header ">    Additional Driver  </h4>
<div class="well col-md-12">
    @foreach (var item in ViewBag.additionalDriverRates)
    {
        using (Html.BeginForm())
        {
            if (ViewBag.BookingVM != null)
            {
                @InputExtensions.Hidden(Html, "OperationWorkPlaceId", @ViewBag.BookingVM.OperationWorkPlaceId)
                @InputExtensions.Hidden(Html, "OperationWorkPlaceCode", @ViewBag.BookingVM.OperationWorkPlaceCode)
                @InputExtensions.Hidden(Html, "StartDateTime", @ViewBag.BookingVM.StartDt)
                @InputExtensions.Hidden(Html, "EndDateTime", @ViewBag.BookingVM.EndDt)
                //  @Html.Hidden("TariffTypeCode", @item.TariffTypeCode)
            }
            <table>
                <tr>

                    <td style="width: 80%">
                        <table>
                            <tr><td><input class="checkbox" type="checkbox" value="" /></td></tr>
                            <tr>
                                <td><b>Additional Driver Charge Rate : </b></td>
                                <td> @item.Rate</td>
                            </tr>
                            <tr>
                                <td><b>Enter Driver Name : </b></td>
                                <td> <input class="form-control" placeholder="Driver Name" type="text" /></td>
                            </tr>
                            <tr>
                                <td><b>Enter License # : </b></td>
                                <td> <input type="text" class="form-control" placeholder="License #" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <hr />
        }
    }
</div>
<h4 class="page-header "> Chauufer Rates  </h4>
<div class="well col-md-12">
    @foreach (var item in ViewBag.availableCahuffersRates)
    {
        using (Html.BeginForm())
        {
            if (ViewBag.BookingVM != null)
            {
                @InputExtensions.Hidden(Html, "OperationWorkPlaceId", @ViewBag.BookingVM.OperationWorkPlaceId)
                @InputExtensions.Hidden(Html, "OperationWorkPlaceCode", @ViewBag.BookingVM.OperationWorkPlaceCode)
                @InputExtensions.Hidden(Html, "StartDateTime", @ViewBag.BookingVM.StartDt)
                @InputExtensions.Hidden(Html, "EndDateTime", @ViewBag.BookingVM.EndDt)
                //  @Html.Hidden("TariffTypeCode", @item.TariffTypeCode)
            }
            <table>
                <tr>

                    <td style="width: 80%">
                        <table>
                            <tr><td><input class="checkbox" type="checkbox" value="" /></td></tr>
                            <tr>
                                <td><b>Designation Grade : </b></td>
                                <td> @item.DesignationGrade</td>
                            </tr>
                            <tr>
                                <td><b> Charge Rate : </b></td>
                                <td> @item.ChaufferChargeRate</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <hr />
        }
    }
</div>

<input type="submit" class="btn btn-info" value="Continue" />
<link href="~/Content/themes/App.css" rel="stylesheet" />

@section scripts
{
    <script src="~/Scripts/jquery-ui.min-1.11.1.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
