@{
    ViewBag.Title = Cares.Web.Resources.GeographicalHierarchy.Region.RegionLabel;
}
<div class="row" id="RegionBinding">

    <div class="row " data-bind="visible: !isRegionEditorVisible()">
        <h3 class="page-header float-left pageHeaderSection">@Cares.Web.Resources.GeographicalHierarchy.Region.RegionLabel</h3>
        <div class="header-toolsSection">
            <a href="#" class="label label-default create-new-icon" data-bind="click: onCreateForm" title="@Cares.Web.Resources.Shared.Common.CreateNew">@Cares.Web.Resources.Shared.Common.New</a>
            <a href="#" class="glyphicon glyphicon-filter " data-bind="visible: !filterSectionVisilble(), click: showFilterSection" title="@Cares.Web.Resources.Shared.Common.ShowFilter" style="display: none"></a>
        </div>
    </div>
    <div class="row searchFilterSection" data-bind="visible: !isRegionEditorVisible() && filterSectionVisilble()" style="display: none">
        <div class="well">
            <form class="form-horizontal">
                <div class="col-xs-3">
                    <input type="text" class="form-control" placeholder="@("<"+Cares.Web.Resources.GeographicalHierarchy.Region.Search+">")" data-bind="value: searchFilter" />
                </div>

                <div class="col-md-3">
                    <select class="form-control" data-bind="options: $root.baseCountriesList, optionsText: 'CountryCodeName', optionsValue: 'CountryId', optionsCaption: '&lt;' + '@Cares.Web.Resources.GeographicalHierarchy.Region.CountryName'+ '&gt;' , value:baseCountryFilter "></select>
                </div>

                <button type="submit" class="btn btn-success" data-bind="click: search">@Cares.Web.Resources.Shared.Common.Search</button>
                <button type="submit" class="btn btn-default" data-bind="click:resetResuults">@Cares.Web.Resources.Shared.Common.Reset</button>
                <a href="#" class="glyphicon glyphicon-resize-small float-right collapse-filter" data-bind="click:hideFilterSection" title="@Cares.Web.Resources.Shared.Common.HideSection"></a>
            </form>
        </div>
    </div>
    <div class="row searchFilterResultSection" data-bind="visible: !isRegionEditorVisible()">
        <div class="well">
            <table id="OrgGroupTable" class="table table-condensed">
                <thead>
                    <tr>
                        <th class="Rcode"> <span id="1">@Cares.Web.Resources.GeographicalHierarchy.Region.Code<span class="icon-up"></span></span></th>
                        <th class="Rname"> <span id="2">@Cares.Web.Resources.GeographicalHierarchy.Region.Name<span></span></span></th>
                        <th class="RDes"> <span id="3">@Cares.Web.Resources.GeographicalHierarchy.Region.Description<span></span></span></th>
                        <th class="RCountry"> <span id="4">@Cares.Web.Resources.GeographicalHierarchy.Region.CountryName<span></span></span></th>
                        <th> <span></span></th>
                        <th> <span></span></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko template: { name: 'WorkplaceTypeFilterResultTemplate' , foreach: regions } -->
                    <!-- /ko -->
                </tbody>
            </table>
            <!-- ko with: pager -->
            @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
            <!-- /ko -->
        </div>
    </div>
    <script id="deleteActionOrgGroupTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onDeleteItem" title="@Cares.Web.Resources.Shared.Common.Delete"><span class="glyphicon glyphicon-remove"></span></a>
    </script>

    <script id="editActionOrgRoupTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onEditItem" title="@Cares.Web.Resources.Shared.Common.Edit"><span class="glyphicon glyphicon-edit"></span></a>
    </script>
    <script id="WorkplaceTypeFilterResultTemplate" type="text/html">
        <tr>
            <td data-bind="text: code"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: description"></td>
            <td data-bind="text: countryName"></td>
            <td>
                <!-- ko template: { name: 'editActionOrgRoupTemplate' } -->
                <!-- /ko -->
            </td>
            <td>
                <!-- ko template: { name: 'deleteActionOrgGroupTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>
    @Html.Partial("_DocumentGroupEditor")
</div>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->
@section inlinescripts
{
    <script type="text/javascript">
        require(["documentGroup/documentGroup.view", "common/confirmation.view"]);
    var ist = window.ist;
    @{
        <text>
        ist.resourceText.RegionSaveSuccessMessage = '@Cares.Web.Resources.GeographicalHierarchy.Region.RegionSaveSuccessMessage';
        ist.resourceText.RegionSaveFailError = '@Cares.Web.Resources.GeographicalHierarchy.Region.RegionSaveFailError';
        ist.resourceText.RegionLoadFailError = '@Cares.Web.Resources.GeographicalHierarchy.Region.RegionLoadFailError';
        ist.resourceText.RegionDeleteSuccessMessage = '@Cares.Web.Resources.GeographicalHierarchy.Region.RegionDeleteSuccessMessage';
        ist.resourceText.RegionDeleteFailError = '@Cares.Web.Resources.GeographicalHierarchy.Region.RegionDeleteFailError';

        ist.resourceText.RegionBaseDataLoadFailError = '@Cares.Web.Resources.GeographicalHierarchy.Region.RegionBaseDataLoadFailError';
        </text>
       }
    </script>

}
